Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/unit/.*$, ^nova/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-grenade-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^api-.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*\.py$, ^nova/tests/functional/.*$, ^nova/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-slow: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$, ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-nova-v2-api: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-src-oslo.versionedobjects: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  ironic-tempest-dsvm-bfv: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$

[Community goal] Update contributor documentation
  CONTRIBUTING.rst
  doc/source/contributor/contributing.rst
  doc/source/contributor/index.rst
  doc/source/index.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

libvirt: Use virDomainBlockCopy to swap volumes when using -blockdev
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/guest.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Reproduce bug 1869050
  nova/tests/functional/test_server_group.py
Due: nova-tox-functional, nova-tox-functional-py35

Update scheduler instance info at confirm resize
  nova/compute/manager.py
  nova/tests/functional/test_server_group.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add test coverage of existing instance usage log policies
  nova/tests/unit/api/openstack/compute/test_instance_usage_audit_log.py
  nova/tests/unit/policies/test_instance_usage_audit_log.py
Due: nova-tox-functional, nova-tox-functional-py35

Introduce scope_types in os-instance-usage-audit-log
  nova/policies/instance_usage_audit_log.py
  nova/tests/unit/policies/test_instance_usage_audit_log.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add config option for neutron client retries
  nova/conf/neutron.py
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
  releasenotes/notes/neutron-connection-retries-c276010afe238abc.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add default cpu model for AArch64
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/utils.py
  releasenotes/notes/bug-1864588-737c29560effd16e.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Expose instance action event details out of the API
  doc/api_samples/versions/v21-version-get-resp.json
  doc/api_samples/versions/versions-get-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/instance_actions.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/policies/instance_actions.py
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/test_instance_actions.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/api/openstack/compute/test_instance_actions.py
  nova/tests/unit/cmd/test_policy.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/policies/test_instance_actions.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/bp-action-event-fault-details-8bfabc6e7390446a.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Functional test for UnexpectedDeletingTaskStateError
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/regressions/test_bug_1831771.py
Due: nova-tox-functional, nova-tox-functional-py35

Unplug VIFs as part of cleanup of networks
  nova/compute/manager.py
  nova/tests/functional/regressions/test_bug_1831771.py
  nova/tests/functional/test_compute_mgr.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/virt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Enable and use COMPUTE_ACCELERATORS trait.
  lower-constraints.txt
  nova/scheduler/request_filter.py
  nova/tests/functional/integrated_helpers.py
  nova/tests/unit/scheduler/test_request_filter.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/hyperv/driver.py
  nova/virt/ironic/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/powervm/driver.py
  nova/virt/vmwareapi/driver.py
  nova/virt/xenapi/driver.py
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Fix os-ips policy to be admin_or_owner
  nova/api/openstack/compute/ips.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add test coverage of existing ips policies
  nova/tests/unit/api/openstack/compute/test_serversV21.py
  nova/tests/unit/policies/test_server_ips.py
Due: nova-tox-functional, nova-tox-functional-py35

Introduce scope_types in os-ips
  nova/policies/ips.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add new default roles in os-ips policies
  nova/policies/ips.py
  nova/tests/unit/policies/test_server_ips.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add instance actions v284 samples test
  api-ref/source/os-instance-actions.inc
  api-ref/source/parameters.yaml
  doc/api_samples/os-instance-actions/v2.84/instance-action-get-non-admin-resp.json
  doc/api_samples/os-instance-actions/v2.84/instance-action-get-resp.json
  doc/api_samples/os-instance-actions/v2.84/instance-actions-list-resp.json
  doc/api_samples/os-instance-actions/v2.84/instance-actions-list-with-changes-before.json
  doc/api_samples/os-instance-actions/v2.84/instance-actions-list-with-changes-since.json
  doc/api_samples/os-instance-actions/v2.84/instance-actions-list-with-limit-resp.json
  doc/api_samples/os-instance-actions/v2.84/instance-actions-list-with-marker-resp.json
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.84/instance-action-get-non-admin-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.84/instance-action-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.84/instance-actions-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.84/instance-actions-list-with-changes-before.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.84/instance-actions-list-with-changes-since.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.84/instance-actions-list-with-limit-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.84/instance-actions-list-with-marker-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_instance_actions.py
Due: nova-tox-functional, nova-tox-functional-py35, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

FUP for Add a placement audit command
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/tests/functional/test_nova_manage.py
  releasenotes/notes/placement-audit-59a00dcfb188c6ac.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add new default roles in os-instance-usage-audit-log policies
  nova/api/openstack/compute/instance_usage_audit_log.py
  nova/policies/instance_usage_audit_log.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/policies/test_instance_usage_audit_log.py
  nova/tests/unit/test_policy.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Pass the actual target in os-instance-usage-audit-log policy
  nova/api/openstack/compute/instance_usage_audit_log.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Fix unlock server policy to be admin_or_owner
  nova/api/openstack/compute/lock_server.py
  nova/tests/unit/api/openstack/compute/test_lock_server.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Feature matrix: update AArch64 information
  doc/source/user/support-matrix.ini
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

Add new default roles in os-agents policies
  nova/api/openstack/compute/agents.py
  nova/policies/agents.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/policies/test_agents.py
  nova/tests/unit/test_policy.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add new default roles in os-hypervisors policies
  nova/api/openstack/compute/hypervisors.py
  nova/policies/hypervisors.py
  nova/tests/unit/api/openstack/compute/test_hypervisors.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/policies/test_hypervisors.py
  nova/tests/unit/test_policy.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Pass the actual target in os-agents policy
  nova/api/openstack/compute/agents.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add test coverage of existing hypervisors policies
  nova/tests/unit/policies/test_hypervisors.py
Due: nova-tox-functional, nova-tox-functional-py35

Introduce scope_types in os-hypervisors
  nova/policies/hypervisors.py
  nova/tests/unit/policies/test_hypervisors.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Pass the actual target in os-hypervisors policy
  nova/api/openstack/compute/hypervisors.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Correct limits policy check_str
  nova/policies/limits.py
  nova/tests/unit/test_policy.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add test coverage of existing migrate server policies
  nova/tests/unit/api/openstack/compute/test_migrate_server.py
  nova/tests/unit/policies/test_migrate_server.py
Due: nova-tox-functional, nova-tox-functional-py35

Add test coverage of existing migrations policies
  nova/tests/unit/api/openstack/compute/test_migrations.py
  nova/tests/unit/policies/test_migrations.py
Due: nova-tox-functional, nova-tox-functional-py35

Introduce scope_types in list migrations
  nova/policies/migrations.py
  nova/tests/unit/policies/test_migrations.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Fix unpause server policy to be admin_or_owner
  nova/api/openstack/compute/pause_server.py
  nova/tests/unit/api/openstack/compute/test_pause_server.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Block unsupported instance operations with accelerators.
  nova/api/openstack/compute/evacuate.py
  nova/api/openstack/compute/migrate_server.py
  nova/api/openstack/compute/servers.py
  nova/api/openstack/compute/suspend_server.py
  nova/compute/api.py
  nova/exception.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Bump compute rpcapi version and reduce Cyborg calls.
  nova/compute/manager.py
  nova/compute/rpcapi.py
  nova/conductor/manager.py
  nova/objects/service.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_rpcapi.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add cyborg tempest job.
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full
