Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, neutron-tempest-linuxbridge, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

nova-tox-functional-py38:
  parent: openstack-tox-functional-py38
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.8 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py38`` environment.
  
  
  ...

nova-tox-functional-py39:
  parent: openstack-tox-functional-py39
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.9 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py39`` environment.
  
  
  ...

nova-live-migration:
  parent: tempest-multinode-full-py3
  description: 'Run tempest live migration tests against local qcow2 ephemeral storage
  
    and shared LVM/iSCSI cinder volumes.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: (^tempest\.api\.compute\.admin\.(test_live_migration|test_migration))
  ...

nova-ovs-hybrid-plug:
  parent: tempest-multinode-full-py3
  description: 'Run move operations, reboot, and evacuation (via the same post-run hook
  
    as the nova-live-migration job) tests with the OVS network backend and
  
    the "iptables_hybrid" securitygroup firewall driver, aka "hybrid plug".
  
  ...

nova-lvm:
  parent: devstack-tempest
  description: 'Run tempest compute API tests using LVM image backend. This only runs
  
    against nova/virt/libvirt/*, nova/privsep/* and .zuul.yaml changes.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: ^tempest\.api\.compute
    tempest_black_regex: .*\[.*\bslow\b.*\]
  ...

nova-next:
  parent: tempest-multinode-full-py3
  description: 'This job was added in Newton when placement and cellsv2
  
    were optional. Placement and cellsv2 are required starting in Ocata. In
  
    Pike, the service user token functionality was added. This job is also
  
  ...

nova-multi-cell:
  parent: tempest-multinode-full-py3
  description: 'Multi-node python3 job which runs with two nodes and two non-cell0
  
    cells. The compute on the controller runs in cell1 and the compute
  
    on the subnode runs in cell2.
  
    '
  vars:
    tox_envlist: all
  ...

nova-osprofiler-redis:
  parent: tempest-smoke-py3-osprofiler-redis
  description: 'Runs osprofiler with the Redis collector on a subset of compute-specific
  
    tempest-full-py3 smoke tests.
  
    '
  required-projects:
  - openstack/nova
  vars:
    tox_envlist: all
  ...

ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  voting: false

nova-ceph-multistore:
  parent: devstack-plugin-ceph-tempest-py3
  description: 'Just like the normal ceph job, but with glance multistore
  
    '
  required-projects:
  - openstack/nova
  - openstack/os-brick
  pre-run:
  - playbooks/ceph/glance-copy-policy.yaml
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: true
  ...

cyborg-tempest:
  voting: false

barbican-tempest-plugin-simple-crypto:
  voting: false

libvirt: fix maxphysaddr passthrough dom parsing
  nova/tests/unit/virt/libvirt/test_config.py
  nova/virt/libvirt/config.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Bump MIN_{LIBVIRT,QEMU} for "Epoxy"
  doc/source/reference/libvirt-distro-support-matrix.rst
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/functional/libvirt/test_server_shares.py
  nova/tests/functional/libvirt/test_vgpu.py
  nova/tests/functional/regressions/test_bug_1951656.py
  nova/tests/functional/regressions/test_bug_2074219.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/epoxy-libvirt-QEMU-version-bump-acfbb1b9228e1136.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

libvirt: Add new option to enforce multipath volume connections
  nova/conf/libvirt.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/volume/test_nvme.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/volume/fibrechannel.py
  nova/virt/libvirt/volume/iscsi.py
  nova/virt/libvirt/volume/iser.py
  nova/virt/libvirt/volume/nvme.py
  releasenotes/notes/volume_enforce_multipath-c790e98b9b05848e.yaml
  requirements.txt
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix microversion 2.96 for update/rebuild APIs
  api-ref/source/servers-actions.inc
  api-ref/source/servers.inc
  doc/api_samples/servers/v2.96/server-action-rebuild-resp.json
  doc/api_samples/servers/v2.96/server-action-rebuild.json
  doc/api_samples/servers/v2.96/server-update-req.json
  doc/api_samples/servers/v2.96/server-update-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.96/server-action-rebuild-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.96/server-action-rebuild.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.96/server-create-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.96/server-create-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.96/server-update-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.96/server-update-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_servers.py
  releasenotes/notes/microversion-2-96-ca56e1e5a4ee4e02.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix microversion 2.98 doc/tests for update/rebuild APIs
  api-ref/source/servers.inc
  doc/api_samples/servers/v2.98/server-action-rebuild.json
  doc/api_samples/servers/v2.98/server-update-req.json
  doc/api_samples/servers/v2.98/server-update-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.98/server-action-rebuild-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.98/server-action-rebuild.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.98/server-update-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.98/server-update-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_servers.py
  releasenotes/notes/image-props-in-server-show-e28886d164774343.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Drop direct dependency on iso8601
  nova/api/openstack/compute/simple_tenant_usage.py
  nova/scheduler/host_manager.py
  nova/servicegroup/drivers/mc.py
  nova/tests/unit/api/openstack/compute/test_availability_zone.py
  nova/tests/unit/api/openstack/compute/test_instance_actions.py
  nova/tests/unit/api/openstack/compute/test_migrations.py
  nova/tests/unit/api/openstack/compute/test_servers.py
  nova/tests/unit/compute/test_api.py
  nova/tests/unit/db/main/test_api.py
  nova/tests/unit/objects/test_fields.py
  nova/tests/unit/objects/test_task_log.py
  nova/tests/unit/servicegroup/test_mc_servicegroup.py
  requirements.txt
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Update driver to deal with managed flag
  doc/source/admin/pci-passthrough.rst
  nova/conf/pci.py
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/enable-vfio-devices-with-kernel-variant-drivers-fb675539545d2db2.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Augment the LiveMigrateData object
  nova/objects/migrate_data.py
  nova/tests/unit/objects/test_migrate_data.py
  nova/tests/unit/objects/test_objects.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Update conductor and filters allowing migration with SR-IOV devices
  nova/conductor/tasks/live_migrate.py
  nova/objects/instance_pci_requests.py
  nova/pci/request.py
  nova/pci/stats.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/conductor/tasks/test_live_migrate.py
  nova/tests/unit/pci/test_request.py
  nova/tests/unit/pci/test_stats.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Update manager to allow vfio pci device live migration
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add live_migratable flag to PCI device specification
  nova/objects/pci_device.py
  nova/pci/devspec.py
  nova/tests/unit/objects/test_pci_device.py
  nova/tests/unit/pci/test_manager.py
  nova/tests/unit/pci/test_whitelist.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Support percentage-based HA policy
  nova/tests/unit/virt/vmwareapi/test_vm_util.py
  nova/virt/vmwareapi/vm_util.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Drop quota options from the DEFAULT section
  nova/conf/quota.py
  releasenotes/notes/remove-quota-opts-from-default-3fa4b60265b5c119.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

SAP: Use is_instance_storage_share instead of ssh
  nova/compute/manager.py
  nova/tests/unit/compute/test_virtapi.py
  nova/tests/unit/virt/hyperv/test_driver.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_virt_drivers.py
  nova/tests/unit/virt/vmwareapi/test_driver_api.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/hyperv/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/virtapi.py
  nova/virt/vmwareapi/driver.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Update libvirt fixtures to support hostdevs
  nova/tests/fixtures/libvirt.py
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

Update driver to map the targeted address for SR-IOV PCI devices
  nova/conf/pci.py
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/unit/virt/libvirt/test_migration.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/migration.py
  releasenotes/notes/migrate-vfio-devices-using-kernel-variant-drivers-d4180849f973012e.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmwarepi: Mock out nova.utils.spawn in test
  nova/tests/unit/virt/vmwareapi/test_driver_api.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

api: Add response body schemas for for console auth token APIs (v2.99)
  nova/api/openstack/compute/console_auth_tokens.py
  nova/api/openstack/compute/schemas/console_auth_tokens.py
  nova/tests/unit/api/openstack/compute/test_console_auth_tokens.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

api: project/tenant and user IDs are not UUIDs
  nova/api/openstack/compute/schemas/flavor_access.py
  nova/api/openstack/compute/schemas/servers.py
  nova/api/validation/parameter_types.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

tests: Filter out eventlet deprecation warnings
  nova/tests/fixtures/nova.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

api: Address TODO in microversion v2.99
  nova/api/openstack/compute/console_auth_tokens.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/api/openstack/compute/schemas/console_auth_tokens.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix serial console for ironic
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
  releasenotes/notes/fix-broken-serial-console-with-ironic-830dbd920e8c0f15.yaml
  requirements.txt
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Cherry-Pick: Disconnecting volume from the compute host
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/exception.py
  nova/tests/unit/cmd/test_manage.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Cherry-Pick: Skip snapshot test when missing qemu-img
  nova/tests/unit/virt/test_virt_drivers.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

Cherry-Pick: Functional test test_boot_reschedule_with_proper_pci_device_count
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

Cherry-Pick: fix qemu-img version dependent tests
  nova/tests/unit/image/test_format_inspector.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

Cherry-Pick: hardware: Correct log
  nova/virt/hardware.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Cherry-Pick: Reproduce iso regression with deep format inspection
  nova/tests/unit/image/test_format_inspector.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

Cherry-Pick: Additional qemu safety checking on base images
  nova/image/format_inspector.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_imagebackend.py
  nova/tests/unit/virt/libvirt/test_utils.py
  nova/virt/libvirt/imagebackend.py
  nova/virt/libvirt/utils.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Cherry-Pick: Fix test_vmdk_bad_descriptor_mem_limit and test_vmdk_bad_descriptor_mem_limit_stream_optimized
  nova/tests/unit/image/test_format_inspector.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

Cherry-Pick: Stabilize iso format unit tests
  nova/tests/unit/image/test_format_inspector.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

Cherry-Pick: Refactor vf profile for PCI device
  nova/network/neutron.py
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/unit/network/test_neutron.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, neutron-tempest-linuxbridge, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Cherry-Pick: Separate OSError with ValueError
  nova/cmd/manage.py
  nova/tests/unit/cmd/test_manage.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Cherry-Pick: libvirt: call get_capabilities() with all CPUs online
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/cpu/api.py
  nova/virt/libvirt/driver.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Cherry-Pick: Added context manager for instance lock
  nova/cmd/manage.py
  nova/tests/unit/cmd/test_manage.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Cherry-Pick: [tools] Backport validator: handle unmaintained
  tools/check-cherry-picks.sh
Due: nova-tox-functional-py38, nova-tox-functional-py39

Cherry-Pick: [doc]Fix the device_spec config doc about placement
  nova/conf/pci.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Cherry-Pick: libvirt: Wrap un-proxied listDevices() and listAllDevices()
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/libvirt/host.py
  releasenotes/notes/unproxied-libvirt-list-devices-7cd218c1a33535c9.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Cherry-Pick: add functional repoducer for bug 2065927
  nova/tests/functional/libvirt/test_power_manage.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

Cherry-Pick: Fix PCI passthrough cleanup on reschedule
  doc/notification_samples/instance-create-error.json
  nova/compute/claims.py
  nova/pci/manager.py
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/unit/compute/test_shelve.py
  nova/tests/unit/pci/test_manager.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Path conditions:
  nova-tox-functional-py38: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py39: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-ovs-hybrid-plug: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: any of: ^nova/virt/libvirt/.*$, ^nova/privsep/.*$, .zuul.yaml
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-ceph-multistore: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: any of: ^nova/network/.*$, nova/virt/libvirt/vif.py
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-tempest-plugin-simple-crypto: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-compute-local-ephemeral: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
