Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

.zuul.yaml:

# See https://docs.openstack.org/infra/manual/drivers.html#naming-with-zuul-v3
# for job naming conventions.
- job:
    name: nova-dsvm-base
    parent: legacy-dsvm-base
    description: |
      The base job definition for nova devstack/tempest jobs.
      Contains common configuration.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-lvm
    parent: nova-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml

- job:
    name: nova-multiattach
    parent: nova-dsvm-base
    description: |
      Run tempest integration tests with volume multiattach support enabled.
      This job will only work starting with Queens.
      It uses the default Cinder volume type in devstack (lvm) and the
      default compute driver in devstack (libvirt). It also disables the
      Pike Ubuntu Cloud Archive because volume multiattach support with
      the libvirt driver only works with qemu<2.10 or libvirt>=3.10 which
      won't work with the Pike UCA.
    branches: ^(?!stable/(newton|ocata|pike)).*$
    run: playbooks/legacy/nova-multiattach/run.yaml
    post-run: playbooks/legacy/nova-multiattach/post.yaml

- project:
    # Please try to keep the list of job names sorted alphabetically.
    check:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    experimental:
      jobs:
        - nova-lvm

Make ResourceClass.normalize_name handle sharp S
  nova/rc_fields.py
  nova/tests/unit/objects/test_fields.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: Allow to specify granular CPU feature flags
  nova/conf/libvirt.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/libvirt-cpu-model-extra-flags-a23085f58bd22d27.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add regression test for persisted RequestSpec.retry from failed resize
  nova/tests/functional/regressions/test_bug_1718512.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove mox in test_virt_drivers.py
  nova/tests/unit/virt/test_virt_drivers.py
Due: nova-tox-functional, nova-tox-functional-py35

api-ref: Parameter verification for servers.inc (2/3)
  api-ref/source/parameters.yaml
  api-ref/source/servers.inc
Due: none

api-ref: Parameter verification for servers.inc (3/3)
  api-ref/source/parameters.yaml
  api-ref/source/servers.inc
Due: none

api-ref: Fix parameter order in rebuild
  api-ref/source/servers-actions.inc
Due: none

Remove mox in tests/unit/test_utils.py
  nova/tests/unit/test_utils.py
Due: nova-tox-functional, nova-tox-functional-py35

Imported Translations from Zanata
  nova/locale/cs/LC_MESSAGES/nova.po
  nova/locale/de/LC_MESSAGES/nova.po
  nova/locale/es/LC_MESSAGES/nova.po
  nova/locale/fr/LC_MESSAGES/nova.po
  nova/locale/it/LC_MESSAGES/nova.po
  nova/locale/ja/LC_MESSAGES/nova.po
  nova/locale/ko_KR/LC_MESSAGES/nova.po
  nova/locale/pt_BR/LC_MESSAGES/nova.po
  nova/locale/ru/LC_MESSAGES/nova.po
  nova/locale/tr_TR/LC_MESSAGES/nova.po
  nova/locale/zh_CN/LC_MESSAGES/nova.po
  nova/locale/zh_TW/LC_MESSAGES/nova.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Add microversion to support extra_specs in flavor API.
  api-ref/source/flavors.inc
  api-ref/source/parameters.yaml
  doc/api_samples/flavor-manage/v2.61/flavor-create-post-req.json
  doc/api_samples/flavor-manage/v2.61/flavor-create-post-resp.json
  doc/api_samples/flavor-manage/v2.61/flavor-update-req.json
  doc/api_samples/flavor-manage/v2.61/flavor-update-resp.json
  doc/api_samples/flavors/v2.61/flavor-get-resp.json
  doc/api_samples/flavors/v2.61/flavors-detail-resp.json
  doc/api_samples/flavors/v2.61/flavors-list-resp.json
  doc/api_samples/versions/v21-version-get-resp.json
  doc/api_samples/versions/versions-get-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/flavor_manage.py
  nova/api/openstack/compute/flavors.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/api/openstack/compute/views/flavors.py
  nova/tests/functional/api_sample_tests/api_samples/flavor-manage/v2.61/flavor-create-post-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/flavor-manage/v2.61/flavor-create-post-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/flavor-manage/v2.61/flavor-update-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/flavor-manage/v2.61/flavor-update-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/flavors/v2.61/flavor-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/flavors/v2.61/flavors-detail-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/flavors/v2.61/flavors-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_flavors.py
  nova/tests/unit/api/openstack/compute/test_flavors.py
  nova/tests/unit/api/openstack/fakes.py
  releasenotes/notes/add-extra-specs-to-flavor-list-362a4794c0871f2f.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

trivial: fix a comment typo
  nova/console/manager.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

xenapi: Support live migration in pooled multi-nodes environment
  nova/tests/unit/virt/xenapi/test_vif.py
  nova/tests/unit/virt/xenapi/test_vmops.py
  nova/tests/unit/virt/xenapi/test_xenapi.py
  nova/virt/xenapi/fake.py
  nova/virt/xenapi/vif.py
  nova/virt/xenapi/vm_utils.py
  nova/virt/xenapi/vmops.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

uncap eventlet in nova
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Remove :return from update_provider_tree docstring
  nova/virt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix race fail in test_resize_with_reschedule_then_live_migrate
  nova/tests/functional/regressions/test_bug_1718512.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove RequestContext.instance_lock_checked
  nova/context.py
  nova/tests/unit/test_context.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove mox in test_neutron_security_groups.py
  nova/tests/unit/api/openstack/compute/test_neutron_security_groups.py
  nova/tests/unit/api/openstack/compute/test_security_groups.py
Due: nova-tox-functional, nova-tox-functional-py35

remove ec2 in service and cmd
  nova/api/openstack/compute/availability_zone.py
  nova/api/openstack/compute/hosts.py
  nova/api/openstack/compute/services.py
  nova/cmd/manage.py
  nova/service.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Give volume DriverBlockDevice classes a common prefix
  nova/tests/unit/virt/test_block_device.py
  nova/virt/block_device.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Make the nova-multiattach job non-voting temporarily
  .zuul.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove the branch specifier from the nova-multiattach job
  .zuul.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Don't persist RequestSpec.retry
  nova/objects/request_spec.py
  nova/tests/functional/regressions/test_bug_1718512.py
  nova/tests/unit/objects/test_request_spec.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Don't persist RequestSpec.retry
  nova/objects/request_spec.py
  nova/test.py
  nova/tests/functional/regressions/test_bug_1718512.py
  nova/tests/unit/objects/test_request_spec.py
  nova/virt/fake.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Skip placement on rebuild in same host
  nova/scheduler/manager.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/scheduler/test_scheduler.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use Queens UCA for nova-multiattach job
  .zuul.yaml
  playbooks/legacy/nova-multiattach/run.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move xenapi disk resizing to privsep.
  nova/privsep/fs.py
  nova/tests/unit/virt/disk/test_api.py
  nova/tests/unit/virt/xenapi/test_vm_utils.py
  nova/virt/disk/api.py
  nova/virt/xenapi/vm_utils.py
  releasenotes/notes/privsep-rocky-rootwrap-adds-644c43fbd86f9f8a.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Sync xenapi and libvirt on what flags to pass e2fsck.
  nova/tests/unit/virt/xenapi/test_vm_utils.py
  nova/virt/xenapi/vm_utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move xenapi partition copies to privsep.
  nova/privsep/xenapi.py
  nova/virt/xenapi/vm_utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Update link of metadata
  api-guide/source/server_concepts.rst
Due: none

libvirt: refactor get_base_config to accept host arg
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: move version to string in utils
  nova/tests/unit/virt/libvirt/fake_libvirt_utils.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Cleanup patch for the cell-disable series
  doc/source/cli/nova-manage.rst
  nova/tests/unit/objects/test_cell_mapping.py
Due: nova-tox-functional, nova-tox-functional-py35

tests: Fix how context managers are mocked
  nova/tests/unit/virt/xenapi/test_vm_utils.py
Due: nova-tox-functional, nova-tox-functional-py35

Address nits in Idf57fb5fbc611abb83943bd7e36d3cebf03b3977
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-tox-functional, nova-tox-functional-py35

doc: cleanup API guide about instance faults
  api-guide/source/faults.rst
Due: none
