Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, neutron-tempest-linuxbridge, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

nova-tox-functional-py38:
  parent: openstack-tox-functional-py38
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.8 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py38`` environment.
  
  
  ...

nova-tox-functional-py39:
  parent: openstack-tox-functional-py39
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.9 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py39`` environment.
  
  
  ...

nova-live-migration:
  parent: tempest-multinode-full-py3
  description: 'Run tempest live migration tests against local qcow2 ephemeral storage
  
    and shared LVM/iSCSI cinder volumes.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: (^tempest\.api\.compute\.admin\.(test_live_migration|test_migration))
  ...

nova-ovs-hybrid-plug:
  parent: tempest-multinode-full-py3
  description: 'Run move operations, reboot, and evacuation (via the same post-run hook
  
    as the nova-live-migration job) tests with the OVS network backend and
  
    the "iptables_hybrid" securitygroup firewall driver, aka "hybrid plug".
  
  ...

nova-lvm:
  parent: devstack-tempest
  description: 'Run tempest compute API tests using LVM image backend. This only runs
  
    against nova/virt/libvirt/*, nova/privsep/* and .zuul.yaml changes.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: ^tempest\.api\.compute
    tempest_black_regex: .*\[.*\bslow\b.*\]
  ...

nova-next:
  parent: tempest-multinode-full-py3
  description: 'This job was added in Newton when placement and cellsv2
  
    were optional. Placement and cellsv2 are required starting in Ocata. In
  
    Pike, the service user token functionality was added. This job is also
  
  ...

nova-multi-cell:
  parent: tempest-multinode-full-py3
  description: 'Multi-node python3 job which runs with two nodes and two non-cell0
  
    cells. The compute on the controller runs in cell1 and the compute
  
    on the subnode runs in cell2.
  
    '
  vars:
    tox_envlist: all
  ...

nova-osprofiler-redis:
  parent: tempest-smoke-py3-osprofiler-redis
  description: 'Runs osprofiler with the Redis collector on a subset of compute-specific
  
    tempest-full-py3 smoke tests.
  
    '
  required-projects:
  - openstack/nova
  vars:
    tox_envlist: all
  ...

ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  voting: false

nova-ceph-multistore:
  parent: devstack-plugin-ceph-tempest-py3
  description: 'Just like the normal ceph job, but with glance multistore
  
    '
  required-projects:
  - openstack/nova
  - openstack/os-brick
  pre-run:
  - playbooks/ceph/glance-copy-policy.yaml
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: true
  ...

cyborg-tempest:
  voting: false

barbican-tempest-plugin-simple-crypto:
  voting: false

ironic: Fix fetching instances
  nova/virt/ironic/driver.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Reproduce bug/2097359
  nova/tests/unit/objects/test_instance_numa.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

Update InstanceNUMACell version after data migration
  nova/objects/instance_numa.py
  nova/tests/unit/objects/test_instance_numa.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Update InstanceNUMACell version in more cases
  nova/objects/instance_numa.py
  nova/tests/unit/objects/test_instance_numa.py
  nova/tests/unit/objects/test_request_spec.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

repoduce post liberty pre vicoria instance numa db issue
  nova/objects/instance_numa.py
  nova/tests/unit/objects/test_instance_numa.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

allow upgrade of pre-victoria InstanceNUMACells
  nova/objects/instance_numa.py
  nova/tests/unit/objects/test_instance_numa.py
  releasenotes/notes/instance-numa-object-upgrade-afa5bb96149ca2f5.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix case sensitive comparison
  nova/tests/unit/virt/test_hardware.py
  nova/virt/hardware.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add fill_metadata() to InstanceList
  nova/db/main/api.py
  nova/objects/instance.py
  nova/tests/unit/objects/test_instance.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

move nova-ovs-hybrid-plug to deploy with spice and fix qxl default
  .zuul.yaml
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/make-virtio-the-default-spice-video-model-fff5189fa637d4bd.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add a new ImagePropertiesWeigher
  doc/source/admin/scheduling.rst
  nova/conf/scheduler.py
  nova/objects/image_meta.py
  nova/scheduler/weights/image_props.py
  nova/tests/unit/objects/test_image_meta.py
  nova/tests/unit/scheduler/weights/test_weights_image_props.py
  releasenotes/notes/bp-image-metadata-props-weigher-b09125e1837428f5.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Per-Property ImageMetaPropsWeigher
  doc/source/admin/scheduling.rst
  nova/conf/scheduler.py
  nova/scheduler/weights/image_props.py
  nova/tests/unit/scheduler/weights/test_weights_image_props.py
  releasenotes/notes/bp-image-metadata-props-weigher-b09125e1837428f5.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

FUP for reno issues
  releasenotes/notes/make-virtio-the-default-spice-video-model-fff5189fa637d4bd.yaml
Due: none

Reproducer for bug 2098892
  nova/test.py
  nova/tests/functional/regressions/test_bug_2098892.py
Due: nova-tox-functional-py38, nova-tox-functional-py39

libvirt: Fix regression of listDevices() return type
  nova/tests/fixtures/libvirt.py
  nova/tests/functional/regressions/test_bug_2098892.py
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/libvirt/host.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

libvirt: direct SPICE console object changes
  nova/objects/console_auth_token.py
  nova/tests/functional/api_sample_tests/test_console_auth_tokens.py
  nova/tests/unit/fake_console_auth_token.py
  nova/tests/unit/objects/test_console_auth_token.py
  nova/tests/unit/objects/test_objects.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

libvirt: direct SPICE console database changes
  nova/db/main/migrations/versions/2903cd72dc14_add_tls_port_to_console_auth_tokens.py
  nova/db/main/models.py
  nova/tests/unit/db/main/test_migrations.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

libvirt: allow direct SPICE connections to qemu
  .zuul.yaml
  api-ref/source/parameters.yaml
  api-ref/source/servers-remote-consoles.inc
  doc/api_samples/os-console-auth-tokens/v2.99/create-spice-direct-console-req.json
  doc/api_samples/os-console-auth-tokens/v2.99/get-console-connect-info-get-resp.json
  doc/api_samples/os-remote-consoles/v2.99/create-spice-direct-console-req.json
  doc/api_samples/os-remote-consoles/v2.99/create-spice-direct-console-resp.json
  doc/api_samples/versions/v21-version-get-resp.json
  doc/api_samples/versions/versions-get-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/console_auth_tokens.py
  nova/api/openstack/compute/remote_consoles.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/api/openstack/compute/schemas/remote_consoles.py
  nova/compute/manager.py
  nova/conf/spice.py
  nova/tests/functional/api_sample_tests/api_samples/os-console-auth-tokens/v2.99/create-spice-direct-console-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-console-auth-tokens/v2.99/get-console-connect-info-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-remote-consoles/v2.99/create-spice-direct-console-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-remote-consoles/v2.99/create-spice-direct-console-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_console_auth_tokens.py
  nova/tests/functional/api_sample_tests/test_remote_consoles.py
  nova/tests/unit/api/openstack/compute/test_console_auth_tokens.py
  nova/tests/unit/api/openstack/compute/test_remote_consoles.py
  releasenotes/notes/spice-direct-consoles-4bee40633633c971.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add managed flag to PCI device specification
  nova/objects/pci_device.py
  nova/pci/devspec.py
  nova/pci/manager.py
  nova/pci/whitelist.py
  nova/tests/unit/objects/test_pci_device.py
  nova/tests/unit/pci/test_manager.py
  nova/tests/unit/pci/test_whitelist.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Fix delete_shadow_vms() for VolumeMoRefProxy
  nova/virt/vmwareapi/volumeops.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

SAP: add get_scheduler_settings admin API
  nova/api/openstack/compute/sap_admin_api.py
  nova/conf/base.py
  nova/policies/sap_admin_api.py
  nova/tests/unit/test_policy.py
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add support for showing scheduler_hints in server details
  api-ref/source/parameters.yaml
  api-ref/source/servers-actions.inc
  api-ref/source/servers.inc
  doc/api_samples/servers/v2.100/server-action-rebuild-resp.json
  doc/api_samples/servers/v2.100/server-create-resp.json
  doc/api_samples/servers/v2.100/server-get-resp.json
  doc/api_samples/servers/v2.100/server-update-req.json
  doc/api_samples/servers/v2.100/server-update-resp.json
  doc/api_samples/servers/v2.100/servers-details-resp.json
  doc/api_samples/servers/v2.100/servers-list-resp.json
  doc/api_samples/versions/v21-version-get-resp.json
  doc/api_samples/versions/versions-get-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/api/openstack/compute/schemas/servers.py
  nova/api/openstack/compute/servers.py
  nova/api/openstack/compute/views/servers.py
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.100/server-action-rebuild-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.100/server-action-rebuild.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.100/server-create-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.100/server-create-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.100/server-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.100/server-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.100/server-update-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.100/server-update-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.100/servers-details-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.100/servers-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_servers.py
  nova/tests/unit/api/openstack/compute/test_servers.py
  releasenotes/notes/bp-show-sched-hints-server-details-22bc15d5ea81e43a.yaml
Due: nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-ovs-hybrid-plug, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Path conditions:
  nova-tox-functional-py38: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py39: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-ovs-hybrid-plug: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: any of: ^nova/virt/libvirt/.*$, ^nova/privsep/.*$, .zuul.yaml
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-ceph-multistore: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: any of: ^nova/network/.*$, nova/virt/libvirt/vif.py
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-tempest-plugin-simple-crypto: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-compute-local-ephemeral: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
