Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

nova-dsvm-base:
  parent: legacy-dsvm-base
  description: 'The base job definition for nova devstack/tempest jobs.
  
    Contains common configuration.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-lvm:
  parent: nova-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml

nova-multiattach:
  parent: nova-dsvm-base
  description: 'Run tempest integration tests with volume multiattach support enabled.
  
    This job will only work starting with Queens.
  
    It uses the default Cinder volume type in devstack (lvm) and the
  
    default compute driver in devstack (libvirt). It also disables the
  
  ...

libvirt: move get_numa_memnode in designer module
  nova/virt/libvirt/designer.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: move vpu_realtime_scheduler in designer
  nova/virt/libvirt/designer.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add --by-service to discover_hosts
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/objects/host_mapping.py
  nova/tests/unit/objects/test_host_mapping.py
  nova/tests/unit/test_nova_manage.py
  releasenotes/notes/discover-hosts-by-service-06ee20365b895127.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add CellMappingList.get_by_disabled() query method
  nova/objects/cell_mapping.py
  nova/tests/functional/db/test_cell_mapping.py
  nova/tests/unit/objects/test_cell_mapping.py
  nova/tests/unit/objects/test_objects.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Handle EndpointNotFound when building image_ref_url in notifications
  nova/notifications/base.py
  nova/tests/unit/notifications/test_base.py
  releasenotes/notes/bug-1753550-image-ref-url-notifications-42df5911a46b7de7.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Preserve multiattach flag when refreshing connection_info
  nova/tests/unit/virt/test_block_device.py
  nova/virt/block_device.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

List instances performace optimization
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move placement test cases from db to placement
  nova/tests/functional/api/openstack/placement/db/__init__.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/db/test_resource_class_cache.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
Due: nova-tox-functional, nova-tox-functional-py35

make PowerVM capabilities explicit
  nova/tests/unit/virt/powervm/test_driver.py
  nova/virt/powervm/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Change compute mgr placement check to region_name
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/conf_fixture.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Always deallocate networking before reschedule if using Neutron
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add functional regression test for bug 1746509
  nova/tests/functional/regressions/test_bug_1746509.py
Due: nova-tox-functional, nova-tox-functional-py35

remove a comment about ec2
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add host field to InstanceActionEvent
  nova/objects/instance_action.py
  nova/tests/unit/api/openstack/compute/test_instance_actions.py
  nova/tests/unit/fake_server_actions.py
  nova/tests/unit/objects/test_instance_action.py
  nova/tests/unit/objects/test_objects.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Updated from global requirements
  test-requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Add the version description for InstanceActionEventList
  nova/objects/instance_action.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use microversion parse 0.2.1
  nova/api/openstack/placement/deploy.py
  nova/api/openstack/placement/microversion.py
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  nova/tests/unit/api/openstack/placement/test_handler.py
  nova/tests/unit/api/openstack/placement/test_microversion.py
  nova/tests/unit/api/openstack/placement/test_util.py
  requirements.txt
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Stop using mox in virt/xenapi/image/test_vdi_through_dev.py
  nova/tests/unit/virt/xenapi/image/test_vdi_through_dev.py
Due: nova-tox-functional, nova-tox-functional-py35

Move _make_instance_list call outside of DB transaction context
  nova/objects/instance.py
  nova/tests/functional/regressions/test_bug_1746509.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add disabled option to create_cell command
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
  releasenotes/notes/add-disabled-to-create_cell-feb1643ec4716eb2.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Modify nova-manage cell_v2 list_cells to display "disabled" column
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Updated from global requirements
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Docs: modernise links
  README.rst
Due: none

[placement] Add sending global request ID in get
  nova/compute/manager.py
  nova/compute/resource_tracker.py
  nova/conductor/tasks/migrate.py
  nova/scheduler/client/report.py
  nova/scheduler/manager.py
  nova/scheduler/utils.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_shelve.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/tests/unit/scheduler/test_scheduler.py
  nova/tests/unit/scheduler/test_utils.py
  releasenotes/notes/bug-1734625-419fd0e21bd332f6.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix api-ref: nova image-meta is deprecated from 2.39
  api-ref/source/images.inc
Due: none

Standardize '_get_XXX_constraint' functions
  nova/tests/unit/virt/test_hardware.py
  nova/virt/hardware.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

tox: Fix indentation
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

tox: Remove unnecessary configuration
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Unit test framework: common FakeResponse
  nova/tests/unit/fake_requests.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/tests/unit/test_identity.py
  nova/tests/unit/test_metadata.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix comments in get_all_with_shared()
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

remove unnecessary short cut in placement
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Path conditions:
  nova-dsvm-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-multiattach: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
