Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^api-.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*\.py$, ^nova/tests/functional/.*$, ^nova/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-ceph: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$, ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-v20-api: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-src-oslo.versionedobjects: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$

Remove legacy RequestSpec compat from conductor unshelve_instance
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Remove legacy RequestSpec compat from conductor rebuild_instance
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Remove legacy RequestSpec compat code from live migrate task
  nova/conductor/tasks/live_migrate.py
  nova/tests/unit/conductor/tasks/test_live_migrate.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Use renamed template 'integrated-gate-py3'
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix a broken-link in nova doc
  doc/source/admin/pci-passthrough.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Handle binding_failed vif plug errors on compute restart
  nova/compute/manager.py
  nova/network/os_vif_util.py
  nova/tests/unit/network/test_os_vif_util.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Handle unbound vif plug errors on compute restart
  nova/compute/manager.py
  nova/network/os_vif_util.py
  nova/tests/unit/network/test_os_vif_util.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Redirect user/placement to placement docs
  doc/source/_extra/.htaccess
  doc/test/redirect-tests.txt
Due: nova-tox-functional, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Document using service user tokens for long running operations
  doc/source/admin/live-migration-usage.rst
  doc/source/admin/migrate-instance-with-snapshot.rst
  doc/source/admin/support-compute.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Exclude build request marker from server listing
  nova/objects/build_request.py
  nova/tests/functional/db/test_build_request.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Pass request_spec from compute to cell conductor on reschedule
  nova/compute/manager.py
  nova/compute/rpcapi.py
  nova/conductor/manager.py
  nova/conductor/tasks/migrate.py
  nova/objects/service.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_rpcapi.py
  nova/tests/unit/conductor/tasks/test_migrate.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Update port device_owner when unshelving
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix an inaccurate link in nova doc
  doc/source/admin/pci-passthrough.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Remove "Resource Providers" upgrade check
  doc/source/cli/nova-status.rst
  nova/cmd/status.py
  nova/tests/functional/test_nova_status.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Remove "API Service Version" upgrade check
  doc/source/cli/nova-status.rst
  nova/cmd/status.py
  nova/tests/unit/cmd/test_status.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Drop old service version check compat from _delete_while_booting
  nova/compute/api.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix a broken link
  doc/source/admin/pci-passthrough.rst
  doc/source/user/cells.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Update instance.availability_zone during live migration
  nova/conductor/tasks/live_migrate.py
  nova/tests/functional/test_availability_zones.py
  nova/tests/unit/conductor/tasks/test_live_migrate.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

vmware:add support for the hw_video_ram image property
  doc/source/user/flavors.rst
  nova/tests/unit/virt/vmwareapi/test_vmops.py
  nova/virt/vmwareapi/vm_util.py
  nova/virt/vmwareapi/vmops.py
  releasenotes/notes/vmware-add-max-ram-validation-f27f94d4a04aef3a.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

nit: Add space to feature support docs
  doc/source/user/support-matrix.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Add functional regression recreate test for bug 1790204
  nova/tests/functional/regressions/test_bug_1790204.py
Due: nova-tox-functional

Add links to summit videos in user/cells.rst
  doc/source/user/cells.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Fix destination_type attribute in the bdm_v2 documentation
  doc/source/user/block-device-mapping.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode
