Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

nova-dsvm-base:
  parent: legacy-dsvm-base
  description: 'The base job definition for nova devstack/tempest jobs.
  
    Contains common configuration.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-lvm:
  parent: nova-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml

nova-multiattach:
  parent: nova-dsvm-base
  description: 'Run tempest integration tests with volume multiattach support enabled.
  
    This job will only work starting with Queens.
  
    It uses the default Cinder volume type in devstack (lvm) and the
  
    default compute driver in devstack (libvirt). It also disables the
  
  ...

Cleanup the manage-volumes admin doc
  doc/source/admin/manage-volumes.rst
Due: none

install-guide: Make formatting of console consistent
  doc/source/install/controller-install-obs.rst
Due: none

Bindep does not catch missing libpcre3-dev on Ubuntu
  bindep.txt
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use correct arguments in task inits
  nova/tests/unit/virt/powervm/tasks/test_network.py
  nova/tests/unit/virt/powervm/tasks/test_storage.py
  nova/tests/unit/virt/powervm/tasks/test_vm.py
  nova/virt/powervm/tasks/network.py
  nova/virt/powervm/tasks/storage.py
  nova/virt/powervm/tasks/vm.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

install-guide: Wrap long console command
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
Due: none

Avoid inventory DELETE API (no conflict detection)
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: remove TODO on validation of scsi model
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: add Linux distribution guest only description for inject_xxx options
  doc/source/admin/admin-password-injection.rst
  nova/conf/libvirt.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Updated from global requirements
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Test websocketproxy with TLS in the nova-next job
  .zuul.yaml
  playbooks/legacy/nova-next/run.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove old flavor_access_get_by_flavor_id db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/tests/unit/db/test_db_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove old flavor_get_by_name db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/tests/functional/db/test_flavor.py
  nova/tests/unit/db/test_db_api.py
  nova/tests/unit/utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove old flavor_destroy db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/tests/functional/db/test_flavor.py
  nova/tests/unit/db/test_db_api.py
  nova/tests/unit/db/test_sqlalchemy_migration.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove old flavor_get_by_flavor_id db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/tests/functional/db/test_flavor.py
  nova/tests/unit/db/test_db_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove old flavor_get db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/tests/unit/db/fakes.py
  nova/tests/unit/db/test_db_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove old flavor_get_all db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/tests/functional/db/test_flavor.py
  nova/tests/unit/db/test_db_api.py
  nova/tests/unit/test_flavors.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove old flavor_create db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/objects/flavor.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/db/test_db_api.py
  nova/tests/unit/db/test_sqlalchemy_migration.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove deprecated aggregate DB compatibility
  nova/cmd/manage.py
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/objects/aggregate.py
  nova/tests/functional/db/test_aggregate.py
  nova/tests/unit/api/openstack/compute/test_availability_zone.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/db/test_db_api.py
  nova/tests/unit/db/test_sqlalchemy_migration.py
  nova/tests/unit/objects/test_aggregate.py
  nova/tests/unit/test_availability_zones.py
  nova/tests/unit/virt/xenapi/test_xenapi.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Drop extra loop which modifies Cinder volume status
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Store block device mappings in cell0
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add functional tests to ensure BDM removal on delete
  nova/tests/fixtures.py
  nova/tests/functional/regressions/test_bug_1404867.py
Due: nova-tox-functional, nova-tox-functional-py35

doc: Clarify how to create your own filter
  doc/source/user/filter-scheduler.rst
Due: none

Python 3 fix for sphinx doc
  doc/ext/feature_matrix.py
Due: nova-tox-functional, nova-tox-functional-py35

Don't JSON encode instance_info.traits for ironic
  nova/tests/unit/virt/ironic/test_patcher.py
  nova/virt/ironic/patcher.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Detach volumes when VM creation fails
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add admin guide doc on volume multiattach support
  doc/source/admin/manage-volumes.rst
Due: none

Fix SUSE Install Guide: Placement port
  doc/source/install/controller-install-obs.rst
Due: none

trivial: Move __init__ function
  nova/pci/whitelist.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Enable native mode for ScaleIO volumes
  nova/virt/libvirt/volume/scaleio.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

api-ref: Further clarify placement aggregates
  placement-api-ref/source/aggregates.inc
Due: none

Add a nova-caching-scheduler job to the experimental queue
  .zuul.yaml
  devstack/tempest-dsvm-caching-scheduler-rc
  playbooks/legacy/nova-caching-scheduler/post.yaml
  playbooks/legacy/nova-caching-scheduler/run.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Trivial: Update help of enabled_filters
  nova/conf/scheduler.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix error handling in compute API for multiattach errors
  nova/compute/api.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Only pull associated *sharing* providers
  nova/scheduler/client/report.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Clarify update_provider_tree docstring
  nova/virt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove single quotes from posargs on stestr run commands
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Path conditions:
  nova-dsvm-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-multiattach: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
