Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

nova-dsvm-base:
  parent: legacy-dsvm-base
  description: 'The base job definition for nova devstack/tempest jobs.
  
    Contains common configuration.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-lvm:
  parent: nova-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml

nova-multiattach:
  parent: nova-dsvm-base
  description: 'Run tempest integration tests with volume multiattach support enabled.
  
    This job will only work starting with Queens.
  
    It uses the default Cinder volume type in devstack (lvm) and the
  
    default compute driver in devstack (libvirt). It also disables the
  
  ...

Convert websocketproxy to use db for token validation
  nova/cmd/baseproxy.py
  nova/conf/consoleauth.py
  nova/conf/workarounds.py
  nova/console/websocketproxy.py
  nova/tests/unit/console/test_websocketproxy.py
  releasenotes/notes/workarounds-enable-consoleauth-71d68c3879dc2c8a.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Update layout docs for running console proxies
  doc/source/user/cellsv2-layout.rst
Due: none

Deprecate the nova-consoleauth service
  api-guide/source/general_info.rst
  doc/source/admin/remote-console-access.rst
  doc/source/admin/system-admin.rst
  doc/source/cli/index.rst
  doc/source/cli/nova-consoleauth.rst
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
  doc/source/install/get-started-compute.rst
  nova/cmd/consoleauth.py
  releasenotes/notes/deprecate-nova-consoleauth-ed6ccbc324a0fb10.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Handle @safe_connect returns None side effect in _ensure_resource_provider
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

openstack_scheduler_region added
  nova/scheduler/turbonomic_scheduler.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix being able to hard reboot a pausing instance
  api-ref/source/servers-actions.inc
  nova/compute/api.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: Make `cpu_model_extra_flags` case-insensitive for real
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use test_base symbols directly
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/db/test_base.py
Due: nova-tox-functional, nova-tox-functional-py35

Base test module/class for functional placement db
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/db/test_base.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
Due: nova-tox-functional, nova-tox-functional-py35

Use helpers in test_resource_provider (func)
  nova/tests/functional/api/openstack/placement/db/test_base.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
Due: nova-tox-functional, nova-tox-functional-py35

placement: Object changes for granular
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Changing scheduler sync event from INFO to DEBUG
  nova/scheduler/host_manager.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove mox in test_compute_api.py (1)
  nova/tests/unit/compute/test_compute_api.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove mox in unit/virt/xenapi/test_vmops.py
  nova/tests/unit/virt/xenapi/test_vmops.py
  tests-py3.txt
Due: nova-tox-functional, nova-tox-functional-py35

Make association_refresh configurable
  nova/conf/compute.py
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
  releasenotes/notes/add-association-refresh-config-opt-d1ca1af238d10c9a.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix typos in Host aggregates documentation
  doc/source/admin/configuration/schedulers.rst
  doc/source/user/aggregates.rst
Due: none

Migrate tempest-dsvm-multinode-live-migration job in-tree
  .zuul.yaml
  playbooks/legacy/nova-live-migration/post.yaml
  playbooks/legacy/nova-live-migration/run.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove mox in test_xenapi.py (1)
  nova/tests/unit/virt/xenapi/test_xenapi.py
Due: nova-tox-functional, nova-tox-functional-py35

Changed section turbonomic scheduler parameters should be added to
  nova/scheduler/turbonomic_scheduler.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove unused methods in nova/compute/utils.py
  nova/compute/api.py
  nova/compute/utils.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/compute/test_compute_utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Updated comment
  nova/scheduler/turbonomic_scheduler.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Updated section 3
  nova/scheduler/turbonomic_scheduler.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: check image type before removing snapshots in _cleanup_resize
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: remove old rbd snapshot removal error handling
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

placement: Granular GET /allocation_candidates
  nova/api/openstack/placement/handlers/allocation_candidate.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/api/openstack/placement/schemas/allocation_candidate.py
  nova/api/openstack/placement/util.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/fixtures.py
  nova/tests/functional/api/openstack/placement/gabbits/granular.yaml
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  nova/tests/unit/api/openstack/placement/test_util.py
  placement-api-ref/source/allocation_candidates.inc
  placement-api-ref/source/parameters.yaml
  placement-api-ref/source/resource_providers.inc
  releasenotes/notes/placement-granular-resource-requests-944f9b73f306429f.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add tests for alloc cands with poor local disk
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-tox-functional, nova-tox-functional-py35

doc: Don't confuse CPU pinning/NUMA as Hyper-V only
  doc/source/admin/cpu-topologies.rst
Due: none

Use .. deprecated:: theme for deprecations
  doc/source/admin/networking-nova.rst
  doc/source/cli/nova-cells.rst
  doc/source/cli/nova-network.rst
  doc/source/user/cells.rst
Due: none

Add docs for hw_video:ram_max_mb flavor extra spec
  doc/source/user/flavors.rst
Due: none

compute: introduce cpu_shared_set option
  nova/conf/compute.py
  nova/tests/unit/virt/test_hardware.py
  nova/virt/hardware.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: always pass emulator threads policy
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[Doc]Link policies file into api
  doc/source/contributor/api.rst
Due: none

Followup for multiple member_of qparams support
  nova/api/openstack/placement/lib.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Handle PortNotFoundClient exception when getting ports
  nova/network/security_group/neutron_driver.py
  nova/tests/unit/network/security_group/test_neutron_driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

remove IVS plug/unplug as they're moved to separate plugin
  nova/network/linux_net.py
  nova/network/os_vif_util.py
  nova/privsep/libvirt.py
  nova/tests/unit/network/test_os_vif_util.py
  nova/tests/unit/virt/libvirt/test_designer.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/designer.py
  nova/virt/libvirt/vif.py
  releasenotes/notes/move-ivs-plug-unplug-to-separate-os-vif-plugin-f7ee42da4ed9739b.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix detach_volume calls when rolling back a failed attach
  nova/tests/unit/virt/test_block_device.py
  nova/virt/block_device.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Path conditions:
  nova-dsvm-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-multiattach: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
