Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

nova-dsvm-base:
  parent: legacy-dsvm-base
  description: 'The base job definition for nova devstack/tempest jobs.
  
    Contains common configuration.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-lvm:
  parent: nova-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml

nova-multiattach:
  parent: nova-dsvm-base
  description: 'Run tempest integration tests with volume multiattach support enabled.
  
    This job will only work starting with Queens.
  
    It uses the default Cinder volume type in devstack (lvm) and the
  
    default compute driver in devstack (libvirt). It also disables the
  
  ...

Add a prelude release note for the 17.0.0 Queens GA
  releasenotes/notes/queens_prelude-4bdf895167f979b2.yaml
Due: none

Fix pike GA prelude release note
  releasenotes/notes/pike_prelude-fedf9f27775d135f.yaml
Due: none

update docstring param description
  nova/privsep/libvirt.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

live-mig: keep disk device address same
  nova/tests/unit/virt/libvirt/test_migration.py
  nova/virt/libvirt/migration.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Make bdms querying in multi-cell use scatter-gather and ignore down cell
  nova/api/openstack/compute/extended_volumes.py
  nova/tests/unit/api/openstack/compute/test_extended_volumes.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

fix link
  HACKING.rst
Due: none

Make the InstanceMapping marker UUID-like
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

XenAPI: Provide support matrix and doc for VGPU
  doc/source/admin/virtual-gpu.rst
Due: none

Remove unnecessary variables
  nova/compute/migration_list.py
  nova/quota.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove unnecessary arguments in notification methods
  nova/compute/manager.py
  nova/compute/utils.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_compute_utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

trivial: Fix microversion number in test comment
  nova/tests/unit/api/openstack/compute/test_hypervisors.py
Due: nova-tox-functional, nova-tox-functional-py35

TrivialFix: Add a blankline
  nova/virt/block_device.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add log for snapshot an instance
  nova/compute/manager.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use with method to consistent oslo timeutils usage
  nova/compute/manager.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove a duplicate colon
  doc/source/index.rst
Due: none

Workaround glanceclient bug when CONF.glance.api_servers not set
  nova/image/glance.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/image/test_glance.py
  releasenotes/notes/bug-1747511-glance-api-servers-1e17757b901a76d8.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fixed auto-convergence option name in doc
  doc/source/admin/configuring-migrations.rst
  doc/source/admin/live-migration-usage.rst
Due: none

Fix wrong link for "Manage Flavors" in CPU topologies doc
  doc/source/admin/cpu-topologies.rst
  doc/source/admin/flavors.rst
Due: none

Add release note for Aggregate[Core|Ram|Disk]Filter change
  releasenotes/notes/agg-resource-filters-6e24c92a69afa85f.yaml
Due: none

Bindep does not catch missing libpcre3-dev on Ubuntu
  bindep.txt
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Bump compute RPC API to version 5.0
  nova/compute/manager.py
  nova/objects/service.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_compute_utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Compute RPC client bump to 5.0
  nova/compute/rpcapi.py
  nova/conductor/tasks/migrate.py
  nova/tests/unit/compute/test_rpcapi.py
  nova/tests/unit/conductor/tasks/test_migrate.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Clean up reservations in migrate_task call path
  nova/conductor/manager.py
  nova/conductor/tasks/migrate.py
  nova/tests/unit/conductor/tasks/test_migrate.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Encode libvirt domain XML in UTF-8
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/libvirt/host.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove MigrationPreCheckClientException
  nova/conductor/manager.py
  nova/exception.py
  nova/tests/unit/api/openstack/compute/test_migrate_server.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

VGPU: Modify the example of vgpu white_list set
  nova/conf/devices.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

unquiesce instance on volume snapshot failure
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add the ability to get absolute limits from Cinder
  nova/tests/unit/volume/test_cinder.py
  nova/volume/cinder.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Check quota before creating volume snapshots
  nova/compute/api.py
  nova/tests/unit/api/openstack/compute/test_server_actions.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

doc: fix the link for the evacuate cli
  doc/source/admin/node-down.rst
Due: none

doc: mention that --on-shared-storage is not needed with nova evacuate
  doc/source/admin/evacuate.rst
Due: none

Refine waiting for vif plug events during _hard_reboot
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Update .gitreview for stable/queens
  .gitreview
Due: nova-tox-functional, nova-tox-functional-py35

Update UPPER_CONSTRAINTS_FILE for stable/queens
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Update reno for stable/queens
  releasenotes/source/index.rst
  releasenotes/source/queens.rst
Due: none

Fix grammar error
  nova/network/base_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Path conditions:
  nova-dsvm-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-multiattach: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
