Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, neutron-linuxbridge-tempest, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Path conditions:
  nova-tox-functional-centos8-py36: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py38: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py39: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-live-migration-ceph: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: unless all of: ^(?!.zuul.yaml)(?!nova/virt/libvirt/)(?!nova/privsep/).*$, ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-ceph-multistore: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-linuxbridge-tempest: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-tempest-plugin-simple-crypto: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovs-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovs-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-compute-local-ephemeral: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Don't provide MTU value in metadata service if DHCP is enabled
  nova/tests/unit/virt/test_netutils.py
  nova/virt/netutils.py
  releasenotes/notes/Do-not-send-mtu-value-in-metadata-for-networks-with-enabled-dhcp-641506f2a13b540f.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Fix AttrError when setting restart-priority
  nova/virt/vmwareapi/cluster_util.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Read iso file in binary mode during upload
  nova/virt/vmwareapi/images.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

[SAP] No custom filters/weighers for Non-Vmware
  nova/scheduler/filters/bigvm_filter.py
  nova/scheduler/filters/shard_filter.py
  nova/scheduler/filters/vm_size_threshold_filter.py
  nova/scheduler/utils.py
  nova/scheduler/weights/hv_ram_class.py
  nova/scheduler/weights/resize_same_host.py
  nova/scheduler/weights/resize_same_shard.py
  nova/tests/unit/scheduler/filters/test_bigvm_filters.py
  nova/tests/unit/scheduler/filters/test_shard_filter.py
  nova/tests/unit/scheduler/filters/test_vm_size_threshold_filters.py
  nova/tests/unit/scheduler/test_utils.py
  nova/tests/unit/scheduler/weights/test_weights_resize_same_host.py
  nova/tests/unit/scheduler/weights/test_weights_resize_same_shard.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

[SAP] Workaround libvirt version mismatch
  nova/virt/libvirt/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Use pre-commit from openstack/nova master
  .pre-commit-config.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Update serial console example client for py3
  doc/source/contributor/testing/serial-console.rst
Due: none

Make scheduler lazy-load the placement client
  nova/scheduler/manager.py
  nova/tests/unit/scheduler/test_manager.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add grenade-skip-level-always to nova
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

nova-manage: add sync_instances_flavor command
  nova/cmd/manage.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

mypy: Fix implicit optional usage
  nova/pci/request.py
  nova/pci/stats.py
  nova/pci/whitelist.py
  nova/scheduler/client/report.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/event.py
  nova/virt/libvirt/utils.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix a typo in this URL: https://docs.openstack.org/nova/latest/admin/availability-zones.html
  doc/source/admin/availability-zones.rst
Due: none

Verify a move operation for cross_az_attach=False
  nova/tests/functional/test_cross_az_attach.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

vmware: Do not reconfigure vm without nics in finsh_migration
  nova/tests/unit/virt/vmwareapi/test_vmops.py
  nova/virt/vmwareapi/vmops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix VMwareLiveMigrateData upstream patch spelling
  nova/virt/vmwareapi/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Process unlimited exceptions raised by unplug_vifs
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add debug log for scheduler weight calculation
  nova/weights.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Reproducer for bug 1951656
  nova/tests/functional/regressions/test_bug_1951656.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Handle mdev devices in libvirt 7.7+
  nova/tests/functional/regressions/test_bug_1951656.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/host.py
  nova/virt/libvirt/utils.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Update to the PTL guide
  doc/source/contributor/ptl-guide.rst
Due: none

Allow running functional-py311
  tox.ini
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

doc: Update version info
  doc/source/reference/database-migrations.rst
Due: none

db: Don't rely on branched connections
  nova/db/api/migrations/env.py
  nova/db/main/migrations/env.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

tests: Add missing args to sqlalchemy.Table
  nova/tests/unit/test_fixtures.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

db: Remove unnecessary 'insert()' argument
  nova/db/main/api.py
  nova/objects/aggregate.py
  nova/tests/unit/db/main/test_api.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

db: Avoid relying on autobegin
  nova/db/main/api.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

tests: Pass parameters to sqlalchemy.text() as bindparams
  nova/tests/unit/test_fixtures.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

bigvm/ComputeNodeList: Only get non-deleted nodes
  nova/objects/compute_node.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

bigvm: Catch all set-inventory exceptions when updating RPs
  nova/bigvm/manager.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

bigvm: Replace removed _update_inventory() call
  nova/bigvm/manager.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

bigvm: Use public SchedulerReportClient.get_provider_traits
  nova/bigvm/manager.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

bigvm: Catch possible KeyError from get_inventory
  nova/bigvm/manager.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

bigvm: Fix ResourceRequest._add_resource() usage
  nova/bigvm/manager.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Support targeting an ESXi during live-migration
  nova/api/openstack/compute/migrate_server.py
  nova/api/openstack/compute/schemas/migrate_server.py
  nova/compute/api.py
  nova/tests/unit/api/openstack/compute/test_migrate_server.py
  nova/virt/vmwareapi/driver.py
  nova/virt/vmwareapi/vmops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

add hypervisor version weigher
  doc/source/admin/scheduling.rst
  doc/source/reference/isolate-aggregates.rst
  nova/conf/scheduler.py
  nova/scheduler/weights/hypervisor_version.py
  nova/tests/unit/scheduler/weights/test_weights_hypervisor_version.py
  releasenotes/notes/hypervisor-version-weigher-d0bba77e720edafe.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Remove deleted projects from flavor access list
  nova/api/openstack/compute/flavor_access.py
  nova/api/openstack/identity.py
  nova/tests/unit/api/openstack/compute/test_flavor_access.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Remove focal job for 2023.2
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Stop ignoring missing compute nodes in claims
  nova/compute/resource_tracker.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/compute/test_shelve.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Remove silent failure to find a node on rebuild
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral
