Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/nova
  - openstack/tempest

nova-tox-functional-py36:
  parent: openstack-tox-functional-py36
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.6 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py36`` environment.
  
  
  ...

nova-tox-functional-py37:
  parent: openstack-tox-functional-py37
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.7 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py37`` environment.
  
  
  ...

nova-live-migration:
  parent: nova-dsvm-multinode-base
  description: 'Run tempest live migration tests against both local storage and shared
  
    storage using ceph (the environment is reconfigured for ceph after the
  
    local storage tests are run). Also runs simple evacuate tests.
  
  ...

nova-lvm:
  parent: devstack-tempest
  description: 'Run tempest compute API tests using LVM image backend. This only runs
  
    against nova/virt/libvirt/* changes.
  
    '
  voting: false
  vars:
    tox_envlist: all
    tempest_test_regex: ^tempest\.api\.compute
    tempest_black_regex: .*\[.*\bslow\b.*\]
  ...

nova-next:
  parent: tempest-multinode-full-py3
  description: 'This job was added in Newton when placement and cellsv2
  
    were optional. Placement and cellsv2 are required starting in Ocata. In
  
    Pike, the service user token functionality was added. This job is also
  
  ...

nova-grenade-multinode:
  parent: nova-dsvm-multinode-base
  description: 'Multi-node grenade job which runs gate/live_migration/hooks tests under
  
    python 3.
  
    In other words, this tests live and cold migration and resize with
  
    mixed-version compute services which is important for things like
  
    rolling upgrade support.
  
  ...

nova-multi-cell:
  parent: tempest-multinode-full-py3
  description: 'Multi-node python3 job which runs with two nodes and two non-cell0
  
    cells. The compute on the controller runs in cell1 and the compute
  
    on the subnode runs in cell2.
  
    '
  vars:
    tox_envlist: all
  ...

nova-osprofiler-redis:
  parent: tempest-smoke-py3-osprofiler-redis
  description: 'Runs osprofiler with the Redis collector on a subset of compute-specific
  
    tempest-full-py3 smoke tests.
  
    '
  required-projects:
  - openstack/nova
  vars:
    tox_envlist: all
  ...

ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  voting: false

devstack-plugin-ceph-tempest-py3:
  voting: false

cyborg-tempest:
  voting: false

compute: Skip cinder_encryption_key_id check when booting from volume
  nova/compute/api.py
  nova/tests/functional/regressions/test_bug_1895696.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Victoria 22.0.0 prelude section
  releasenotes/notes/victoria-prelude-9b4c16ff8c6e7f3e.yaml
Due: none

Removed the host FQDN from the exception message
  nova/exception.py
  nova/virt/libvirt/host.py
  nova/virt/libvirt/volume/mount.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

fakelibvirt: Use versionutils to set min versions found in the driver
  nova/tests/unit/virt/libvirt/fakelibvirt.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

doc: correct the link to user/flavor.rst
  doc/source/admin/cpu-topologies.rst
Due: none

doc: Fix rendering in the accelerator support doc
  api-guide/source/accelerator-support.rst
Due: none

releasenote: Add known issue for bug #1894804
  releasenotes/notes/bug-1894804-c03c20cd983c3192.yaml
Due: none

test_evacuate.sh: Support libvirt-bin and libvirtd systemd services
  gate/test_evacuate.sh
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

tests: Add regression test for bug 1894966
  nova/tests/functional/regressions/test_bug_1894966.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

api: Set min, maxItems for server_group.policies field
  nova/api/openstack/compute/schemas/server_groups.py
  nova/tests/functional/regressions/test_bug_1894966.py
  releasenotes/notes/bug-1894966-d25c12b1320cb910.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

libvirt: Provide VIR_MIGRATE_PARAM_PERSIST_XML during live migration
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

hyperv: Configures chassis asset tags for VMs.
  nova/tests/unit/virt/hyperv/test_vmops.py
  nova/virt/hyperv/vmops.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Set different VirtualDevice.key
  nova/tests/unit/virt/vmwareapi/test_vm_util.py
  nova/virt/vmwareapi/vm_util.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

libvirt: Remove MIN_LIBVIRT_FILE_BACKED_DISCARD_VERSION
  nova/objects/migrate_data.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_migration.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/migration.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

test_evacuate.sh: Stop using libvirt-bin
  gate/test_evacuate.sh
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

libvirt: Bump MIN_{LIBVIRT,QEMU}_VERSION and NEXT_MIN_{LIBVIRT,QEMU}_VERSION
  nova/tests/functional/libvirt/test_vtpm.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/victoria-libvirt-version-bump-e1a09b3a72ee56a4.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Ensure source compute is up when confirming a resize
  nova/api/openstack/compute/servers.py
  nova/compute/api.py
  nova/tests/fixtures.py
  nova/tests/functional/test_cross_cell_migrate.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/scheduler/test_host_manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Improve CinderFixtureNewAttachFlow
  nova/tests/fixtures.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Robustify attachment tracking in CinderFixtureNewAttachFlow
  nova/tests/fixtures.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

compute: Use source_bdms to reset attachment_ids during LM rollback
  nova/compute/manager.py
  nova/objects/migrate_data.py
  nova/tests/unit/compute/test_compute.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

compute: refactor volume bdm rollback error handling
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Add regression tests for bug #1889108
  nova/tests/functional/regressions/test_bug_1889108.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

compute: Don't delete the original attachment during pre LM rollback
  nova/compute/manager.py
  nova/tests/functional/regressions/test_bug_1889108.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Test for disabling greendns
  nova/tests/functional/test_monkey_patch.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

docs: fix aggregate weight multiplier property names
  doc/source/user/filter-scheduler.rst
Due: none

libvirt: make mdev types name attribute be optional
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Log stack trace when fails launching a defined domain
  nova/tests/unit/virt/libvirt/test_guest.py
  nova/virt/libvirt/guest.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

zuul: Introduce nova-evacuate
  .zuul.yaml
  playbooks/nova-evacuate/run.yaml
  roles/run-evacuate-hook/README.rst
  roles/run-evacuate-hook/files/setup_evacuate_resources.sh
  roles/run-evacuate-hook/files/test_evacuate.sh
  roles/run-evacuate-hook/files/test_negative_evacuate.sh
  roles/run-evacuate-hook/tasks/main.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

libvirt:driver:Disallow AIO=native when 'O_DIRECT' is not available
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/bug-1841363-fallback-to-threaded-io-when-native-io-is-not-supported-fe56014e9648a518.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

[stable-only] Update .gitreview for stable/victoria
  .gitreview
Due: nova-tox-functional-py36, nova-tox-functional-py37

[stable-only] Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: nova-tox-functional-py36, nova-tox-functional-py37

Add reproducer for bug #1894095
  nova/tests/functional/libvirt/test_numa_live_migration.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tox-functional-py36: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py37: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: unless all of: ^(?!.zuul.yaml)(?!nova/virt/libvirt/)(?!nova/privsep/).*$, ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-simple-crypto-devstack-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
