Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tox-functional-py36: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py37: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: unless all of: ^(?!.zuul.yaml)(?!nova/virt/libvirt/)(?!nova/privsep/).*$, ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-simple-crypto-devstack-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Reproducer unit test for bug 1860312
  nova/tests/unit/api/openstack/compute/test_services.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Allow deletion of compute service with no compute nodes
  nova/api/openstack/compute/services.py
  nova/tests/unit/api/openstack/compute/test_services.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

tests: Remove 'stub_out_trusted_certs'
  nova/tests/unit/api/openstack/compute/test_servers.py
  nova/tests/unit/api/openstack/fakes.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

manager: Reduce unnecessary calls
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

I2f9ad3df25306e070c8c3538bfed1212d6d8682f fup: add log
  nova/api/openstack/compute/services.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Fix request path to query a resource provider by uuid
  nova/cmd/manage.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Reduce mocking in test_reject_open_redirect for compat
  nova/tests/unit/console/test_websocketproxy.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Restore original time override in test_archive_task_logs
  nova/tests/functional/test_nova_manage.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

zuul: Increase GLANCE_LIMIT_IMAGE_SIZE_TOTAL for nova-lvm
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Rename vgpu options to mdev
  doc/source/admin/virtual-gpu.rst
  nova/conf/devices.py
  nova/tests/functional/libvirt/test_reshape.py
  nova/tests/functional/libvirt/test_vgpu.py
  nova/tests/unit/conf/test_devices.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/generic_mdevs-0e1b3ef8385f7fae.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

libvirt: Handle silent failures to extend volume within os-brick
  nova/exception.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

compute: Avoid duplicate BDMs during reserve_block_device_name
  nova/compute/manager.py
  nova/tests/functional/regressions/test_bug_1937375.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Add functional test for bug 1937375
  nova/tests/functional/regressions/test_bug_1937375.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

fup: Move _wait_for_volume_attach into InstanceHelperMixin
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/regressions/test_bug_1675570.py
  nova/tests/functional/regressions/test_bug_1937375.py
  nova/tests/functional/test_conf_max_attach_disk_devices.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Smartnic support - cyborg drive
  nova/accelerator/cyborg.py
  nova/tests/unit/accelerator/test_cyborg.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

smartnic support - new vnic type
  nova/network/model.py
  nova/network/neutron.py
  nova/objects/network_request.py
  nova/tests/unit/api/openstack/compute/test_servers.py
  nova/tests/unit/network/test_neutron.py
  nova/tests/unit/objects/test_network_request.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

smartnic support - create arqs
  nova/conductor/manager.py
  nova/network/neutron.py
  nova/tests/unit/conductor/test_conductor.py
  nova/tests/unit/network/test_neutron.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

smartnic support - build instance with smartnic arqs
  nova/compute/manager.py
  nova/network/neutron.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/network/test_neutron.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

smartnic support - cleanup arqs
  nova/compute/manager.py
  nova/compute/utils.py
  nova/conductor/manager.py
  nova/network/neutron.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_compute_utils.py
  nova/tests/unit/conductor/test_conductor.py
  nova/tests/unit/network/test_neutron.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

smartnic support - reject server move and suspend
  nova/accelerator/cyborg.py
  nova/api/openstack/compute/attach_interfaces.py
  nova/api/openstack/compute/evacuate.py
  nova/api/openstack/compute/migrate_server.py
  nova/api/openstack/compute/servers.py
  nova/api/openstack/compute/shelve.py
  nova/api/openstack/compute/suspend_server.py
  nova/compute/api.py
  nova/exception.py
  nova/network/neutron.py
  nova/objects/service.py
  nova/tests/unit/accelerator/test_cyborg.py
  nova/tests/unit/api/openstack/compute/admin_only_action_common.py
  nova/tests/unit/compute/test_api.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/conductor/test_conductor.py
  nova/tests/unit/network/test_neutron.py
  nova/tests/unit/policies/test_servers.py
  releasenotes/notes/smartnic-support-0339efe4b68075fe.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

smartnic support - functional tests
  nova/tests/fixtures/cyborg.py
  nova/tests/fixtures/neutron.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Add regression test for bug 1938326
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/regressions/test_bug_1938326.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Change the admin-visible logs for mdev support
  nova/conf/devices.py
  nova/exception.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

zuul: Mark live migration jobs as non-voting due to bug #1912310
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

func: Increase rpc_response_timeout in TestMultiCellMigrate tests
  nova/tests/functional/test_cross_cell_migrate.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Block servers with vGPU and device profile in heal_allocations
  doc/source/admin/troubleshooting/orphaned-allocations.rst
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/exception.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/unit/cmd/test_manage.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Register database config options ourselves
  nova/conf/database.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Enable auto-generation of migrations
  nova/db/api/legacy_migrations/versions/067_train.py
  nova/db/api/migrations/script.py.mako
  nova/db/api/migrations/versions/d67eeaabee36_initial_version.py
  nova/db/api/models.py
  nova/db/main/legacy_migrations/versions/402_train.py
  nova/db/main/migrations/env.py
  nova/db/main/migrations/script.py.mako
  nova/db/main/migrations/versions/8f2f1571d55b_initial_version.py
  nova/db/main/models.py
  nova/db/types.py
  nova/tests/unit/db/api/test_migrations.py
  nova/tests/unit/db/test_models.py
  nova/tests/unit/objects/test_flavor.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Avoid use of ALTER in initial migration
  nova/db/main/legacy_migrations/versions/402_train.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Normalize migrations tests
  nova/tests/unit/db/api/test_migrations.py
  nova/tests/unit/db/main/test_migrations.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

db: Add initial alembic migration for API DB
  nova/db/api/alembic.ini
  nova/db/api/migrations/README.rst
  nova/db/api/migrations/env.py
  nova/db/api/migrations/script.py.mako
  nova/db/api/migrations/versions/d67eeaabee36_initial_version.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Post reshuffle cleanup
  nova/cmd/status.py
  nova/compute/api.py
  nova/config.py
  nova/db/api/api.py
  nova/db/main/api.py
  nova/db/migration.py
  nova/db/utils.py
  nova/objects/aggregate.py
  nova/objects/build_request.py
  nova/objects/cell_mapping.py
  nova/objects/flavor.py
  nova/objects/host_mapping.py
  nova/objects/instance_group.py
  nova/objects/instance_mapping.py
  nova/objects/keypair.py
  nova/objects/quotas.py
  nova/objects/request_spec.py
  nova/objects/virtual_interface.py
  nova/quota.py
  nova/tests/fixtures/nova.py
  nova/tests/functional/db/test_aggregate.py
  nova/tests/functional/db/test_flavor.py
  nova/tests/unit/api/openstack/test_wsgi_app.py
  nova/tests/unit/conductor/test_conductor.py
  nova/tests/unit/db/api/__init__.py
  nova/tests/unit/db/api/test_api.py
  nova/tests/unit/db/main/test_api.py
  nova/tests/unit/db/test_migration.py
  nova/tests/unit/db/test_utils.py
  nova/tests/unit/objects/test_flavor.py
  nova/tests/unit/test_conf.py
  nova/tests/unit/test_fixtures.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Integrate alembic
  doc/source/cli/nova-manage.rst
  nova/db/api/alembic.ini
  nova/db/api/migrations/env.py
  nova/db/api/models.py
  nova/db/main/alembic.ini
  nova/db/main/api.py
  nova/db/main/migrations/env.py
  nova/db/migration.py
  nova/tests/unit/db/api/test_migrations.py
  nova/tests/unit/db/main/test_migrations.py
  nova/tests/unit/db/test_migration.py
  releasenotes/notes/switch-to-alembic-ed5c64f62b6c91a3.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Exclude the 'use_db_reconnect' option
  nova/conf/database.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview
