Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tox-functional-py36: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py37: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: unless all of: ^(?!.zuul.yaml)(?!nova/virt/libvirt/)(?!nova/privsep/).*$, ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-simple-crypto-devstack-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Add missing __init__.py in nova/db/api
  nova/db/api/__init__.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Fix the wrong exception used to retry detach API calls
  nova/tests/unit/volume/test_cinder.py
  nova/volume/cinder.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

[stable-only]Update .gitreview for stable/xena
  .gitreview
Due: nova-tox-functional-py36, nova-tox-functional-py37

[stable-only]Update TOX_CONSTRAINTS_FILE for stable/xena
  tox.ini
Due: nova-tox-functional-py36, nova-tox-functional-py37

tests: Walk database migrations in correct order
  nova/tests/functional/db/api/__init__.py
  nova/tests/unit/db/api/test_migrations.py
  nova/tests/unit/db/main/test_migrations.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

tests: Address some nits with database migration series
  nova/tests/unit/db/api/test_migrations.py
  nova/tests/unit/db/main/test_migrations.py
  nova/tests/unit/db/test_migration.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Reproduce bug 1944759
  nova/tests/functional/libvirt/test_numa_servers.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

tests: Silence noise from database tests
  nova/tests/fixtures/nova.py
  nova/tests/unit/db/main/test_migrations.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

db: Add migration to resolve shadow table discrepancies
  nova/db/main/migrations/versions/16f1fbcab42b_resolve_shadow_table_diffs.py
  nova/db/main/migrations/versions/8f2f1571d55b_initial_version.py
  nova/tests/unit/db/main/test_migrations.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

tools: Ignore bot-generated branch creation patches
  tools/check-cherry-picks.sh
Due: nova-tox-functional-py36, nova-tox-functional-py37

Store old_flavor already on source host during resize
  nova/compute/manager.py
  nova/tests/functional/libvirt/test_numa_servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Reproduce bug 1945310
  nova/tests/fixtures/neutron.py
  nova/tests/functional/test_servers_resource_request.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

nova-manage: Ensure mountpoint is passed when updating attachment
  nova/cmd/manage.py
  nova/tests/fixtures/cinder.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/unit/cmd/test_manage.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Add functional regression test for bug 1853009
  nova/tests/functional/regressions/test_bug_1853009.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Clear rebalanced compute nodes from resource tracker
  nova/compute/manager.py
  nova/compute/resource_tracker.py
  nova/tests/functional/regressions/test_bug_1853009.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Invalidate provider tree when compute node disappears
  nova/compute/resource_tracker.py
  nova/scheduler/client/report.py
  nova/tests/functional/regressions/test_bug_1853009.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Prevent deletion of a compute node belonging to another host
  nova/compute/manager.py
  nova/db/sqlalchemy/api.py
  nova/objects/compute_node.py
  nova/tests/functional/regressions/test_bug_1853009.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/db/test_db_api.py
  nova/tests/unit/objects/test_compute_node.py
  releasenotes/notes/bug-1853009-99414e14d1491b5f.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Fix inactive session error in compute node creation
  nova/db/sqlalchemy/api.py
  nova/tests/functional/regressions/test_bug_1853009.py
  nova/tests/unit/db/test_db_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Add regression test for bug #1943431
  nova/tests/fixtures/cinder.py
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/regressions/test_bug_1943431.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

[stable-only] Pin virtualenv and setuptools
  tox.ini
Due: nova-tox-functional-py36, nova-tox-functional-py37

Update min supported service version for Yoga
  nova/objects/service.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

fup: Refactor and simplify Cinder fixture GET volume mock
  nova/tests/fixtures/cinder.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

compute: Update volume_id within connection_info during swap_volume
  nova/compute/manager.py
  nova/tests/functional/regressions/test_bug_1943431.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

fup: Move _wait_for_volume_{attach,detach} to os-volume_attachments
  nova/tests/functional/integrated_helpers.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

zuul: Move live migration jobs back to voting
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Reject open redirection in the console proxy
  nova/console/websocketproxy.py
  nova/tests/unit/console/test_websocketproxy.py
  releasenotes/notes/console-proxy-reject-open-redirect-4ac0a7895acca7eb.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

address open redirect with 3 forward slashes
  nova/console/websocketproxy.py
  nova/tests/unit/console/test_websocketproxy.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Ensure MAC addresses characters are in the same case
  nova/tests/unit/virt/libvirt/test_migration.py
  nova/virt/libvirt/migration.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Define new functional test tox env for placement gate to run
  tox.ini
Due: nova-tox-functional-py36, nova-tox-functional-py37

api: enable oslo.reports when using uWSGI
  doc/source/reference/gmr.rst
  nova/api/openstack/wsgi_app.py
  nova/releasenotes/notes/uwsgi-gmr-c00631db79836340.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Set "cache_ok=True" in "TypeDecorator" inheriting classes
  nova/db/types.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview
