Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

nova-dsvm-base:
  parent: legacy-dsvm-base
  description: 'The base job definition for nova devstack/tempest jobs.
  
    Contains common configuration.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-lvm:
  parent: nova-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml

nova-multiattach:
  parent: nova-dsvm-base
  description: 'Run tempest integration tests with volume multiattach support enabled.
  
    This job will only work starting with Queens.
  
    It uses the default Cinder volume type in devstack (lvm) and the
  
    default compute driver in devstack (libvirt). It also disables the
  
  ...

Imported Translations from Zanata
  nova/locale/cs/LC_MESSAGES/nova.po
  nova/locale/de/LC_MESSAGES/nova.po
  nova/locale/es/LC_MESSAGES/nova.po
  nova/locale/fr/LC_MESSAGES/nova.po
  nova/locale/it/LC_MESSAGES/nova.po
  nova/locale/ja/LC_MESSAGES/nova.po
  nova/locale/ko_KR/LC_MESSAGES/nova.po
  nova/locale/pt_BR/LC_MESSAGES/nova.po
  nova/locale/ru/LC_MESSAGES/nova.po
  nova/locale/tr_TR/LC_MESSAGES/nova.po
  nova/locale/zh_CN/LC_MESSAGES/nova.po
  nova/locale/zh_TW/LC_MESSAGES/nova.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Scheduler multiple workers support
  nova/cmd/scheduler.py
  nova/conf/scheduler.py
  nova/tests/unit/cmd/test_scheduler.py
  releasenotes/notes/multiple-scheduler-workers-3e5ac0d86f436338.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] Add functional tests for traits API
  nova/tests/functional/api/openstack/placement/gabbits/traits.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Fix PatternPropertiesTestCase for py 3.6
  nova/tests/unit/test_api_validation.py
Due: nova-tox-functional, nova-tox-functional-py35

unquiesce instance on volume snapshot failure
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Lazy-load instance attributes with read_deleted=yes
  nova/objects/instance.py
  nova/tests/unit/objects/test_instance.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: Don't VIR_MIGRATE_NON_SHARED_INC without migrate_disks
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/guest.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Return 400 when compute host is not found
  nova/api/openstack/compute/migrate_server.py
  nova/tests/unit/api/openstack/compute/test_migrate_server.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add resource_class to fields in ironic node cache
  nova/virt/ironic/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Extending delete_cell --force to delete instance_mappings
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Functional test: evacuate with no compute
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/test_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Add the ability to get absolute limits from Cinder
  nova/tests/unit/volume/test_cinder.py
  nova/volume/cinder.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Check quota before creating volume snapshots
  nova/compute/api.py
  nova/tests/unit/api/openstack/compute/test_server_actions.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: disconnect volume from host during detach
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Clean up ports and volumes when deleting ERROR instance
  nova/compute/api.py
  nova/tests/functional/regressions/test_bug_1404867.py
  nova/tests/functional/regressions/test_bug_1670627.py
  nova/tests/functional/regressions/test_bug_1689692.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add functional recreate test of deleting a BFV server pre-scheduling
  nova/tests/functional/wsgi/test_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Detach volumes when deleting a BFV server pre-scheduling
  nova/compute/api.py
  nova/tests/functional/wsgi/test_servers.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Only attempt a rebuild claim for an evacuation to a new host
  nova/compute/manager.py
  nova/tests/functional/test_servers.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Drop extra loop which modifies Cinder volume status
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Store block device mappings in cell0
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add functional tests to ensure BDM removal on delete
  nova/tests/fixtures.py
  nova/tests/functional/regressions/test_bug_1404867.py
Due: nova-tox-functional, nova-tox-functional-py35

Add functional test for deleting BFV server with old attach flow
  nova/tests/functional/wsgi/test_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

[placement] api-ref: Fix a missing response code
  placement-api-ref/source/resource_providers.inc
Due: none

Avoid exploding if guest refuses to detach a volume
  nova/tests/unit/virt/test_block_device.py
  nova/virt/block_device.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix error handling in compute API for multiattach errors
  nova/compute/api.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Only pull associated *sharing* providers
  nova/scheduler/client/report.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Ensure attachment_id always exists for block device mapping
  nova/compute/api.py
  nova/tests/functional/wsgi/test_servers.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Update plugs Contrail methods to work with privsep
  nova/privsep/libvirt.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Path conditions:
  nova-dsvm-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-multiattach: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
