Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

.zuul.yaml:

# See https://docs.openstack.org/infra/manual/drivers.html#naming-with-zuul-v3
# for job naming conventions.
- job:
    name: nova-dsvm-base
    parent: legacy-dsvm-base
    description: |
      The base job definition for nova devstack/tempest jobs.
      Contains common configuration.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-lvm
    parent: nova-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml

- job:
    name: nova-multiattach
    parent: nova-dsvm-base
    description: |
      Run tempest integration tests with volume multiattach support enabled.
      This job will only work starting with Queens.
      It uses the default Cinder volume type in devstack (lvm) and the
      default compute driver in devstack (libvirt). It also disables the
      Pike Ubuntu Cloud Archive because volume multiattach support with
      the libvirt driver only works with qemu<2.10 or libvirt>=3.10 which
      won't work with the Pike UCA.
    branches: ^(?!stable/(newton|ocata|pike)).*$
    run: playbooks/legacy/nova-multiattach/run.yaml
    post-run: playbooks/legacy/nova-multiattach/post.yaml

- project:
    # Please try to keep the list of job names sorted alphabetically.
    check:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    experimental:
      jobs:
        - nova-lvm

hardware: Rework get_number_of_serial_ports
  nova/exception.py
  nova/virt/hardware.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Make nova-manage db purge take --all-cells
  doc/source/cli/nova-manage.rst
  gate/post_test_hook.sh
  nova/cmd/manage.py
  nova/db/sqlalchemy/api.py
  nova/tests/functional/db/test_archive.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Migrate tempest-dsvm-cells job to an in-tree job definition
  .zuul.yaml
  playbooks/legacy/nova-cells-v1/post.yaml
  playbooks/legacy/nova-cells-v1/run.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Please make the build reproducible
  nova/conf/paths.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Rename '_numa_get_constraints_XXX' functions
  nova/virt/hardware.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Raise a proper exception in unit test
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-tox-functional, nova-tox-functional-py35

Make nova build reproducible
  nova/conf/paths.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix indentation in doc/source/cli/*
  doc/source/cli/nova-api-metadata.rst
  doc/source/cli/nova-api-os-compute.rst
  doc/source/cli/nova-api.rst
  doc/source/cli/nova-cells.rst
  doc/source/cli/nova-compute.rst
  doc/source/cli/nova-conductor.rst
  doc/source/cli/nova-console.rst
  doc/source/cli/nova-consoleauth.rst
  doc/source/cli/nova-dhcpbridge.rst
  doc/source/cli/nova-manage.rst
  doc/source/cli/nova-network.rst
  doc/source/cli/nova-novncproxy.rst
  doc/source/cli/nova-rootwrap.rst
  doc/source/cli/nova-scheduler.rst
  doc/source/cli/nova-serialproxy.rst
  doc/source/cli/nova-spicehtml5proxy.rst
  doc/source/cli/nova-status.rst
  doc/source/cli/nova-xvpvncproxy.rst
Due: none

remove unnecessary conf imports
  nova/api/openstack/compute/instance_usage_audit_log.py
  nova/api/openstack/compute/routes.py
  nova/console/api.py
  nova/console/securityproxy/rfb.py
  nova/objects/console_auth_token.py
  nova/pci/whitelist.py
  nova/scheduler/filters/disk_filter.py
  nova/tests/functional/api_sample_tests/test_admin_password.py
  nova/tests/functional/api_sample_tests/test_cells.py
  nova/tests/functional/api_sample_tests/test_images.py
  nova/tests/functional/api_sample_tests/test_server_metadata.py
  nova/tests/functional/api_sample_tests/test_servers_ips.py
  nova/tests/functional/regressions/test_bug_1558866.py
  nova/tests/functional/test_compute_mgr.py
  nova/tests/unit/api/openstack/compute/test_availability_zone.py
  nova/tests/unit/api/openstack/compute/test_block_device_mapping.py
  nova/tests/unit/api/openstack/compute/test_block_device_mapping_v1.py
  nova/tests/unit/api/openstack/compute/test_config_drive.py
  nova/tests/unit/api/openstack/compute/test_scheduler_hints.py
  nova/tests/unit/api/openstack/compute/test_user_data.py
  nova/tests/unit/cells/test_cells_messaging.py
  nova/tests/unit/cells/test_cells_rpcapi.py
  nova/tests/unit/cells/test_cells_scheduler.py
  nova/tests/unit/compute/test_compute_cells.py
  nova/tests/unit/compute/test_compute_utils.py
  nova/tests/unit/compute/test_compute_xen.py
  nova/tests/unit/compute/test_rpcapi.py
  nova/tests/unit/conf_fixture.py
  nova/tests/unit/console/test_console.py
  nova/tests/unit/scheduler/test_rpcapi.py
  nova/tests/unit/scheduler/test_scheduler.py
  nova/tests/unit/test_baserpc.py
  nova/tests/unit/test_policy.py
  nova/tests/unit/test_service_auth.py
  nova/tests/unit/virt/powervm/test_vif.py
  nova/virt/libvirt/volume/volume.py
  nova/virt/powervm/disk/ssp.py
  nova/virt/powervm/vif.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Updated from global requirements
  test-requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Update deprecated log-config option in docs
  doc/source/admin/manage-logs.rst
Due: none

Avoid exploding if guest refuses to detach a volume
  nova/tests/unit/virt/test_block_device.py
  nova/virt/block_device.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

conf: Remove '[conductor] topic' opt
  nova/cmd/conductor.py
  nova/conductor/api.py
  nova/conductor/rpcapi.py
  nova/conf/conductor.py
  releasenotes/notes/remove-topic-config-opts-705ebd829a6e80b6.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

conf: Remove deprecated 'multi_instance_display_name_template' opt
  nova/compute/api.py
  nova/conf/compute.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/compute/test_compute_cells.py
  releasenotes/notes/remove-deprecated-compute-opts-b640061349806d9e.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

conf: Remove deprecated 'allow_instance_snapshots' opt
  nova/api/openstack/common.py
  nova/api/openstack/compute/servers.py
  nova/conf/api.py
  nova/tests/unit/api/openstack/compute/test_server_actions.py
  releasenotes/notes/remove-deprecated-api-opts-d01d97fa19330e06.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

conf: Fix indentation of database options
  nova/conf/database.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

New-style _set_inventory_for_provider
  nova/scheduler/client/report.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix N358 hacking check
  nova/hacking/checks.py
  nova/tests/unit/test_hacking.py
Due: nova-tox-functional, nova-tox-functional-py35

Move resource class fields
  nova/cmd/status.py
  nova/compute/resource_tracker.py
  nova/db/sqlalchemy/resource_class_cache.py
  nova/objects/fields.py
  nova/objects/resource_provider.py
  nova/rc_fields.py
  nova/scheduler/client/report.py
  nova/scheduler/utils.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/functional/compute/test_resource_tracker.py
  nova/tests/functional/db/test_allocation_candidates.py
  nova/tests/functional/db/test_resource_class_cache.py
  nova/tests/functional/db/test_resource_provider.py
  nova/tests/unit/cmd/test_status.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/objects/test_fields.py
  nova/tests/unit/objects/test_resource_provider.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/tests/unit/virt/ironic/test_driver.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/vmwareapi/test_driver_api.py
  nova/tests/unit/virt/xenapi/test_driver.py
  nova/virt/ironic/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/vmwareapi/driver.py
  nova/virt/xenapi/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Reparent placement objects to oslo_versionedobjects
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move resource provider objects into placement hierarchy
  nova/api/openstack/placement/deploy.py
  nova/api/openstack/placement/handlers/aggregate.py
  nova/api/openstack/placement/handlers/allocation.py
  nova/api/openstack/placement/handlers/allocation_candidate.py
  nova/api/openstack/placement/handlers/inventory.py
  nova/api/openstack/placement/handlers/resource_class.py
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/api/openstack/placement/handlers/trait.py
  nova/api/openstack/placement/handlers/usage.py
  nova/api/openstack/placement/objects/__init__.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/test.py
  nova/tests/functional/api/openstack/placement/fixtures.py
  nova/tests/functional/db/test_allocation_candidates.py
  nova/tests/functional/db/test_resource_provider.py
  nova/tests/unit/api/openstack/placement/objects/__init__.py
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
  nova/tests/unit/api/openstack/placement/test_util.py
  nova/tests/unit/cmd/test_status.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Transform live_migration.post.dest notifications
  doc/notification_samples/instance-live_migration_post_dest-end.json
  doc/notification_samples/instance-live_migration_post_dest-start.json
  nova/compute/manager.py
  nova/notifications/objects/instance.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/virt/fake.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Make archive_deleted_rows handle a missing CONF.api_database.connection
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Updated from global requirements
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Update contributor/placement.rst to contemporary reality
  doc/source/contributor/placement.rst
Due: none

Revert "Make the InstanceMapping marker UUID-like"
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Revert "Refine waiting for vif plug events during _hard_reboot"
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Change TestNewtonCellsCheck to not rely on objects
  nova/tests/unit/db/test_sqlalchemy_migration.py
Due: nova-tox-functional, nova-tox-functional-py35

placement: generation in provider aggregate APIs
  nova/api/openstack/placement/handlers/aggregate.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/api/openstack/placement/schemas/aggregate.py
  nova/tests/functional/api/openstack/placement/gabbits/aggregate.yaml
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider-aggregates.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider-resources-query.yaml
  nova/tests/functional/api/openstack/placement/gabbits/shared-resources.yaml
  placement-api-ref/source/aggregates.inc
  placement-api-ref/source/parameters.yaml
  placement-api-ref/source/samples/aggregates/get-aggregates-1.19.json
  placement-api-ref/source/samples/aggregates/update-aggregates-1.19.json
  placement-api-ref/source/samples/aggregates/update-aggregates-request-1.19.json
  releasenotes/notes/placement-aggregate-generation-9dad79fb0356fcc0.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

placement: Return new provider from POST /rps
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/tests/functional/api/openstack/placement/gabbits/aggregate.yaml
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider-aggregates.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider-resources-query.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider.yaml
  nova/tests/functional/api/openstack/placement/gabbits/shared-resources.yaml
  placement-api-ref/source/parameters.yaml
  placement-api-ref/source/resource_provider.inc
  placement-api-ref/source/resource_providers.inc
  placement-api-ref/source/samples/resource_providers/create-resource_provider.json
  releasenotes/notes/placement-generation-from-create-provider-203a0ac1ebfe64d9.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

XenAPI/Stops the migration of volume backed VHDS
  nova/tests/unit/virt/xenapi/test_vmops.py
  nova/virt/xenapi/vmops.py
  nova/virt/xenapi/volume_utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Marker reset option for nova-manage map_instances
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
  releasenotes/notes/reset-marker-for-map_instances-0c841ef45e3adc7b.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

ironic: Get correct inventory for deployed node
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Make nova-cells-v1 run with neutron
  playbooks/legacy/nova-cells-v1/run.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Cleanup tempest-dsvm-cells-rc blacklist
  devstack/tempest-dsvm-cells-rc
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Unmap compute nodes when deleting host mappings in delete cell operation
  nova/cmd/manage.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

ProviderTree.{add|remove}_{traits|aggregates}
  nova/compute/provider_tree.py
  nova/tests/unit/compute/test_provider_tree.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Stop assuming initial provider generation is 0
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach
