Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

.zuul.yaml:

# See https://docs.openstack.org/infra/manual/drivers.html#naming-with-zuul-v3
# for job naming conventions.
- job:
    name: nova-dsvm-base
    parent: legacy-dsvm-base
    description: |
      The base job definition for nova devstack/tempest jobs.
      Contains common configuration.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-lvm
    parent: nova-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml

- job:
    name: nova-multiattach
    parent: nova-dsvm-base
    description: |
      Run tempest integration tests with volume multiattach support enabled.
      This job will only work starting with Queens.
      It uses the default Cinder volume type in devstack (lvm) and the
      default compute driver in devstack (libvirt). It also disables the
      Pike Ubuntu Cloud Archive because volume multiattach support with
      the libvirt driver only works with qemu<2.10 or libvirt>=3.10 which
      won't work with the Pike UCA.
    branches: ^(?!stable/(newton|ocata|pike)).*$
    run: playbooks/legacy/nova-multiattach/run.yaml
    post-run: playbooks/legacy/nova-multiattach/post.yaml

- project:
    # Please try to keep the list of job names sorted alphabetically.
    check:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    experimental:
      jobs:
        - nova-lvm

Add turbonomic target address to mitigate OpenStack configuration complexity
  nova/scheduler/turbonomic_scheduler.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] Parse forbidden traits in query strings
  nova/api/openstack/placement/lib.py
  nova/api/openstack/placement/util.py
  nova/tests/functional/api/openstack/placement/gabbits/allocation-candidates.yaml
  nova/tests/unit/api/openstack/placement/test_util.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] Filter resource providers by forbidden traits in db
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] Filter allocation candidates by forbidden traits in db
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] Support forbidden traits in API
  nova/api/openstack/placement/handlers/allocation_candidate.py
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/tests/functional/api/openstack/placement/gabbits/allocation-candidates.yaml
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider.yaml
  placement-api-ref/source/parameters.yaml
  releasenotes/notes/placement-forbidden-traits-ace037856aa29a09.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Update os_compute_api:os-flavor-extra-specs:index docs for 2.47
  nova/policies/flavor_extra_specs.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Update os_compute_api:os-flavor-extra-specs:index docs for 2.61
  nova/policies/flavor_extra_specs.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Provide framework for setting placement error codes
  doc/source/contributor/placement.rst
  nova/api/openstack/placement/errors.py
  nova/api/openstack/placement/handlers/inventory.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/api/openstack/placement/util.py
  nova/api/openstack/placement/wsgi_wrapper.py
  nova/tests/functional/api/openstack/placement/gabbits/basic-http.yaml
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  nova/tests/functional/api/openstack/placement/gabbits/with-allocations.yaml
  releasenotes/notes/placement-error-code-fcbbf5d45560984e.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Deduplicate notification samples Rocky - 1
  doc/notification_samples/instance-rebuild-end.json
  doc/notification_samples/instance-rebuild-error.json
  doc/notification_samples/instance-rebuild-start.json
  doc/notification_samples/instance-restore-end.json
  doc/notification_samples/instance-restore-start.json
  doc/notification_samples/instance-resume-end.json
  doc/notification_samples/instance-resume-start.json
Due: nova-tox-functional, nova-tox-functional-py35

Deduplicate notification samples Rocky - 2
  doc/notification_samples/instance-resize-end.json
  doc/notification_samples/instance-resize-error.json
  doc/notification_samples/instance-resize-start.json
  doc/notification_samples/instance-resize_finish-end.json
  doc/notification_samples/instance-resize_finish-start.json
Due: nova-tox-functional, nova-tox-functional-py35

Deduplicate notification samples Rocky - 3
  doc/notification_samples/instance-shelve-end.json
  doc/notification_samples/instance-shelve-start.json
  doc/notification_samples/instance-shelve_offload-end.json
  doc/notification_samples/instance-shelve_offload-start.json
  doc/notification_samples/instance-unshelve-end.json
  doc/notification_samples/instance-unshelve-start.json
Due: nova-tox-functional, nova-tox-functional-py35

Extract generate_hostid method into utils.py
  nova/api/openstack/compute/views/servers.py
  nova/tests/unit/test_utils.py
  nova/utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Record the host info in EventReporter
  nova/compute/utils.py
  nova/conductor/manager.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_compute_utils.py
  nova/tests/unit/compute/test_shelve.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Address nits in I00d29e9fd80e6b8f7ba3bbd8e82dde9d4cb1522f
  nova/tests/unit/test_utils.py
  nova/utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix doc link for api
  doc/source/contributor/api.rst
Due: none

Move update_task_state out of try/except
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add config drive link to api-guide
  api-guide/source/server_concepts.rst
Due: none

Refactor a test method including 3 test cases
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-tox-functional, nova-tox-functional-py35

only increment disk address unit for scsi devices
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

tests for alloc candidates with nested and traits
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-tox-functional, nova-tox-functional-py35

Document how to disable notifications
  doc/source/reference/notifications.rst
  nova/conf/notifications.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: Report the allocated size of preallocated file based disks
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/disk/api.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

List instances performace optimization
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove mox in test_serversV21.py (1)
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove mox in test_serversV21.py (2)
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-tox-functional, nova-tox-functional-py35

Functional test for regression bug #1713783
  nova/tests/functional/api/client.py
  nova/tests/functional/regressions/test_bug_1713783.py
Due: nova-tox-functional, nova-tox-functional-py35

Improve performance when list instances with IP filter
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

ironic: Get correct inventory for deployed node
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove redundant _do_check_can_live_migrate_destination
  nova/compute/manager.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

doc: BFV instances and IsolatedHostsFilter
  doc/source/admin/configuration/schedulers.rst
Due: none

libvirt: Block swap volume attempts with encrypted volumes prior to Queens
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_block_device.py
  nova/tests/unit/virt/test_virt_drivers.py
  nova/virt/block_device.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/bug-1739593-cve-2017-18191-25fe48d336d8cf13.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Pass the correct image to build_request_spec in conductor.rebuild_instance
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Set error state after failed evacuation
  nova/conductor/manager.py
  nova/tests/functional/regressions/test_bug_1713783.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Deduplicate notification samples Rocky - 4
  doc/notification_samples/common_payloads/InstanceActionVolumePayload.json
  doc/notification_samples/common_payloads/InstanceActionVolumeSwapPayload.json
  doc/notification_samples/instance-volume_attach-end.json
  doc/notification_samples/instance-volume_attach-error.json
  doc/notification_samples/instance-volume_attach-start.json
  doc/notification_samples/instance-volume_detach-end.json
  doc/notification_samples/instance-volume_detach-start.json
  doc/notification_samples/instance-volume_swap-end.json
  doc/notification_samples/instance-volume_swap-error.json
  doc/notification_samples/instance-volume_swap-start.json
Due: nova-tox-functional, nova-tox-functional-py35

Deduplicate notification samples Rocky - 5
  doc/notification_samples/common_payloads/InstanceActionSnapshotPayload.json
  doc/notification_samples/instance-live_migration_abort-end.json
  doc/notification_samples/instance-live_migration_abort-start.json
  doc/notification_samples/instance-shutdown-end.json
  doc/notification_samples/instance-shutdown-start.json
  doc/notification_samples/instance-snapshot-end.json
  doc/notification_samples/instance-snapshot-start.json
Due: nova-tox-functional, nova-tox-functional-py35

Deduplicate notification samples Rocky - 6
  doc/notification_samples/instance-soft_delete-end.json
  doc/notification_samples/instance-soft_delete-start.json
  doc/notification_samples/instance-suspend-end.json
  doc/notification_samples/instance-suspend-start.json
  doc/notification_samples/instance-trigger_crash_dump-end.json
  doc/notification_samples/instance-trigger_crash_dump-start.json
Due: nova-tox-functional, nova-tox-functional-py35

Parse forbidden in extra_specs
  doc/source/user/flavors.rst
  nova/scheduler/client/report.py
  nova/scheduler/utils.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/tests/unit/scheduler/test_utils.py
  releasenotes/notes/forbidden-traits-in-nova-478f1884a06e50e7.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove placement config check
  nova/compute/manager.py
  nova/exception.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/conf_fixture.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach
