Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-live-migration:
  parent: nova-dsvm-multinode-base
  run: playbooks/legacy/nova-live-migration/run.yaml
  post-run: playbooks/legacy/nova-live-migration/post.yaml

ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  voting: false

legacy-grenade-dsvm-neutron-multinode-live-migration:
  voting: false

legacy-tempest-dsvm-full-devstack-plugin-ceph:
  voting: false

tempest-multinode-full:
  voting: false

Added mount fstype based validation of Quobyte mounts
  nova/exception.py
  nova/tests/unit/virt/libvirt/volume/test_quobyte.py
  nova/virt/libvirt/volume/quobyte.py
  releasenotes/notes/qb-bug-1730933-6695470ebaee0fbd.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Calculate RequestGroup resource provider mapping
  nova/objects/request_spec.py
  nova/tests/unit/objects/test_request_spec.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Send RP uuid in the port binding
  nova/network/neutronv2/api.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Test boot with more ports with bandwidth request
  nova/tests/fixtures.py
  nova/tests/functional/test_servers.py
  nova/virt/fake.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Recalculate request group - RP mapping during re-schedule
  nova/compute/manager.py
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Pass resource provider mapping to neutronv2 api
  nova/compute/manager.py
  nova/conductor/manager.py
  nova/network/api.py
  nova/network/base_api.py
  nova/network/neutronv2/api.py
  nova/tests/functional/test_compute_mgr.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fill the RequestGroup mapping during schedule
  nova/conductor/manager.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

FUP for Id7827fe8dc27112e342dc25c902c8dbc25f63b94
  nova/objects/request_spec.py
  nova/tests/unit/objects/test_request_spec.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add microversion to expose virtual device tags
  api-ref/source/os-interface.inc
  api-ref/source/os-volume-attachments.inc
  api-ref/source/parameters.yaml
  doc/api_samples/os-attach-interfaces/v2.70/attach-interfaces-create-net_id-req.json
  doc/api_samples/os-attach-interfaces/v2.70/attach-interfaces-create-req.json
  doc/api_samples/os-attach-interfaces/v2.70/attach-interfaces-create-resp.json
  doc/api_samples/os-attach-interfaces/v2.70/attach-interfaces-list-resp.json
  doc/api_samples/os-attach-interfaces/v2.70/attach-interfaces-show-resp.json
  doc/api_samples/os-volumes/v2.70/attach-volume-to-server-req.json
  doc/api_samples/os-volumes/v2.70/attach-volume-to-server-resp.json
  doc/api_samples/os-volumes/v2.70/list-volume-attachments-resp.json
  doc/api_samples/os-volumes/v2.70/update-volume-req.json
  doc/api_samples/os-volumes/v2.70/volume-attachment-detail-resp.json
  doc/api_samples/versions/v21-version-get-resp.json
  doc/api_samples/versions/versions-get-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/attach_interfaces.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/api/openstack/compute/volumes.py
  nova/tests/functional/api_sample_tests/api_samples/os-attach-interfaces/v2.70/attach-interfaces-create-net_id-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-attach-interfaces/v2.70/attach-interfaces-create-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-attach-interfaces/v2.70/attach-interfaces-create-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-attach-interfaces/v2.70/attach-interfaces-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-attach-interfaces/v2.70/attach-interfaces-show-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-volumes/v2.70/attach-volume-to-server-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-volumes/v2.70/attach-volume-to-server-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-volumes/v2.70/list-volume-attachments-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-volumes/v2.70/update-volume-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-volumes/v2.70/volume-attachment-detail-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_attach_interfaces.py
  nova/tests/functional/api_sample_tests/test_volumes.py
  releasenotes/notes/microversion-2.70-expose-virtual-device-tags-ca82ba6ee6cf9272.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix a typo in configuration description
  nova/conf/api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Don't emit warning when ironic properties are zero
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Correct examples in "Manage Compute services" documentation
  doc/source/admin/services.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

[pike-only] Fix resize_instance rpcapi call
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
  releasenotes/notes/fix-resize-instance-call-e987193c574c6486.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Remove deprecated 'os-server-groups' policy
  nova/policies/server_groups.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/remove-deprecated-os-server-groups-policy-de89d5d11d490338.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Remove deprecated 'flavors' policy
  nova/policies/__init__.py
  nova/policies/flavors.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/remove-deprecated-flavors-policy-c03c5d227a7b0c87.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Added operation.boot-encrypted-vm for SEV
  doc/source/user/support-matrix.ini
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Follow up for I0c764e441993e32aafef0b18049a425c3c832a50
  nova/conductor/manager.py
  nova/objects/request_spec.py
  nova/scheduler/client/report.py
  nova/tests/functional/test_report_client.py
  nova/tests/unit/conductor/test_conductor.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Dump config options on wsgi startup earlier
  nova/api/openstack/wsgi_app.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

tox: Don't write byte code (maybe)
  tox.ini
Due: nova-tox-functional, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Log why rescheduling is disabled
  nova/scheduler/utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Remove misleading code from _move_operation_alloc_request()
  nova/scheduler/client/report.py
  nova/scheduler/utils.py
  nova/tests/unit/scheduler/test_utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Remove _legacy_dict methods
  nova/objects/migrate_data.py
  nova/tests/unit/objects/test_migrate_data.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/xenapi/test_xenapi.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Provide a useful error message when trying to update non-compute services
  nova/api/openstack/compute/services.py
  nova/tests/unit/api/openstack/compute/test_services.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Refactor "networks" processing in ServersController.create
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Documentation changes for SEV.
  doc/source/admin/configuration/hypervisor-kvm.rst
  doc/source/user/support-matrix.ini
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

conf: Deprecated 'defer_iptables_apply'
  nova/conf/compute.py
  nova/conf/network.py
  releasenotes/notes/deprecate-yet-another-nova-network-opt-b23b7bd9c31383eb.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add unit tests for missing VirtualInterface in 2.70 os-interface
  nova/tests/unit/api/openstack/compute/test_attach_interfaces.py
Due: nova-tox-functional

Fix resetting non-persistent fields when saving obj
  nova/objects/request_spec.py
  nova/tests/functional/regressions/test_bug_1815153.py
  nova/tests/unit/fake_request_spec.py
  nova/tests/unit/objects/test_request_spec.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Move calls to ovs-vsctl to privsep.
  nova/network/linux_net.py
  nova/privsep/linux_net.py
  nova/tests/unit/network/test_linux_net.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Move setting of device trust to privsep.
  nova/network/linux_net.py
  nova/privsep/linux_net.py
  nova/tests/unit/network/test_linux_net.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Move final bridge commands to privsep.
  nova/network/linux_net.py
  nova/privsep/linux_net.py
  nova/tests/functional/api_sample_tests/api_sample_base.py
  nova/tests/unit/network/test_linux_net.py
  nova/tests/unit/network/test_manager.py
  nova/tests/unit/virt/xenapi/test_xenapi.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

remove deprecated os_brick import from ScaleIO driver
  nova/tests/unit/virt/libvirt/volume/test_scaleio.py
Due: nova-tox-functional

Use the correct mdev allocated from the pGPU
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

libvirt: implement reshaper for vgpu
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/libvirt-stein-vgpu-reshape-a1fa23b8ad8aa966.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

[Doc] Best practices for effectively tolerating down cells
  doc/source/admin/cells.rst
  doc/source/admin/index.rst
  doc/source/user/cells.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Change LibvirtDriver.capabilities to an instance variable
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Cleanup the _execute shim in nova/network.
  nova/network/linux_net.py
  nova/tests/unit/network/test_linux_net.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

We no longer need rootwrap.
  nova/tests/unit/test_crypto.py
  nova/tests/unit/test_utils.py
  nova/tests/unit/virt/disk/mount/test_loop.py
  nova/tests/unit/virt/disk/mount/test_nbd.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_imagebackend.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/tests/unit/virt/libvirt/volume/test_volume.py
  nova/tests/unit/virt/test_virt.py
  nova/utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fup for the bandwidth series
  nova/compute/manager.py
  nova/conductor/manager.py
  nova/network/base_api.py
  nova/network/neutronv2/api.py
  nova/tests/fixtures.py
  nova/tests/functional/test_compute_mgr.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/virt/fake.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^api-.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*\.py$, ^nova/tests/functional/.*$, ^nova/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-ceph: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$, ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-v20-api: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-src-oslo.versionedobjects: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
