Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

nova-dsvm-base:
  parent: legacy-dsvm-base
  description: 'The base job definition for nova devstack/tempest jobs.
  
    Contains common configuration.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-lvm:
  parent: nova-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml

nova-multiattach:
  parent: nova-dsvm-base
  description: 'Run tempest integration tests with volume multiattach support enabled.
  
    This job will only work starting with Queens.
  
    It uses the default Cinder volume type in devstack (lvm) and the
  
    default compute driver in devstack (libvirt). It also disables the
  
  ...

libvirt: Report the allocated size of preallocated file based disks
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/disk/api.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Increase cpu time for image conversion
  nova/virt/images.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix docs for confirmResize action
  api-ref/source/servers-actions.inc
Due: none

Add CPUWeigher
  doc/source/user/filter-scheduler.rst
  nova/conf/scheduler.py
  nova/scheduler/weights/cpu.py
  nova/tests/unit/scheduler/weights/test_weights_cpu.py
  releasenotes/notes/add-cpu-weigher-2e982c9f9751d631.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

mock utils.execute() in qemu-img unit test
  nova/tests/unit/virt/test_images.py
Due: nova-tox-functional, nova-tox-functional-py35

libvirt: Block swap volume attempts with encrypted volumes prior to Queens
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_block_device.py
  nova/tests/unit/virt/test_virt_drivers.py
  nova/virt/block_device.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/bug-1739593-cve-2017-18191-25fe48d336d8cf13.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Modify incorrect debug meaasge in _inject_data
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Handle spawning error on unshelving
  nova/compute/manager.py
  nova/tests/unit/compute/test_shelve.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Clean up volumes on boot failure
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

only increment disk address unit for scsi devices
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add functional test for deleting a compute service
  nova/tests/functional/wsgi/test_services.py
Due: nova-tox-functional, nova-tox-functional-py35

Block deleting compute services which are hosting instances
  api-ref/source/os-services.inc
  nova/api/openstack/compute/services.py
  nova/tests/functional/wsgi/test_services.py
  releasenotes/notes/bug-1763183-service-delete-with-instances-d7c5c47e4ce31239.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Delete allocations from API if nova-compute is down
  nova/compute/api.py
  nova/tests/functional/regressions/test_bug_1679750.py
  nova/tests/functional/wsgi/test_services.py
  releasenotes/notes/bug-1679750-local-delete-allocations-cb7bfbcb6c36b6a2.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Cleanup RP and HM records while deleting a compute service.
  nova/api/openstack/compute/services.py
  nova/tests/functional/api/client.py
  nova/tests/functional/api_sample_tests/test_services.py
  nova/tests/functional/wsgi/test_services.py
  nova/tests/unit/compute/test_host_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Detach volumes when VM creation fails
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove mox in unit/api/openstack/compute/test_hosts.py
  nova/tests/unit/api/openstack/compute/test_hosts.py
Due: nova-tox-functional, nova-tox-functional-py35

xenapi: Use XAPI pool instead of aggregate pool for shared SR migration
  doc/source/admin/configuring-migrations.rst
  nova/tests/unit/virt/xenapi/test_vmops.py
  nova/tests/unit/virt/xenapi/test_xenapi.py
  nova/virt/xenapi/vif.py
  nova/virt/xenapi/vmops.py
  releasenotes/notes/add-live-migration-support-in-xapi-pool-5ac42c2468c3616e.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add periodic task to clean expired console tokens
  nova/compute/api.py
  nova/compute/manager.py
  nova/conf/compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Deduplicate notification samples Rocky - 7
  doc/notification_samples/common_payloads/InstanceActionPayload.json
  doc/notification_samples/common_payloads/InstancePayload.json
  doc/notification_samples/common_payloads/InstanceUpdatePayload.json
  doc/notification_samples/instance-update-tags-action.json
  doc/notification_samples/instance-update.json
Due: nova-tox-functional, nova-tox-functional-py35

Rename recreate to evacuate in driver signatures
  nova/compute/manager.py
  nova/exception.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/ironic/test_driver.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/powervm/test_driver.py
  nova/tests/unit/virt/vmwareapi/test_driver_api.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/hyperv/driver.py
  nova/virt/ironic/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/powervm/driver.py
  nova/virt/vmwareapi/driver.py
  nova/virt/xenapi/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Improve check capacity sql
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add root and parent provider uuid to group by clause
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: slow live-migration to ensure network is ready
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_virt_drivers.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add request_id to instance action notifications
  doc/notification_samples/common_payloads/InstanceActionPayload.json
  doc/notification_samples/common_payloads/InstanceActionRescuePayload.json
  doc/notification_samples/common_payloads/InstanceActionResizePrepPayload.json
  doc/notification_samples/common_payloads/InstanceActionSnapshotPayload.json
  doc/notification_samples/common_payloads/InstanceActionVolumePayload.json
  doc/notification_samples/common_payloads/InstanceActionVolumeSwapPayload.json
  doc/notification_samples/common_payloads/InstanceCreatePayload.json
  doc/notification_samples/common_payloads/InstancePayload.json
  doc/notification_samples/common_payloads/InstanceUpdatePayload.json
  nova/compute/utils.py
  nova/notifications/base.py
  nova/notifications/objects/instance.py
  nova/tests/functional/notification_sample_tests/notification_sample_base.py
  nova/tests/unit/notifications/objects/test_instance.py
  nova/tests/unit/notifications/objects/test_notification.py
  releasenotes/notes/add-req-id-to-versioned-notifications-fd0b525bd37b7e41.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Leave a hint when populate_schema fails
  nova/notifications/objects/base.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move some tests into nova.tests.unit.notifications.objects.test_instance
  nova/tests/unit/notifications/objects/test_instance.py
  nova/tests/unit/notifications/objects/test_notification.py
Due: nova-tox-functional, nova-tox-functional-py35

Update docs for [keystone_authtoken] changes since Queens
  doc/source/install/compute-install-obs.rst
  doc/source/install/compute-install-rdo.rst
  doc/source/install/compute-install-ubuntu.rst
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
Due: none

libvirt: disconnect volume from host during detach
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Revert "Proper error handling by _ensure_resource_provider"
  doc/api_samples/os-hypervisors/v2.33/hypervisors-detail-resp.json
  doc/api_samples/os-hypervisors/v2.33/hypervisors-list-resp.json
  nova/exception.py
  nova/scheduler/client/report.py
  nova/tests/functional/api_sample_tests/api_samples/os-hypervisors/v2.33/hypervisors-detail-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-hypervisors/v2.33/hypervisors-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_hypervisors.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

fix a typo
  nova/network/os_vif_util.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

xenapi: handle InstanceNotFound in detach_interface()
  nova/tests/unit/virt/xenapi/test_vmops.py
  nova/virt/xenapi/vmops.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Mention that users need noVNC >= 0.6
  doc/source/admin/remote-console-access.rst
Due: none

Add `hide_hypervisor_id` flavor extra_spec
  doc/source/user/flavors.rst
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/hide_hypervisor_id-flavor-a7c16afeab553b01.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move update_task_state out of try/except
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix link in placement contributor doc
  doc/source/contributor/placement.rst
Due: none

Remove deprecated [placement] opts
  nova/conf/placement.py
  nova/tests/unit/cmd/test_status.py
  releasenotes/notes/remove-deprecated-placement-opts-aeffb090a2e94bdc.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

xenapi: Documents update for XAPI pool shared SR migration
  doc/source/admin/configuration/hypervisor-xen-api.rst
  doc/source/user/aggregates.rst
Due: none

Path conditions:
  nova-dsvm-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-multiattach: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
