Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tox-functional-py36: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py37: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: unless all of: ^(?!.zuul.yaml)(?!nova/virt/libvirt/)(?!nova/privsep/).*$, ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-simple-crypto-devstack-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Prevent leaked eventlets to send notifications
  nova/test.py
  nova/tests/fixtures/notifications.py
  nova/tests/fixtures/nova.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

db: Remove legacy placement models
  nova/db/api/models.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Enable auto-generation of API DB migrations
  .gitignore
  nova/db/api/migrations/env.py
  nova/db/main/migrations/env.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

objects: Stop querying the main DB for keypairs
  nova/db/main/api.py
  nova/objects/keypair.py
  nova/tests/functional/db/test_keypair.py
  nova/tests/unit/api/openstack/compute/test_keypairs.py
  nova/tests/unit/api/openstack/fakes.py
  nova/tests/unit/compute/test_keypairs.py
  nova/tests/unit/db/main/test_api.py
  nova/tests/unit/objects/test_keypair.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Remove unused build_requests columns
  nova/db/api/migrations/versions/b30f573d3377_remove_unused_build_requests_columns.py
  nova/db/api/models.py
  nova/tests/unit/db/api/test_migrations.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: De-duplicate list of removed table columns
  nova/db/api/migrations/env.py
  nova/db/api/models.py
  nova/db/main/migrations/env.py
  nova/db/main/models.py
  nova/tests/unit/db/api/test_migrations.py
  nova/tests/unit/db/main/test_migrations.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Increase timeout for migration tests
  nova/tests/unit/db/api/test_migrations.py
  nova/tests/unit/db/main/test_migrations.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

docs: Add notes about IoOpsWeigher, BuildFailureWeigher
  doc/source/admin/scheduling.rst
Due: none

docs: Add a new cells v2 document
  doc/source/_extra/.htaccess
  doc/source/admin/cells.rst
  doc/source/admin/configuration/cross-cell-resize.rst
  doc/source/admin/configuring-migrations.rst
  doc/source/admin/troubleshooting/affinity-policy-violated.rst
  doc/source/admin/upgrades.rst
  doc/source/index.rst
  doc/source/reference/index.rst
  doc/source/user/architecture.rst
  doc/source/user/cells.rst
  doc/source/user/cellsv2-layout.rst
  doc/source/user/index.rst
  doc/test/redirect-tests.txt
Due: none

docs: Add new architecture guide
  doc/source/_extra/.htaccess
  doc/source/admin/architecture.rst
  doc/source/admin/index.rst
  doc/source/index.rst
  doc/source/user/architecture.rst
  doc/source/user/index.rst
  doc/test/redirect-tests.txt
Due: none

Reproducer unit test for bug 1934094
  nova/tests/unit/compute/test_shelve.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

ensure samples folder exists for microversion
  nova/tests/functional/api_samples_test_base.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Fix instance's image_ref lost on failed unshelving
  nova/compute/manager.py
  nova/tests/unit/compute/test_shelve.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Query ports with admin client to get resource_request
  nova/compute/api.py
  nova/network/neutron.py
  nova/tests/functional/test_servers_resource_request.py
  nova/tests/unit/compute/test_api.py
  nova/tests/unit/network/test_neutron.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Avoid unbound instance_uuid var during delete
  nova/compute/api.py
  nova/tests/unit/compute/test_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

com.lgtm/python-queries/cwe-327#
  confortare/rfb/tag.authvencrypt.py.md
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Clean up allocations left by evacuation when deleting service
  nova/scheduler/client/report.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/functional/wsgi/test_services.py
  nova/tests/unit/scheduler/client/test_report.py
  releasenotes/notes/bug-1829479-cd2db21526965e6d.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Check Nova project changes with Tobiko scenario test cases
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Log failed metadata retrievals
  nova/api/metadata/handler.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Fix unit test for oslo.concurrency 4.5
  nova/tests/unit/compute/test_compute.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

[nova-manage]support extended resource request
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/exception.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/unit/cmd/test_manage.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Temp disable nova-manage placement heal_allocation testing
  gate/post_test_hook.sh
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Revert "Temp disable nova-manage placement heal_allocation testing"
  gate/post_test_hook.sh
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Reno for qos-minimum-guaranteed-packet-rate
  releasenotes/notes/support-port-resource-request-groups-neutron-api-extension-70a902b79f735cff.yaml
Due: none

nova-manage: Always get BDMs using get_by_volume_and_instance
  nova/cmd/manage.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/unit/cmd/test_manage.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Reproduce bug 1945310
  nova/tests/fixtures/neutron.py
  nova/tests/functional/test_servers_resource_request.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Ignore plug_vifs on the ironic driver
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
  releasenotes/notes/fix-ironic-compute-restart-port-attachments-3282e9ea051561d4.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Remove models that were moved to the API database
  nova/db/main/api.py
  nova/db/main/models.py
  nova/tests/functional/db/test_aggregate_model.py
  nova/tests/functional/db/test_flavor_model.py
  nova/tests/unit/db/test_models.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

objects: Remove 'bandwidth' fields from notifications
  doc/notification_samples/common_payloads/InstanceExistsPayload.json
  doc/notification_samples/common_payloads/InstanceUpdatePayload.json
  nova/compute/utils.py
  nova/db/main/api.py
  nova/notifications/base.py
  nova/notifications/objects/instance.py
  nova/objects/__init__.py
  nova/objects/bandwidth_usage.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/unit/compute/test_utils.py
  nova/tests/unit/notifications/objects/test_notification.py
  nova/tests/unit/objects/test_bandwidth_usage.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/test_notifications.py
  releasenotes/notes/drop-bandwidth-field-from-notifications-d98812a3256cd573.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Remove models for removed services, features
  nova/db/main/models.py
  nova/tests/unit/db/test_models.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

db: Remove nova-network models
  nova/db/main/models.py
  nova/objects/instance.py
  nova/tests/unit/db/test_models.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Remove broken tempest-full-py3-opensuse15 job
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Enable min pps tempest testing in nova-next
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Add a WA flag waiting for vif-plugged event during reboot
  .zuul.yaml
  nova/conf/workarounds.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/bug-1946729-wait-for-vif-plugged-event-during-hard-reboot-fb491f6a68370bab.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Remove SESSION_CONFIGURED global from DB fixture
  nova/tests/fixtures/nova.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Refactor Database fixture
  nova/tests/fixtures/nova.py
  nova/tests/unit/test_fixtures.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

[Trival] Fix wrong microversion in TestClass name
  nova/tests/functional/api_sample_tests/test_servers.py
Due: nova-tox-functional-py36, nova-tox-functional-py37
