Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

.zuul.yaml:

# See https://docs.openstack.org/infra/manual/drivers.html#naming-with-zuul-v3
# for job naming conventions.
- job:
    name: nova-dsvm-base
    parent: legacy-dsvm-base
    description: |
      The base job definition for nova devstack/tempest jobs.
      Contains common configuration.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-lvm
    parent: nova-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml

- job:
    name: nova-multiattach
    parent: nova-dsvm-base
    description: |
      Run tempest integration tests with volume multiattach support enabled.
      This job will only work starting with Queens.
      It uses the default Cinder volume type in devstack (lvm) and the
      default compute driver in devstack (libvirt). It also disables the
      Pike Ubuntu Cloud Archive because volume multiattach support with
      the libvirt driver only works with qemu<2.10 or libvirt>=3.10 which
      won't work with the Pike UCA.
    branches: ^(?!stable/(newton|ocata|pike)).*$
    run: playbooks/legacy/nova-multiattach/run.yaml
    post-run: playbooks/legacy/nova-multiattach/post.yaml

- project:
    # Please try to keep the list of job names sorted alphabetically.
    check:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    experimental:
      jobs:
        - nova-lvm

libvirt: Allow to specify granular CPU feature flags
  nova/conf/libvirt.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/libvirt-cpu-model-extra-flags-a23085f58bd22d27.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add functional test for deleting a compute service
  nova/tests/functional/test_servers.py
  nova/tests/functional/wsgi/test_services.py
Due: nova-tox-functional, nova-tox-functional-py35

api-ref: add a note in DELETE /os-services about deleting computes
  api-ref/source/os-services.inc
Due: none

Block deleting compute services which are hosting instances
  api-ref/source/os-services.inc
  nova/api/openstack/compute/services.py
  nova/tests/functional/wsgi/test_services.py
  releasenotes/notes/bug-1763183-service-delete-with-instances-d7c5c47e4ce31239.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Delete allocations from API if nova-compute is down
  nova/compute/api.py
  nova/tests/functional/regressions/test_bug_1679750.py
  nova/tests/functional/wsgi/test_services.py
  releasenotes/notes/bug-1679750-local-delete-allocations-cb7bfbcb6c36b6a2.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add nova-status check for ironic flavor migration
  doc/source/cli/nova-status.rst
  nova/cmd/status.py
  nova/tests/unit/cmd/test_status.py
  releasenotes/notes/nova-status-check-ironic-flavor-migration-4c78314bf4e74ff6.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Log a warning and add nova-status check for old API service versions
  doc/source/cli/nova-status.rst
  nova/cmd/status.py
  nova/compute/api.py
  nova/tests/unit/cmd/test_status.py
  releasenotes/notes/bug-1759316-nova-status-api-version-check-183fac0525bfd68c.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Update os_compute_api:os-flavor-extra-specs:index docs for 2.47
  nova/policies/flavor_extra_specs.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Document how to disable notifications
  doc/source/reference/notifications.rst
  nova/conf/notifications.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: Add a debug log entry before / after invoking migrate()
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: fix wrong driver name for vhostuser interface
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: add support for virtio-net rx/tx queue sizes
  nova/conf/libvirt.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_designer.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/designer.py
  nova/virt/libvirt/vif.py
  releasenotes/notes/bp-libvirt-virtio-set-queue-sizes-6c54a2ce3dc30d18.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: Bump MIN_{LIBVIRT,QEMU}_VERSION for "Rocky"
  nova/tests/functional/libvirt/test_numa_servers.py
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/functional/libvirt/test_rt_servers.py
  nova/tests/functional/regressions/test_bug_1595962.py
  nova/tests/unit/virt/libvirt/fakelibvirt.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/rocky-libvirt-qemu-min-versions-56412048c12f1f52.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Drop MIN_LIBVIRT_SET_ADMIN_PASSWD
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove vestigial system_metadata param from info_from_instance()
  nova/compute/manager.py
  nova/compute/utils.py
  nova/notifications/base.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/compute/test_compute_utils.py
  nova/tests/unit/notifications/test_base.py
  nova/tests/unit/test_notifications.py
  nova/tests/unit/utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Cleanup RP and HM records while deleting a compute service.
  nova/api/openstack/compute/services.py
  nova/tests/functional/api/client.py
  nova/tests/functional/api_sample_tests/test_services.py
  nova/tests/functional/wsgi/test_services.py
  nova/tests/unit/compute/test_host_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

doc: add note about xenapi aggregate upcall being resolved
  doc/source/user/cellsv2-layout.rst
Due: none

api-ref: mark block_device_mapping_v2.boot_index as required
  api-ref/source/parameters.yaml
Due: none

docs: link to volume multi-attach demo recording
  doc/source/admin/manage-volumes.rst
Due: none

Improve performance when list instances with IP filter
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Address issues raised in adding member_of to GET /a-c
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/api/openstack/placement/util.py
  nova/tests/functional/api/openstack/placement/gabbits/allocation-candidates-member-of.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider-aggregates.yaml
  placement-api-ref/source/allocation_candidates.inc
  placement-api-ref/source/parameters.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use ConsoleAuthToken object to generate authorizations
  nova/compute/api.py
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Proxy is_volume through DriverBlockDevice
  nova/tests/unit/virt/test_block_device.py
  nova/virt/block_device.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use os.rename, not mv.
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Functional test: cold migrate to compute down
  nova/tests/functional/test_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix invalid UUIDs in test
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-tox-functional, nova-tox-functional-py35

Make accept-language tests work with webob 1.8.x
  nova/tests/unit/api/openstack/test_wsgi.py
Due: nova-tox-functional, nova-tox-functional-py35

Bump pypowervm minimum to 1.1.15
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

libvirt: fix hard reboot issue with mdevs
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

PowerVM Driver: Snapshot
  doc/source/user/feature-matrix-gp.ini
  doc/source/user/support-matrix.ini
  nova/exception.py
  nova/tests/unit/virt/powervm/disk/test_ssp.py
  nova/tests/unit/virt/powervm/tasks/test_image.py
  nova/tests/unit/virt/powervm/tasks/test_storage.py
  nova/tests/unit/virt/powervm/test_driver.py
  nova/tests/unit/virt/powervm/test_image.py
  nova/tests/unit/virt/powervm/test_mgmt.py
  nova/virt/powervm/disk/ssp.py
  nova/virt/powervm/driver.py
  nova/virt/powervm/image.py
  nova/virt/powervm/mgmt.py
  nova/virt/powervm/tasks/image.py
  nova/virt/powervm/tasks/storage.py
  releasenotes/notes/powervm-snapshot-c44dc38bf69360f2.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Update docs for [keystone_authtoken] changes since Queens
  doc/source/install/compute-install-obs.rst
  doc/source/install/compute-install-rdo.rst
  doc/source/install/compute-install-ubuntu.rst
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
Due: none

Fix dropped check for boot_index 0 in _validate_bdm
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

ServerActionsSampleJsonTest refactor
  doc/api_samples/os-instance-actions/instance-action-get-resp.json
  doc/api_samples/os-instance-actions/instance-actions-list-resp.json
  doc/api_samples/os-instance-actions/v2.21/instance-action-get-resp.json
  doc/api_samples/os-instance-actions/v2.21/instance-actions-list-resp.json
  doc/api_samples/os-instance-actions/v2.51/instance-action-get-non-admin-resp.json
  doc/api_samples/os-instance-actions/v2.51/instance-action-get-resp.json
  doc/api_samples/os-instance-actions/v2.51/instance-actions-list-resp.json
  doc/api_samples/os-instance-actions/v2.58/instance-action-get-non-admin-resp.json
  doc/api_samples/os-instance-actions/v2.58/instance-action-get-resp.json
  doc/api_samples/os-instance-actions/v2.58/instance-actions-list-resp.json
  doc/api_samples/os-instance-actions/v2.58/instance-actions-list-with-limit-resp.json
  doc/api_samples/os-instance-actions/v2.58/instance-actions-list-with-marker-resp.json
  doc/api_samples/os-instance-actions/v2.58/instance-actions-list-with-timestamp-filter.json
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/instance-action-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/instance-actions-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.21/instance-action-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.21/instance-actions-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.51/instance-action-get-non-admin-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.51/instance-action-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.51/instance-actions-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.58/instance-action-get-non-admin-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.58/instance-action-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.58/instance-actions-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.58/instance-actions-list-with-limit-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.58/instance-actions-list-with-marker-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.58/instance-actions-list-with-timestamp-filter.json.tpl
  nova/tests/functional/api_sample_tests/test_instance_actions.py
Due: nova-tox-functional, nova-tox-functional-py35

xenapi: handle InstanceNotFound in detach_interface()
  nova/tests/unit/virt/xenapi/test_vmops.py
  nova/virt/xenapi/vmops.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Handle deprecation of inspect.getargspec
  nova/cmd/common.py
  nova/network/base_api.py
  nova/test.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/virt/libvirt/test_imagebackend.py
  nova/utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove explicit instance.info_cache.delete()
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Simplify BDM boot index checking
  nova/compute/api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add host/hostId to instance action events API
  api-ref/source/os-instance-actions.inc
  api-ref/source/parameters.yaml
  doc/api_samples/os-instance-actions/v2.62/instance-action-get-non-admin-resp.json
  doc/api_samples/os-instance-actions/v2.62/instance-action-get-resp.json
  doc/api_samples/os-instance-actions/v2.62/instance-actions-list-resp.json
  doc/api_samples/os-instance-actions/v2.62/instance-actions-list-with-limit-resp.json
  doc/api_samples/os-instance-actions/v2.62/instance-actions-list-with-marker-resp.json
  doc/api_samples/os-instance-actions/v2.62/instance-actions-list-with-timestamp-filter.json
  doc/api_samples/versions/v21-version-get-resp.json
  doc/api_samples/versions/versions-get-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/instance_actions.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/policies/instance_actions.py
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.62/instance-action-get-non-admin-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.62/instance-action-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.62/instance-actions-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.62/instance-actions-list-with-limit-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.62/instance-actions-list-with-marker-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-instance-actions/v2.62/instance-actions-list-with-timestamp-filter.json.tpl
  nova/tests/functional/api_sample_tests/test_instance_actions.py
  nova/tests/unit/api/openstack/compute/test_instance_actions.py
  nova/tests/unit/fake_server_actions.py
  releasenotes/notes/add-host-to-instance-action-events-aad2cc18fe191afa.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach
