Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

nova-dsvm-base:
  parent: legacy-dsvm-base
  description: 'The base job definition for nova devstack/tempest jobs.
  
    Contains common configuration.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-lvm:
  parent: nova-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml

nova-multiattach:
  parent: nova-dsvm-base
  description: 'Run tempest integration tests with volume multiattach support enabled.
  
    This job will only work starting with Queens.
  
    It uses the default Cinder volume type in devstack (lvm) and the
  
    default compute driver in devstack (libvirt). It also disables the
  
  ...

Refine waiting for vif plug events during _hard_reboot
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

TrivialFix: Add a space between messages
  nova/db/sqlalchemy/migrate_repo/versions/345_require_online_migration_completion.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

doc: fix the link for the evacuate cli
  doc/source/admin/node-down.rst
Due: none

VGPU: Modify the example of vgpu white_list set
  nova/conf/devices.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Provide basic data for AArch64 support matrix/functionality
  doc/source/user/support-matrix.ini
  nova/virt/libvirt/driver.py
  releasenotes/notes/aarch64-minimum-libvirt-version-86331e5282effbf0.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Ensure resource classes correctly
  nova/scheduler/client/report.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] Add sending global request ID in put (3)
  nova/compute/manager.py
  nova/compute/resource_tracker.py
  nova/conductor/tasks/live_migrate.py
  nova/scheduler/client/report.py
  nova/scheduler/utils.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] Add sending global request ID in get
  nova/compute/manager.py
  nova/compute/resource_tracker.py
  nova/conductor/tasks/migrate.py
  nova/scheduler/client/report.py
  nova/scheduler/manager.py
  nova/scheduler/utils.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_shelve.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/tests/unit/scheduler/test_scheduler.py
  nova/tests/unit/scheduler/test_utils.py
  releasenotes/notes/bug-1734625-419fd0e21bd332f6.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

doc: merge numa.rst to cpu-topologies.rst
  doc/source/_extra/.htaccess
  doc/source/admin/cpu-topologies.rst
  doc/source/admin/index.rst
  doc/source/admin/numa.rst
  doc/test/redirect-tests.txt
Due: nova-tox-functional, nova-tox-functional-py35

Add regression test for BFV+IsolatedHostsFilter failure
  nova/tests/functional/regressions/test_bug_1746483.py
Due: nova-tox-functional, nova-tox-functional-py35

Handle volume-backed instances in IsolatedHostsFilter
  nova/scheduler/filters/isolated_hosts_filter.py
  nova/tests/functional/regressions/test_bug_1746483.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix docs for IsolatedHostsFilter
  doc/source/admin/configuration/schedulers.rst
  doc/source/user/filter-scheduler.rst
Due: none

Replace Chinese quotes to English quotes
  doc/source/admin/service-groups.rst
Due: none

[placement] annotate loadapp as public interface
  nova/api/openstack/placement/deploy.py
  nova/tests/unit/api/openstack/placement/test_deploy.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[libvirt] Add _get_vcpu_realtime_scheduler()
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Make bdms querying in multi-cell use scatter-gather and ignore down cell
  nova/api/openstack/compute/extended_volumes.py
  nova/tests/unit/api/openstack/compute/test_extended_volumes.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix typo in NUMATopologyFilter docs
  doc/source/admin/configuration/schedulers.rst
Due: none

Use dict.get() when accessing capabilities dict
  nova/compute/manager.py
  nova/virt/block_device.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move the nova-next job in-tree and update it
  .zuul.yaml
  playbooks/legacy/nova-next/post.yaml
  playbooks/legacy/nova-next/run.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Do not attempt volume swap when guest is stopped/suspended
  api-ref/source/os-volume-attachments.inc
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
  releasenotes/notes/update-swap-decorator-7622a265df55feaa.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Don't JSON encode instance_info.traits for ironic
  nova/tests/unit/virt/ironic/test_patcher.py
  nova/virt/ironic/patcher.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Drop compute RPC 4.x compatibility
  nova/compute/manager.py
  nova/compute/rpcapi.py
  nova/tests/unit/api/openstack/compute/test_server_diagnostics.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_rpcapi.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix docs for IsolatedHostsFilter
  doc/source/filter_scheduler.rst
Due: none

Add 'delete_host' command in 'nova-manage cell_v2'
  doc/source/man/nova-manage.rst
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
  releasenotes/notes/bug-1721179-87bc7b64215944c0.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix warn api_class is deprecated, use backend
  nova/tests/unit/conf_fixture.py
Due: nova-tox-functional, nova-tox-functional-py35

Lazy-load instance attributes with read_deleted=yes
  nova/objects/instance.py
  nova/tests/unit/objects/test_instance.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix and update compute schedulers config guide
  doc/source/admin/configuration/schedulers.rst
  doc/source/admin/node-down.rst
Due: none

Clarify the help text for [scheduler]periodic_task_interval
  nova/conf/scheduler.py
  nova/conf/service.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove the deprecated scheduler_driver_task_period option
  nova/conf/scheduler.py
  releasenotes/notes/remove-scheduler_driver_task_period-3d13293428db905d.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use correct arguments in task inits
  nova/tests/unit/virt/powervm/tasks/test_network.py
  nova/tests/unit/virt/powervm/tasks/test_storage.py
  nova/tests/unit/virt/powervm/tasks/test_vm.py
  nova/virt/powervm/tasks/network.py
  nova/virt/powervm/tasks/storage.py
  nova/virt/powervm/tasks/vm.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove warning in feature support matrix page
  doc/source/user/support-matrix.rst
Due: none

Path conditions:
  nova-dsvm-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-multiattach: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
