Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/nova
  - openstack/tempest
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-live-migration:
  parent: nova-dsvm-multinode-base
  run: playbooks/legacy/nova-live-migration/run.yaml
  post-run: playbooks/legacy/nova-live-migration/post.yaml

nova-grenade-live-migration:
  parent: nova-dsvm-multinode-base
  description: 'Multi-node grenade job which runs nova/tests/live_migration/hooks tests.
  
    In other words, this tests live migration with mixed-version compute
  
    services which is important for things like rolling upgrade support.
  
    The former name for this job was
  ...

ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  voting: false

devstack-plugin-ceph-tempest:
  voting: false

tempest-multinode-full:
  voting: false

tempest-nova-v2-api:
  parent: devstack-tempest
  branches:
  - master
  description: "This job runs the Tempest compute tests against v2.0 endpoint.\nFormer names for this job was:\n  * legacy-tempest-dsvm-nova-v20-api\n"
  vars:
    tox_envlist: all
    tempest_test_regex: api.*compute
    devstack_localrc:
  ...

libvirt: Calculate disk_over_committed for raw instances
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

fup: Fix [workarounds]/rbd_volume_local_attach config docs
  nova/conf/workarounds.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Fix follow up comments on policy work
  nova/api/openstack/compute/server_groups.py
  nova/tests/unit/policies/base.py
  nova/tests/unit/policies/test_hypervisors.py
  nova/tests/unit/policies/test_instance_usage_audit_log.py
  nova/tests/unit/policies/test_limits.py
  nova/tests/unit/policies/test_lock_server.py
  nova/tests/unit/policies/test_pause_server.py
  nova/tests/unit/policies/test_suspend_server.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Abort live-migration during instance_init
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Avoid spurious error logging in _get_compute_nodes_in_db
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Reject boot request for unsupported images
  nova/api/openstack/compute/servers.py
  nova/compute/api.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
  releasenotes/notes/cinder-detect-nonbootable-image-6fad7f865b45f879.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

images: Make JSON the default output format of calls to qemu-img info
  nova/privsep/qemu.py
  nova/tests/unit/privsep/test_qemu.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_utils.py
  nova/tests/unit/virt/test_images.py
  nova/virt/images.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Reset the cell cache for database access in Service
  nova/context.py
  nova/service.py
  nova/tests/functional/test_service.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Remove Babel requirement
  lower-constraints.txt
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Init HostState.failed_builds
  nova/scheduler/host_manager.py
  nova/tests/unit/scheduler/test_host_manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Fix false ERROR message at compute restart
  nova/compute/manager.py
  nova/scheduler/client/report.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Introduce scope_types in servers attributes Policies
  nova/policies/extended_server_attributes.py
  nova/policies/servers.py
  nova/tests/unit/policies/test_servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add new default roles in servers attributes policies
  nova/api/openstack/compute/views/servers.py
  nova/policies/extended_server_attributes.py
  nova/policies/servers.py
  nova/tests/unit/policies/test_servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add test coverage of existing remaining servers policies
  nova/tests/unit/policies/test_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Introduce scope_types in remaining servers Policies
  nova/policies/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add new default roles in remaining servers policies
  nova/policies/base.py
  nova/policies/servers.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/network/test_neutron.py
  nova/tests/unit/policies/test_servers.py
  nova/tests/unit/test_policy.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Allocate mdevs when resizing or reverting resize
  doc/source/admin/virtual-gpu.rst
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/libvirt/test_vgpu.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

docs: Add stable device rescue docs
  doc/source/user/rescue.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

Revert "Temporarily skip TestNovaMigrationsMySQL"
  nova/tests/unit/db/test_migrations.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove stale nested backport from InstancePCIRequests
  nova/objects/instance_pci_requests.py
  nova/tests/unit/objects/test_instance_pci_requests.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Ussuri 21.0.0 prelude section
  releasenotes/notes/ussuri-prelude-4b96f1244cefcdf4.yaml
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

Add config option for neutron client retries
  nova/conf/neutron.py
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
  releasenotes/notes/neutron-connection-retries-c276010afe238abc.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add retry to cinder API calls related to volume detach
  nova/tests/unit/volume/test_cinder.py
  nova/volume/cinder.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add docs and releasenotes for BP policy-defaults-refresh
  doc/source/configuration/index.rst
  doc/source/configuration/policy-concepts.rst
  releasenotes/notes/bp-policy-defaults-refresh-b8e6e2d6b1a7bc21.yaml
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

FUP: Amend ussuri prelude to add docs for policy concepts
  releasenotes/notes/ussuri-prelude-4b96f1244cefcdf4.yaml
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

Make RBD imagebackend flatten method idempotent
  nova/tests/unit/virt/libvirt/test_imagebackend.py
  nova/virt/libvirt/imagebackend.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Update .gitreview for stable/ussuri
  .gitreview
Due: nova-tox-functional, nova-tox-functional-py35

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

Add Python3 victoria unit tests
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add placeholder migrations for Ussuri backports
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/073_placeholder.py
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/074_placeholder.py
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/075_placeholder.py
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/076_placeholder.py
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/077_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/408_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/409_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/410_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/411_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/412_placeholder.py
  nova/tests/functional/db/api/test_migrations.py
  nova/tests/unit/db/test_migrations.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Switch to TOX_CONSTRAINTS_FILE
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

Lowercase ironic driver hash ring and ignore case in cache
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Imported Translations from Zanata
  nova/locale/cs/LC_MESSAGES/nova.po
  nova/locale/de/LC_MESSAGES/nova.po
  nova/locale/es/LC_MESSAGES/nova.po
  nova/locale/fr/LC_MESSAGES/nova.po
  nova/locale/it/LC_MESSAGES/nova.po
  nova/locale/ja/LC_MESSAGES/nova.po
  nova/locale/ko_KR/LC_MESSAGES/nova.po
  nova/locale/pt_BR/LC_MESSAGES/nova.po
  nova/locale/ru/LC_MESSAGES/nova.po
  nova/locale/tr_TR/LC_MESSAGES/nova.po
  nova/locale/zh_CN/LC_MESSAGES/nova.po
  nova/locale/zh_TW/LC_MESSAGES/nova.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

Remove translation sections from setup.cfg
  babel.cfg
  setup.cfg
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/unit/.*$, ^nova/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-grenade-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^api-.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*\.py$, ^nova/tests/functional/.*$, ^nova/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-slow: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$, ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-nova-v2-api: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-src-oslo.versionedobjects: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  ironic-tempest-dsvm-bfv: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
