Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, neutron-linuxbridge-tempest, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Path conditions:
  nova-tox-functional-centos8-py36: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py38: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py39: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-live-migration-ceph: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: unless all of: ^(?!.zuul.yaml)(?!nova/virt/libvirt/)(?!nova/privsep/).*$, ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-ceph-multistore: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-linuxbridge-tempest: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-tempest-plugin-simple-crypto: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovs-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovs-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-compute-local-ephemeral: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Isolate PCI tracker unit tests
  nova/tests/unit/pci/test_manager.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Remove unavailable but not reported PCI devices at startup
  nova/objects/pci_device.py
  nova/pci/manager.py
  nova/tests/unit/objects/test_pci_device.py
  nova/tests/unit/pci/test_manager.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Simulate bug 1969496
  nova/tests/unit/pci/test_manager.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Allow claiming PCI PF if child VF is unavailable
  nova/objects/pci_device.py
  nova/pci/stats.py
  nova/tests/unit/pci/test_manager.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Retry in CellDatabases fixture when global DB state changes
  nova/tests/fixtures/nova.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Add Python 3.10 functional jobs
  .zuul.yaml
  tox.ini
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Switch libvirt event timeout message to warning
  nova/virt/libvirt/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Define new functional test tox env for placement gate to run
  tox.ini
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Fix extending non LUKSv1 encrypted volumes
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/bug-1967157-extend-encrypted.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Test aborting queued live migration
  nova/tests/functional/libvirt/base.py
  nova/tests/functional/libvirt/test_live_migration.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

trivial: fix deprecation warning in notification fixture
  nova/tests/fixtures/notifications.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Add functional tests to reproduce bug #1960412
  nova/tests/fixtures.py
  nova/tests/functional/libvirt/test_live_migration.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Clean up when queued live migration aborted
  nova/compute/manager.py
  nova/tests/functional/libvirt/test_live_migration.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Revert "zuul: Skip block migration with attached volumes tests due to bug #1931702"
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix race condition in _get_pci_passthrough_devices
  nova/virt/libvirt/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Adds regression test for bug LP#1944619
  nova/tests/functional/regressions/test_bug_1944619.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Fix pre_live_migration rollback
  nova/compute/manager.py
  nova/tests/functional/regressions/test_bug_1944619.py
  nova/tests/unit/compute/test_compute_mgr.py
  releasenotes/notes/bug-1944619-fix-live-migration-rollback.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

neutron: Unbind remaining ports after PortNotFound
  nova/network/neutron.py
  nova/tests/unit/network/test_neutron.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, neutron-linuxbridge-tempest, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

[stable-only] Use Tempest's run upper constraints from devstack
  gate/live_migration/hooks/utils.sh
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Reproducer unit test for bug 1934094
  nova/tests/unit/compute/test_shelve.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Fix instance's image_ref lost on failed unshelving
  nova/compute/manager.py
  nova/tests/unit/compute/test_shelve.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

libvirt: Add a workaround to skip compareCPU() on destination
  nova/conf/workarounds.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/skip-compare-cpu-on-dest-6ae419ddd61fd0f8.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Accept both 1 and Y as AMD SEV KVM kernel param value
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/libvirt/host.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix duplicates keys
  nova/tests/unit/console/test_websocketproxy.py
  nova/tests/unit/policies/test_security_groups.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Reproduce live migration rollback w/o multi port bindings error
  nova/tests/functional/regressions/test_bug_1888395.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Fix LM rollback w/o multi port bindings extension
  nova/tests/functional/regressions/test_bug_1888395.py
  nova/virt/libvirt/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add missing condition
  nova/objects/migrate_data.py
  nova/tests/unit/objects/test_migrate_data.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Update [scheduler] limit_tenants_to_placement_aggregate config help
  nova/conf/scheduler.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix typos in help messages
  nova/compute/resource_tracker.py
  nova/conf/compute.py
  nova/conf/hyperv.py
  nova/conf/libvirt.py
  nova/conf/neutron.py
  nova/conf/quota.py
  nova/conf/scheduler.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

docs: Correct path used for config on Hyper-V
  doc/source/admin/configuration/hypervisor-hyper-v.rst
Due: none

Add service version check workaround for FFU
  nova/api/openstack/wsgi_app.py
  nova/conf/workarounds.py
  nova/service.py
  nova/tests/unit/api/openstack/test_wsgi_app.py
  nova/tests/unit/test_service.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral
