Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/unit/.*$, ^nova/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-grenade-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^api-.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*\.py$, ^nova/tests/functional/.*$, ^nova/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-slow: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$, ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-nova-v2-api: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-src-oslo.versionedobjects: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  ironic-tempest-dsvm-bfv: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$

nova-live-migration: Wait for n-cpu services to come up after configuring Ceph
  nova/tests/live_migration/hooks/ceph.sh
Due: nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration

Stop setting glance_api_version in cinder.conf in nova-live-migration
  nova/tests/live_migration/hooks/ceph.sh
Due: nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration

nova-live-migration: Ensure subnode is fenced during evacuation testing
  gate/test_evacuate.sh
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add config option for neutron client retries
  nova/conf/neutron.py
  nova/network/neutron.py
  nova/tests/unit/network/test_neutron.py
  releasenotes/notes/neutron-connection-retries-c276010afe238abc.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

libvirt: Fix unit test error block info on non x86 architecture
  nova/tests/unit/virt/libvirt/test_blockinfo.py
Due: nova-tox-functional, nova-tox-functional-py35

Lowercase ironic driver hash ring and ignore case in cache
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Replace ansible --sudo with --become in live_migration/hooks scripts
  nova/tests/live_migration/hooks/ceph.sh
  nova/tests/live_migration/hooks/nfs.sh
  nova/tests/live_migration/hooks/run_tests.sh
Due: nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration

Increase code reuse in test_numa_servers
  nova/tests/functional/libvirt/test_numa_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Make serialize_args handle exception messages safely
  nova/objects/base.py
  nova/tests/unit/objects/test_instance_action.py
  nova/tests/unit/objects/test_objects.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Store instance action event exc_val fault details
  nova/objects/instance_action.py
  nova/tests/unit/api/openstack/compute/test_instance_actions.py
  nova/tests/unit/fake_server_actions.py
  nova/tests/unit/objects/test_instance_action.py
  nova/tests/unit/objects/test_objects.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

nova-live-migration: Only stop n-cpu and q-agt during evacuation testing
  gate/test_evacuate.sh
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add Cyborg device profile groups to request spec.
  nova/accelerator/cyborg.py
  nova/api/openstack/compute/servers.py
  nova/compute/api.py
  nova/exception.py
  nova/tests/fixtures.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/accelerator/test_cyborg.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

ksa auth conf and client for Cyborg access
  nova/accelerator/__init__.py
  nova/accelerator/cyborg.py
  nova/conf/__init__.py
  nova/conf/cyborg.py
  nova/context.py
  nova/tests/unit/accelerator/__init__.py
  nova/tests/unit/accelerator/test_cyborg.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Pass accelerator requests to each virt driver from compute manager.
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/hyperv/driver.py
  nova/virt/ironic/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/powervm/driver.py
  nova/virt/vmwareapi/driver.py
  nova/virt/xenapi/driver.py
  nova/virt/zvm/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Create and bind Cyborg ARQs.
  nova/accelerator/cyborg.py
  nova/compute/manager.py
  nova/conductor/manager.py
  nova/conf/compute.py
  nova/exception.py
  nova/tests/fixtures.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/accelerator/test_cyborg.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Compose accelerator PCI devices into domain XML in libvirt driver.
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

libvirt: Remove VIR_DOMAIN_BLOCK_REBASE_RELATIVE flag check
  nova/tests/unit/virt/libvirt/fakelibvirt.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

[Trivial] fixing some nits in instance actions policy tests
  nova/tests/unit/policies/test_instance_actions.py
Due: nova-tox-functional, nova-tox-functional-py35

nova-live-migration: Wait for n-cpu services to come up after configuring Ceph
  nova/tests/live_migration/hooks/ceph.sh
  nova/tests/live_migration/hooks/nfs.sh
  nova/tests/live_migration/hooks/run_tests.sh
Due: nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration

func tests: move _run_periodics() into base class
  nova/test.py
  nova/tests/functional/compute/test_cache_image.py
  nova/tests/functional/db/test_virtual_interface.py
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/regressions/test_bug_1764883.py
  nova/tests/functional/regressions/test_bug_1823370.py
  nova/tests/functional/regressions/test_bug_1830747.py
  nova/tests/functional/test_aggregates.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/functional/test_scheduler.py
  nova/tests/functional/test_server_group.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Functional tests for NUMA live migration
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/libvirt/test_numa_live_migration.py
  nova/tests/unit/virt/libvirt/fake_imagebackend.py
  nova/tests/unit/virt/libvirt/fakelibvirt.py
  nova/tests/unit/virt/test_virt_drivers.py
Due: nova-tox-functional, nova-tox-functional-py35

NUMA LM: Add func test for bug 1845146
  nova/tests/functional/libvirt/test_numa_live_migration.py
Due: nova-tox-functional, nova-tox-functional-py35

tests: work around malformed serial XML
  nova/tests/unit/virt/libvirt/fakelibvirt.py
  nova/tests/unit/virt/test_virt_drivers.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove future imports
  nova/cmd/common.py
  nova/cmd/manage.py
  nova/cmd/status.py
  nova/crypto.py
  nova/image/glance.py
  nova/tests/fixtures.py
  nova/tests/functional/api_paste_fixture.py
  nova/tests/functional/fixtures.py
  nova/tests/functional/test_compute_mgr.py
  nova/tests/functional/test_metadata.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/virt/powervm/disk/test_ssp.py
  nova/tests/unit/virt/powervm/test_driver.py
  nova/tests/unit/virt/powervm/test_media.py
  nova/tests/unit/virt/powervm/test_vm.py
  nova/wsgi.py
  tools/db/schema_diff.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Remove exp legacy-tempest-dsvm-full-devstack-plugin-nfs
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

libvirt: Use domain capabilities to get supported device models
  nova/tests/functional/libvirt/test_report_cpu_traits.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add transform_image_metadata request filter
  nova/conf/scheduler.py
  nova/scheduler/request_filter.py
  nova/tests/unit/scheduler/test_request_filter.py
  releasenotes/notes/image-metadata-prefiltering-2921c1d38951f7a9.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

pike-only: remove broken non-voting ceph jobs
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Improve metadata server performance with large security groups
  nova/network/security_group/neutron_driver.py
  nova/tests/unit/network/security_group/test_neutron_driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

bug-fix: Reject live migration with vpmem
  nova/conductor/tasks/live_migrate.py
  nova/tests/unit/conductor/tasks/test_live_migrate.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Delete ARQs for an instance when the instance is deleted.
  nova/accelerator/cyborg.py
  nova/compute/api.py
  nova/compute/manager.py
  nova/compute/utils.py
  nova/conductor/manager.py
  nova/tests/fixtures.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/accelerator/test_cyborg.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_compute_utils.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Enable start/stop of instances with accelerators.
  nova/compute/manager.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/hyperv/driver.py
  nova/virt/ironic/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/powervm/driver.py
  nova/virt/vmwareapi/driver.py
  nova/virt/xenapi/driver.py
  nova/virt/zvm/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Enable hard/soft reboot with accelerators.
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/hyperv/driver.py
  nova/virt/ironic/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/powervm/driver.py
  nova/virt/vmwareapi/driver.py
  nova/virt/xenapi/driver.py
  nova/virt/zvm/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Mask the token used to allow access to consoles
  nova/console/websocketproxy.py
  nova/consoleauth/manager.py
  nova/tests/unit/console/test_websocketproxy.py
  nova/tests/unit/consoleauth/test_consoleauth.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Avoid circular reference during serialization
  nova/conductor/tasks/migrate.py
  nova/tests/unit/conductor/tasks/test_migrate.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full
