Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/nova
  - openstack/tempest
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-live-migration:
  parent: nova-dsvm-multinode-base
  run: playbooks/legacy/nova-live-migration/run.yaml
  post-run: playbooks/legacy/nova-live-migration/post.yaml

nova-grenade-live-migration:
  parent: nova-dsvm-multinode-base
  description: 'Multi-node grenade job which runs nova/tests/live_migration/hooks tests.
  
    In other words, this tests live migration with mixed-version compute
  
    services which is important for things like rolling upgrade support.
  
    The former name for this job was
  ...

ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  voting: false

devstack-plugin-ceph-tempest:
  voting: false

tempest-multinode-full:
  voting: false

tempest-nova-v2-api:
  parent: devstack-tempest
  branches:
  - master
  description: "This job runs the Tempest compute tests against v2.0 endpoint.\nFormer names for this job was:\n  * legacy-tempest-dsvm-nova-v20-api\n"
  vars:
    tox_envlist: all
    tempest_test_regex: api.*compute
    devstack_localrc:
  ...

libvirt: Mark e1000e VIF as supported
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
  releasenotes/notes/bug-1882919-support-e1000e-vif-5437a45c13dff978.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Correct reported system memory
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/libvirt/host.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

doc: Correct typo
  doc/source/user/flavors.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

Reproduce bug 1862633
  nova/tests/functional/regressions/test_bug_1862633.py
Due: nova-tox-functional, nova-tox-functional-py35

Move image verification and writing out of download method
  nova/image/glance.py
  nova/tests/unit/image/test_glance.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Clean up allocation if unshelve fails due to neutron
  nova/compute/manager.py
  nova/tests/functional/regressions/test_bug_1862633.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

objects: Introduce 'pcpuset' field for InstanceNUMACell
  nova/api/openstack/compute/server_topology.py
  nova/objects/instance_numa.py
  nova/tests/functional/api_sample_tests/test_server_topology.py
  nova/tests/unit/api/openstack/compute/test_server_topology.py
  nova/tests/unit/compute/test_claims.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/conductor/tasks/test_live_migrate.py
  nova/tests/unit/fake_request_spec.py
  nova/tests/unit/objects/test_instance.py
  nova/tests/unit/objects/test_instance_numa.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/pci/test_stats.py
  nova/tests/unit/policies/test_server_topology.py
  nova/tests/unit/scheduler/filters/test_numa_topology_filters.py
  nova/tests/unit/virt/hyperv/test_vmops.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_hardware.py
  nova/virt/hardware.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Make our ceph job test with glance in multistore mode
  .zuul.yaml
  playbooks/ceph/glance-copy-policy.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

notifications: add the pcpuset info to instance numa cell payload
  doc/notification_samples/common_payloads/InstanceNUMACellPayload.json
  nova/notifications/objects/request_spec.py
  nova/tests/unit/notifications/objects/test_notification.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

objects: Introduce the 'CPUAllocationPolicy.MIXED' enum
  doc/notification_samples/common_payloads/ImageMetaPropsPayload.json
  doc/notification_samples/common_payloads/InstanceNUMACellPayload.json
  nova/api/openstack/compute/servers.py
  nova/api/validation/extra_specs/hw.py
  nova/exception.py
  nova/notifications/objects/image.py
  nova/notifications/objects/request_spec.py
  nova/objects/fields.py
  nova/objects/image_meta.py
  nova/objects/instance_numa.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/unit/api/validation/extra_specs/test_validators.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/notifications/objects/test_notification.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/virt/test_hardware.py
  nova/virt/hardware.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

hardware: refactor the code for CPU policy sanity check
  nova/virt/hardware.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

libvirt: apply mixed instance CPU policy
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Validate CPU pinning configuration for mixed instance
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

scheduler: mixed instance CPU resource translating
  nova/scheduler/utils.py
  nova/tests/unit/scheduler/test_utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Calculate the CPU usage for mixed instance
  nova/tests/unit/virt/test_hardware.py
  nova/virt/hardware.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add functional test for bug 1550919
  nova/tests/functional/libvirt/test_evacuate.py
Due: nova-tox-functional, nova-tox-functional-py35

libvirt: Fix misleading debug msg "Instance is running"
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Check cherry-pick hashes in pep8 tox target
  tools/check-cherry-picks.sh
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

libvirt: Simplify '_create_domain' function
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_guest.py
  nova/tests/unit/virt/test_virt_drivers.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

libvirt: Add vTPM config support
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/hardware.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/host.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

scheduler: Request vTPM trait based on flavor or image
  doc/notification_samples/common_payloads/ImageMetaPropsPayload.json
  nova/api/validation/extra_specs/hw.py
  nova/notifications/objects/image.py
  nova/objects/fields.py
  nova/objects/image_meta.py
  nova/scheduler/utils.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/unit/notifications/objects/test_notification.py
  nova/tests/unit/objects/test_image_meta.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/scheduler/test_utils.py
  nova/tests/unit/virt/test_hardware.py
  nova/virt/hardware.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

crypto: Add support for creating, destroying vTPM secrets
  nova/crypto.py
  nova/tests/unit/test_crypto.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

tests: Rename tests for '_create_guest_with_network'
  nova/tests/unit/virt/libvirt/test_driver.py
Due: nova-tox-functional, nova-tox-functional-py35

tests: Move single use constants to their callers
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/libvirt/test_report_cpu_traits.py
  nova/tests/functional/test_servers_provider_tree.py
Due: nova-tox-functional, nova-tox-functional-py35

manager: Prevent compute startup on invalid vTPM config
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/powervm/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

tests: Define constants in '_IntegratedTestBase'
  nova/tests/functional/api_sample_tests/api_sample_base.py
  nova/tests/functional/api_sample_tests/test_compare_result.py
  nova/tests/functional/api_sample_tests/test_simple_tenant_usage.py
  nova/tests/functional/api_sample_tests/test_versions.py
  nova/tests/functional/api_samples_test_base.py
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/test_middleware.py
Due: nova-tox-functional, nova-tox-functional-py35

tests: Add 'PlacementHelperMixin', 'PlacementInstanceHelperMixin'
  nova/tests/functional/integrated_helpers.py
Due: nova-tox-functional, nova-tox-functional-py35

tests: Remove 'test_servers.ServersTestBase'
  nova/tests/functional/db/test_archive.py
  nova/tests/functional/db/test_virtual_interface.py
  nova/tests/functional/libvirt/base.py
  nova/tests/functional/libvirt/test_vgpu.py
  nova/tests/functional/regressions/test_bug_1669054.py
  nova/tests/functional/regressions/test_bug_1823370.py
  nova/tests/functional/test_boot_from_volume.py
  nova/tests/functional/test_conf_max_attach_disk_devices.py
  nova/tests/functional/test_images.py
  nova/tests/functional/test_instance_actions.py
  nova/tests/functional/test_legacy_v2_compatible_wrapper.py
  nova/tests/functional/test_multiattach.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/functional/test_servers.py
  nova/tests/functional/wsgi/test_interfaces.py
  nova/tests/functional/wsgi/test_secgroup.py
Due: nova-tox-functional, nova-tox-functional-py35

tests: Make '_IntegratedTestBase' subclass 'PlacementInstanceHelperMixin'
  nova/tests/functional/integrated_helpers.py
Due: nova-tox-functional, nova-tox-functional-py35

libvirt: Don't delete disks on shared storage during evacuate
  nova/tests/functional/libvirt/test_evacuate.py
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/functional/regressions/test_bug_1595962.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

zuul: remove legacy-tempest-dsvm-neutron-dvr-multinode-full
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Reject boot request for unsupported images
  nova/api/openstack/compute/servers.py
  nova/compute/api.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
  releasenotes/notes/cinder-detect-nonbootable-image-6fad7f865b45f879.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Remove broken legacy zuul jobs
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add test coverage of baremetal nodes policies
  nova/tests/unit/policies/test_baremetal_nodes.py
Due: nova-tox-functional, nova-tox-functional-py35

Introduce scope_types in baremetal node
  nova/policies/baremetal_nodes.py
  nova/tests/unit/policies/test_baremetal_nodes.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add test coverage of FIP pools policies
  nova/tests/unit/api/openstack/compute/test_floating_ip_pools.py
  nova/tests/unit/policies/test_floating_ip_pools.py
Due: nova-tox-functional, nova-tox-functional-py35

Introduce scope_types in FIP pools
  nova/policies/floating_ip_pools.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/unit/.*$, ^nova/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-grenade-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^api-.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*\.py$, ^nova/tests/functional/.*$, ^nova/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-slow: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$, ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-nova-v2-api: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-src-oslo.versionedobjects: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  ironic-tempest-dsvm-bfv: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
