Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, neutron-linuxbridge-tempest, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Path conditions:
  nova-tox-functional-centos8-py36: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py38: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py39: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-live-migration-ceph: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: unless all of: ^(?!.zuul.yaml)(?!nova/virt/libvirt/)(?!nova/privsep/).*$, ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-ceph-multistore: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-linuxbridge-tempest: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-tempest-plugin-simple-crypto: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovs-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovs-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-compute-local-ephemeral: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

func: Increase rpc_response_timeout in TestMultiCellMigrate tests
  nova/tests/functional/test_cross_cell_migrate.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

[stable-only] Make sdk broken job non voting until it is fixed
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add service version check workaround for FFU
  nova/api/openstack/wsgi_app.py
  nova/conf/workarounds.py
  nova/service.py
  nova/tests/unit/api/openstack/test_wsgi_app.py
  nova/tests/unit/test_service.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Optimize _local_delete calls by compute unit tests
  nova/tests/unit/compute/test_api.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Clean up allocations left by evacuation when deleting service
  nova/scheduler/client/report.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/functional/wsgi/test_services.py
  nova/tests/unit/scheduler/client/test_report.py
  releasenotes/notes/bug-1829479-cd2db21526965e6d.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

libvirt: Add a workaround to skip compareCPU() on destination
  nova/conf/workarounds.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/skip-compare-cpu-on-dest-6ae419ddd61fd0f8.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Change TooOldComputeService upgrade check code to failure
  nova/cmd/status.py
  nova/tests/unit/cmd/test_status.py
  releasenotes/notes/too-old-compute-check-code-7dbcde45cfd23394.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Retry attachment delete API call for 504 Gateway Timeout
  nova/tests/unit/volume/test_cinder.py
  nova/volume/cinder.py
  releasenotes/notes/bug-1978444-db46df5f3d5ea19e.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Optimize numa_fit_instance_to_host
  nova/tests/unit/virt/test_hardware.py
  nova/virt/hardware.py
  releasenotes/notes/bug-1978372-optimized-numa-fitting-algorithm-5d5b922b0bdbf818.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Make test_wait_for_instance_event_* test time independent
  nova/tests/unit/compute/test_virtapi.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

fake: Ensure need_legacy_block_device_info returns False
  nova/tests/unit/compute/test_compute.py
  nova/virt/driver.py
  nova/virt/fake.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

zuul: Temporarly put Centos9 Stream job non-voting
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add a regression test for bug 1939545
  nova/tests/fixtures.py
  nova/tests/functional/regressions/test_bug_1939545.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

fup: Make connection_info returned by CinderFixture unique per attachment
  nova/tests/fixtures.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

compute: Ensure updates to bdms during pre_live_migration are saved
  nova/compute/manager.py
  nova/tests/functional/regressions/test_bug_1939545.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

fup: Assert state of connection_info during LM rollback in func tests
  nova/tests/functional/compute/test_live_migration.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Add missing condition
  nova/objects/migrate_data.py
  nova/tests/unit/objects/test_migrate_data.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Reattach mdevs to guest on resume
  doc/source/admin/virtual-gpu.rst
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/bug-1948705-ff80ae392c525475.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Remove return from rpc cast
  nova/compute/rpcapi.py
  nova/conductor/rpcapi.py
  nova/scheduler/rpcapi.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix typos in help messages
  nova/compute/resource_tracker.py
  nova/conf/compute.py
  nova/conf/hyperv.py
  nova/conf/libvirt.py
  nova/conf/neutron.py
  nova/conf/quota.py
  nova/conf/scheduler.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

add repoducer test for bug 1890244
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

ignore deleted server groups in validation
  nova/compute/manager.py
  nova/objects/request_spec.py
  nova/tests/functional/regressions/test_bug_1890244.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/objects/test_request_spec.py
  releasenotes/notes/fix-group-policy-validation-with-deleted-groups-4f685fd1d6b84192.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Imported Translations from Zanata
  nova/locale/zh_CN/LC_MESSAGES/nova.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

Adds validation for hw machine type in host caps
  nova/tests/functional/libvirt/test_machine_type.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/host.py
  releasenotes/notes/validate-machine-type-0d5f3dbd1e2ace31.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Test attached volume extend actions in the nova-next job
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

[ironic] Minimize window for a resource provider to be lost
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
  releasenotes/notes/minimize-bug-1841481-race-window-f76912d4985770ad.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

update nova-next and nova-ovs-hybrid-plug to disable linuxbridge
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Replace "db archive" with "db archive_deleted_raws"
  doc/source/cli/nova-manage.rst
Due: none

zuul: Put Centos9 Stream job periodic-weekly and experimental
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Adds link in releasenotes for hw machine type bug
  releasenotes/notes/validate-machine-type-0d5f3dbd1e2ace31.yaml
Due: none

[nova/libvirt] Support for checking and enabling SMM when needed
  nova/exception.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_host.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/host.py
  releasenotes/notes/bug-1958636-smm-check-and-enable.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Test setting the nova job to centos-9-stream
  .zuul.yaml
  tools/test-setup.sh
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

etc: Highlight absence of packages from config gen
  etc/nova/nova-config-generator.conf
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Remove use of pkg_resources
  nova/cmd/status.py
  nova/tests/functional/test_report_client.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

libvirt: remove default cputune shares value
  doc/source/admin/resource-limits.rst
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_migration.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/migration.py
  releasenotes/notes/remove-default-cputune-shares-values-85d5ddf4b8e24eaa.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add a proper schema version to network_data.json
  doc/api_schemas/network_data.json
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

libvirt: Remove unnecessary TODO
  nova/virt/libvirt/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral
