Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

nova-dsvm-multinode-base:
  parent: legacy-dsvm-base-multinode
  description: 'Base job for multinode nova devstack/tempest jobs.
  
    Will setup firewall rules on all the nodes allowing them to talk to
  
    each other.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-live-migration:
  parent: nova-dsvm-multinode-base
  run: playbooks/legacy/nova-live-migration/run.yaml
  post-run: playbooks/legacy/nova-live-migration/post.yaml

ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  voting: false

legacy-grenade-dsvm-neutron-multinode-live-migration:
  voting: false

legacy-tempest-dsvm-full-devstack-plugin-ceph:
  voting: false

tempest-multinode-full:
  voting: false

Fix regression in glance client call
  nova/image/glance.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Handle unicode characters in migration params
  nova/tests/unit/virt/libvirt/test_guest.py
  nova/virt/libvirt/guest.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Skip double word hacking test
  nova/tests/unit/test_hacking.py
Due: nova-tox-functional

Nix refs to ResourceProvider obj from libvirt UT
  nova/tests/unit/virt/libvirt/test_driver.py
Due: nova-tox-functional

Fix server query examples
  api-guide/source/server_concepts.rst
Due: none

Allow driver to specify switch&port for faster lookup
  nova/tests/unit/virt/vmwareapi/test_vif.py
  nova/virt/vmwareapi/vif.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Use long_rpc_timeout in select_destinations RPC call
  nova/conf/rpc.py
  nova/scheduler/client/__init__.py
  nova/scheduler/rpcapi.py
  nova/scheduler/utils.py
  nova/tests/unit/scheduler/test_client.py
  nova/tests/unit/scheduler/test_rpcapi.py
  releasenotes/notes/bug-1795992-long_rpc_timeout-select_destinations-9712e8690160928f.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add CellsV2 FAQ about API design decisions
  doc/source/user/cells.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Remove v1 check in Cinder client version lookup
  nova/volume/cinder.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Consider root id is None in the database case
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add recreate test for bug 1799892
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-tox-functional

Add HPET timer support for x86 guests
  nova/objects/image_meta.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/bp-support-hpet-on-guest-2292b2b863c4d9ef.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Transform compute_task notifications
  doc/api_samples/images/images-details-get-resp.json
  doc/notification_samples/common_payloads/ComputeTaskPayload.json
  doc/notification_samples/common_payloads/ExceptionPayload.json
  doc/notification_samples/common_payloads/ImageMetaPayload.json
  doc/notification_samples/common_payloads/ImageMetaPropsPayload.json
  doc/notification_samples/common_payloads/InstanceNUMACellPayload.json
  doc/notification_samples/common_payloads/InstanceNUMATopologyPayload.json
  doc/notification_samples/common_payloads/InstancePCIRequestsPayload.json
  doc/notification_samples/common_payloads/RequestSpecPayload.json
  doc/notification_samples/compute_task-build_instances-error.json
  doc/notification_samples/compute_task-migrate_server-error.json
  doc/notification_samples/compute_task-rebuild_server-error.json
  nova/compute/utils.py
  nova/notifications/objects/base.py
  nova/notifications/objects/compute_task.py
  nova/notifications/objects/image.py
  nova/notifications/objects/request_spec.py
  nova/objects/fields.py
  nova/scheduler/utils.py
  nova/tests/functional/api_sample_tests/api_samples/images/images-details-get-resp.json.tpl
  nova/tests/functional/notification_sample_tests/notification_sample_base.py
  nova/tests/functional/notification_sample_tests/test_compute_task.py
  nova/tests/functional/test_compute_mgr.py
  nova/tests/unit/conductor/test_conductor.py
  nova/tests/unit/image/fake.py
  nova/tests/unit/image/test_fake.py
  nova/tests/unit/notifications/objects/test_notification.py
  nova/tests/unit/scheduler/test_scheduler_utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Make supports_direct_io work on 4096b sector size
  nova/utils.py
  releasenotes/notes/bug-1801702-c8203d3d55007deb.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Make supports_direct_io work on 4096b sector size
  nova/privsep/utils.py
  releasenotes/notes/bug-1801702-c8203d3d55007deb.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Make supports_direct_io work on 4096b sector size
  nova/virt/libvirt/driver.py
  releasenotes/notes/bug-1801702-c8203d3d55007deb.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Remove NovaException logging from scatter_gather_cells
  nova/context.py
  nova/tests/unit/test_context.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Default embedded instance.flavor.is_public attribute
  nova/objects/instance.py
  nova/tests/unit/objects/test_instance.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add I/O Semaphore to limit concurrent disk ops
  nova/compute/manager.py
  nova/compute/utils.py
  nova/conf/compute.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_imagebackend.py
  nova/tests/unit/virt/libvirt/test_utils.py
  nova/tests/unit/virt/test_images.py
  nova/tests/unit/virt/xenapi/test_vm_utils.py
  nova/virt/images.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/utils.py
  nova/virt/xenapi/vm_utils.py
  releasenotes/notes/bp-io-semaphore-for-concurrent-disk-ops-690890c9f01fa18c.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Don't use private interface in oslo.service
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/disk/mount/test_api.py
  nova/tests/unit/virt/libvirt/test_guest.py
Due: nova-tox-functional

Imported Translations from Zanata
  nova/locale/ko_KR/LC_MESSAGES/nova.po
Due: none

Add a bug tag for nova doc
  doc/source/conf.py
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Use links to placement docs in nova docs
  doc/source/cli/nova-status.rst
  doc/source/conf.py
  doc/source/configuration/index.rst
  doc/source/configuration/placement-policy.rst
  doc/source/configuration/sample-placement-policy.rst
  doc/source/contributor/how-to-get-involved.rst
  doc/source/contributor/index.rst
  doc/source/contributor/placement.rst
  doc/source/index.rst
  doc/source/install/get-started-compute.rst
  doc/source/user/architecture.rst
  doc/source/user/index.rst
  doc/source/user/placement.rst
  doc/source/user/upgrade.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Remove ironic/pike note from *_allocation_ratio help
  nova/conf/compute.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Drop cruft code for all_tenants behaviour
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add missing ws seperator between words
  nova/api/openstack/placement/handlers/resource_class.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/cmd/manage.py
  nova/compute/provider_tree.py
  nova/conf/libvirt.py
  nova/conf/wsgi.py
  nova/network/neutronv2/api.py
  nova/virt/driver.py
  nova/virt/hyperv/serialproxy.py
  nova/virt/libvirt/firewall.py
  nova/virt/powervm/media.py
  nova/virt/xenapi/agent.py
  nova/virt/xenapi/vif.py
  nova/virt/xenapi/vmops.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Give drop_move_claim() correct docstring
  nova/compute/resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix InstanceNotFound during _destroy_evacuated_instances
  nova/compute/manager.py
  nova/tests/functional/regressions/test_bug_1794996.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Always read-deleted=yes on lazy-load
  nova/compute/manager.py
  nova/objects/instance.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/objects/test_instance.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Refactor TestEvacuateDeleteServerRestartOriginalCompute
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/regressions/test_bug_1794996.py
  nova/tests/functional/test_servers.py
Due: nova-tox-functional

Change the default values of XXX_allocation_ratio
  nova/compute/resource_tracker.py
  nova/conf/compute.py
  nova/objects/compute_node.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/objects/test_compute_node.py
  releasenotes/notes/add_initial_allocation_ratio-2d2666d62426a4bf.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Migrate nova v2.0 legacy job to zuulv3
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Restore nova-consoleauth to install docs
  doc/source/admin/remote-console-access.rst
  doc/source/admin/system-admin.rst
  doc/source/cli/nova-consoleauth.rst
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
  doc/source/install/get-started-compute.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Remove get_node_uuid
  nova/compute/resource_tracker.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^api-.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*\.py$, ^nova/tests/functional/.*$, ^nova/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-ceph: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$, ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-v20-api: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-src-oslo.versionedobjects: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
