Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

.zuul.yaml:

# See https://docs.openstack.org/infra/manual/drivers.html#naming-with-zuul-v3
# for job naming conventions.
- job:
    name: nova-dsvm-base
    parent: legacy-dsvm-base
    description: |
      The base job definition for nova devstack/tempest jobs.
      Contains common configuration.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-lvm
    parent: nova-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml

- job:
    name: nova-multiattach
    parent: nova-dsvm-base
    description: |
      Run tempest integration tests with volume multiattach support enabled.
      This job will only work starting with Queens.
      It uses the default Cinder volume type in devstack (lvm) and the
      default compute driver in devstack (libvirt). It also disables the
      Pike Ubuntu Cloud Archive because volume multiattach support with
      the libvirt driver only works with qemu<2.10 or libvirt>=3.10 which
      won't work with the Pike UCA.
    branches: ^(?!stable/(newton|ocata|pike)).*$
    run: playbooks/legacy/nova-multiattach/run.yaml
    post-run: playbooks/legacy/nova-multiattach/post.yaml

- project:
    # Please try to keep the list of job names sorted alphabetically.
    check:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    experimental:
      jobs:
        - nova-lvm

Teardown networking when rolling back live migration even if shared disk
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Allow scheduling only to enabled cells (Filter Scheduler)
  nova/scheduler/host_manager.py
  nova/scheduler/ironic_host_manager.py
  nova/scheduler/manager.py
  nova/tests/unit/scheduler/test_host_manager.py
  nova/tests/unit/scheduler/test_scheduler.py
  releasenotes/notes/stop-scheduling-to-disabled-cells-eadbfe30d1f6be65.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix unit tests to work with new oslo.config
  nova/tests/unit/image/test_glance.py
  nova/tests/unit/virt/disk/mount/test_nbd.py
Due: nova-tox-functional, nova-tox-functional-py35

[placement] Add test for provider summaries
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/gabbits/allocation-candidates.yaml
Due: nova-tox-functional, nova-tox-functional-py35

trivial: Fix nits in code comments
  nova/api/openstack/placement/objects/resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Complement tests in allocation candidates
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-tox-functional, nova-tox-functional-py35

SchedulerReportClient.update_from_provider_tree
  nova/exception.py
  nova/scheduler/client/report.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Make generation optional in ProviderTree
  nova/compute/provider_tree.py
  nova/scheduler/client/report.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_provider_tree.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use update_provider_tree from resource tracker
  nova/compute/resource_tracker.py
  nova/tests/functional/compute/test_resource_tracker.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix nits in update_provider_tree series
  nova/compute/provider_tree.py
  nova/scheduler/client/report.py
  nova/tests/unit/compute/test_provider_tree.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/virt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix a missing white space in exception message
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add tests for alloc_cands with member_of
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-tox-functional, nova-tox-functional-py35

Fix member_of with sharing providers
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Expand member_of functional test cases
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-tox-functional, nova-tox-functional-py35

Test case: traits don't sync if first access fails
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
Due: nova-tox-functional, nova-tox-functional-py35

Use an independent transaction for _trait_sync
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move pypowervm requirement to 1.1.12
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Get rid of 406 paths in report client
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix cancel_all_events event name parsing
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_virtapi.py
  nova/tests/unit/virt/libvirt/test_driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add tests for _get_trees_matching_all() function
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-tox-functional, nova-tox-functional-py35

[Trivial]Add missing blank space in conf description
  nova/conf/compute.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] api-ref: Fix parameters
  placement-api-ref/source/resource_providers.inc
Due: none

network: add command to configure trusted mode for VFs
  nova/network/linux_net.py
  nova/tests/unit/network/test_linux_net.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Include only required fields in ironic node cache
  nova/tests/unit/virt/ironic/test_driver.py
  nova/tests/unit/virt/ironic/utils.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Request only instance_uuid in ironic node list
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move configurable mkfs to privsep.
  nova/privsep/fs.py
  nova/tests/unit/privsep/test_fs.py
  nova/tests/unit/virt/disk/test_api.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_utils.py
  nova/virt/disk/api.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/utils.py
  releasenotes/notes/privsep-rocky-rootwrap-adds-644c43fbd86f9f8a.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move xenapi xenstore_read's to privsep.
  nova/privsep/xenapi.py
  nova/tests/unit/virt/xenapi/test_vm_utils.py
  nova/virt/xenapi/vm_utils.py
  releasenotes/notes/privsep-rocky-rootwrap-adds-644c43fbd86f9f8a.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove a outdated warning
  doc/source/index.rst
  doc/source/user/index.rst
Due: none

Avoid showing password in log
  nova/compute/manager.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Default to py3 for the pep8 tox env because it's stricter
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

DRY up test_rollback_live_migration_set_migration_status
  nova/tests/unit/compute/test_compute.py
Due: nova-tox-functional, nova-tox-functional-py35

Avoid unnecessary port update during live migration
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Noauth should also use request_id from compute_req_id.py
  nova/api/openstack/auth.py
  nova/tests/unit/api/openstack/test_auth.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add --enable and --disable options to nova-manage update_cell
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
  releasenotes/notes/add-disabled-to-create_cell-feb1643ec4716eb2.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add __repr__ for NovaException
  nova/exception.py
  nova/tests/unit/test_exception.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add nova-status check for ironic flavor migration
  doc/source/cli/nova-status.rst
  nova/cmd/status.py
  nova/tests/unit/cmd/test_status.py
  releasenotes/notes/nova-status-check-ironic-flavor-migration-4c78314bf4e74ff6.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Transform aggregate.update_metadata notification
  doc/notification_samples/aggregate-update_metadata-end.json
  doc/notification_samples/aggregate-update_metadata-start.json
  nova/notifications/objects/aggregate.py
  nova/notifications/objects/base.py
  nova/objects/aggregate.py
  nova/objects/fields.py
  nova/tests/functional/notification_sample_tests/test_aggregate.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/notifications/objects/test_notification.py
  nova/tests/unit/objects/test_aggregate.py
  nova/tests/unit/virt/xenapi/test_xenapi.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: log vm and task state when vif plugging times out
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Support extending attached ScaleIO volumes
  nova/tests/unit/virt/libvirt/volume/test_scaleio.py
  nova/virt/libvirt/volume/scaleio.py
  releasenotes/notes/scaleio-extend-volume-d82c39a30e0a09ca.yaml
  requirements.txt
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: Allow to specify granular CPU feature flags
  nova/conf/libvirt.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/libvirt-cpu-model-extra-flags-a23085f58bd22d27.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach
