Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

.zuul.yaml:

# See https://docs.openstack.org/infra/manual/drivers.html#naming-with-zuul-v3
# for job naming conventions.
- job:
    name: nova-dsvm-base
    parent: legacy-dsvm-base
    description: |
      The base job definition for nova devstack/tempest jobs.
      Contains common configuration.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-lvm
    parent: nova-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml

- job:
    name: nova-multiattach
    parent: nova-dsvm-base
    description: |
      Run tempest integration tests with volume multiattach support enabled.
      This job will only work starting with Queens.
      It uses the default Cinder volume type in devstack (lvm) and the
      default compute driver in devstack (libvirt). It also disables the
      Pike Ubuntu Cloud Archive because volume multiattach support with
      the libvirt driver only works with qemu<2.10 or libvirt>=3.10 which
      won't work with the Pike UCA.
    branches: ^(?!stable/(newton|ocata|pike)).*$
    run: playbooks/legacy/nova-multiattach/run.yaml
    post-run: playbooks/legacy/nova-multiattach/post.yaml

- project:
    # Please try to keep the list of job names sorted alphabetically.
    check:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    experimental:
      jobs:
        - nova-lvm

Handle spawning error on unshelving
  nova/compute/manager.py
  nova/tests/unit/compute/test_shelve.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: disconnect volume from host during detach
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Clarify `resources` query param for /r_p and /a_c
  placement-api-ref/source/parameters.yaml
Due: none

compute: Cleans up allocations after failed resize
  nova/compute/manager.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Clean up ports and volumes when deleting ERROR instance
  nova/compute/api.py
  nova/tests/functional/regressions/test_bug_1404867.py
  nova/tests/functional/regressions/test_bug_1670627.py
  nova/tests/functional/regressions/test_bug_1689692.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add functional test for deleting BFV server with old attach flow
  nova/tests/functional/wsgi/test_servers.py
Due: nova-tox-functional, nova-tox-functional-py35

Ensure attachment_id always exists for block device mapping
  nova/compute/api.py
  nova/tests/functional/wsgi/test_servers.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] Add sending global request ID in put (3)
  nova/compute/manager.py
  nova/compute/resource_tracker.py
  nova/conductor/tasks/live_migrate.py
  nova/scheduler/client/report.py
  nova/scheduler/utils.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

rp: GET /resource_providers?required=<traits>
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/api/openstack/placement/schemas/resource_provider.py
  nova/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider.yaml
  placement-api-ref/source/parameters.yaml
  placement-api-ref/source/resource_providers.inc
  releasenotes/notes/placement-required-traits-on-list-resource-providers-fab11cdb36cd3502.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Check for leaked server resource allocations in post_test_hook
  gate/post_test_hook.sh
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] Add functional tests for traits API
  nova/tests/functional/api/openstack/placement/gabbits/traits.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Update noVNC deployment docs to mention non-US keymap fix in 1.0.0
  doc/source/admin/remote-console-access.rst
Due: none

Make _get_sharing_providers more efficient
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add check for redundant import aliases
  HACKING.rst
  nova/hacking/checks.py
  nova/service.py
  nova/tests/unit/image/test_glance.py
  nova/tests/unit/test_hacking.py
  nova/tests/unit/virt/test_virt_drivers.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Clarify wording in listing instance actions for deleted instances
  api-ref/source/os-instance-actions.inc
Due: none

Remove unused LOG variables
  nova/api/openstack/compute/extension_info.py
  nova/api/openstack/compute/flavor_manage.py
  nova/api/openstack/placement/handlers/allocation_candidate.py
  nova/cmd/compute.py
  nova/objects/flavor.py
  nova/tests/functional/regressions/test_bug_1735407.py
  nova/tests/unit/objects/test_objects.py
  nova/virt/libvirt/volume/nfs.py
  nova/virt/powervm/host.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: mask InjectionInfo.admin_pass
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Convert users of tune2fs to privsep.
  etc/nova/rootwrap.d/compute.filters
  nova/privsep/fs.py
  nova/tests/unit/virt/xenapi/test_vm_utils.py
  nova/virt/xenapi/vm_utils.py
  releasenotes/notes/privsep-rocky-rootwrap-adds-644c43fbd86f9f8a.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move makefs to privsep
  nova/privsep/fs.py
  nova/tests/unit/privsep/test_fs.py
  nova/tests/unit/test_configdrive2.py
  nova/tests/unit/test_utils.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/xenapi/test_vm_utils.py
  nova/tests/unit/virt/xenapi/test_xenapi.py
  nova/utils.py
  nova/virt/configdrive.py
  nova/virt/disk/api.py
  nova/virt/libvirt/driver.py
  nova/virt/xenapi/vm_utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Stop using mox in api/openstack/fakes.py
  nova/tests/unit/api/openstack/compute/test_images.py
  nova/tests/unit/api/openstack/compute/test_server_actions.py
  nova/tests/unit/api/openstack/fakes.py
Due: nova-tox-functional, nova-tox-functional-py35

Allow 'network' in RequestContext service_catalog
  nova/context.py
  nova/tests/unit/test_context.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] use simple FaultWrapper
  nova/api/openstack/placement/deploy.py
  nova/api/openstack/placement/fault_wrap.py
  nova/api/openstack/placement/handler.py
  nova/tests/unit/api/openstack/placement/test_fault_wrap.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Imported Translations from Zanata
  nova/locale/cs/LC_MESSAGES/nova.po
  nova/locale/de/LC_MESSAGES/nova.po
  nova/locale/es/LC_MESSAGES/nova.po
  nova/locale/fr/LC_MESSAGES/nova.po
  nova/locale/it/LC_MESSAGES/nova.po
  nova/locale/ja/LC_MESSAGES/nova.po
  nova/locale/ko_KR/LC_MESSAGES/nova.po
  nova/locale/pt_BR/LC_MESSAGES/nova.po
  nova/locale/ru/LC_MESSAGES/nova.po
  nova/locale/tr_TR/LC_MESSAGES/nova.po
  nova/locale/zh_CN/LC_MESSAGES/nova.po
  nova/locale/zh_TW/LC_MESSAGES/nova.po
Due: none

Fix and update compute schedulers config guide
  doc/source/admin/configuration/schedulers.rst
  doc/source/admin/node-down.rst
Due: none

Remove osprofiler tests
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Move db MAX constants to own file
  nova/api/openstack/placement/handlers/inventory.py
  nova/api/openstack/placement/schemas/inventory.py
  nova/db/api.py
  nova/db/constants.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Updated from global requirements
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Pass user context to virt driver when detaching volume
  nova/tests/unit/virt/hyperv/test_driver.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_block_device.py
  nova/tests/unit/virt/test_virt_drivers.py
  nova/tests/unit/virt/vmwareapi/test_driver_api.py
  nova/virt/block_device.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/hyperv/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/vmwareapi/driver.py
  nova/virt/xenapi/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix the notification devref location in exception
  nova/rpc.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Make the nova-next job voting and gating
  .zuul.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach
