Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^api-.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*\.py$, ^nova/tests/functional/.*$, ^nova/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-ceph: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$, ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-v20-api: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-src-oslo.versionedobjects: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$

tox: Don't write byte code (maybe)
  tox.ini
Due: nova-tox-functional, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Ignore VolumeAttachmentNotFound exception in compute.manager
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Provide a useful error message when trying to update non-compute services
  nova/api/openstack/compute/services.py
  nova/tests/unit/api/openstack/compute/test_services.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Change sqlalchemy warnings filter to an error
  lower-constraints.txt
  nova/tests/fixtures.py
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

api-ref: Add descriptions for vol-backed snapshots
  api-ref/source/servers-actions.inc
Due: none

Address nits from I9e30a24a4c0640f282f507d0a96640d3cdefe43c
  nova/conf/cinder.py
  nova/conf/serial_console.py
  nova/utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Drop the integrated-gate (py27) template
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Handle unicode characters in migration params
  nova/tests/unit/virt/libvirt/test_guest.py
  nova/virt/libvirt/guest.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Remove deprecated 'os-flavor-manage' policy
  doc/source/admin/flavors.rst
  nova/api/openstack/compute/flavor_manage.py
  nova/policies/flavor_manage.py
  nova/tests/unit/api/openstack/compute/test_flavor_manage.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/remove-deprecated-os-flavor-manage-policy-138296853d957c5f.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix a missing policy in test policy data
  nova/tests/unit/api/openstack/compute/test_flavor_manage.py
  nova/tests/unit/fake_policy.py
Due: nova-tox-functional

Fix deps for api-samples tox env
  tox.ini
Due: nova-tox-functional, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Make VolumeAttachmentsSampleV249 test other methods
  doc/api_samples/os-volumes/v2.49/list-volume-attachments-resp.json
  doc/api_samples/os-volumes/v2.49/update-volume-req.json
  doc/api_samples/os-volumes/v2.49/volume-attachment-detail-resp.json
  nova/tests/functional/api_sample_tests/api_samples/os-volumes/v2.49/list-volume-attachments-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-volumes/v2.49/update-volume-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-volumes/v2.49/volume-attachment-detail-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_volumes.py
Due: nova-tox-functional, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Stub out port binding create/delete in NeutronFixture
  nova/network/neutronv2/api.py
  nova/tests/fixtures.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix irrelevant-files for legacy-grenade-dsvm-neutron-multinode-live-migration
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Trim fake_deserialize_context in test_conductor
  nova/tests/unit/conductor/test_conductor.py
Due: nova-tox-functional

Cleanup inflight rpc messages between test cases
  nova/tests/fixtures.py
Due: nova-tox-functional

Plumbing required in servers ViewBuilder to construct partial results
  nova/api/openstack/compute/servers.py
  nova/api/openstack/compute/views/servers.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add context.target_cell() stub to DownCellFixture
  nova/tests/fixtures.py
  nova/tests/unit/test_fixtures.py
Due: nova-tox-functional

API microversion 2.69: Handles Down Cells
  api-ref/source/os-services.inc
  api-ref/source/servers.inc
  doc/api_samples/os-services/v2.69/services-list-get-resp.json
  doc/api_samples/servers/v2.69/server-create-req.json
  doc/api_samples/servers/v2.69/server-create-resp.json
  doc/api_samples/servers/v2.69/server-get-resp.json
  doc/api_samples/servers/v2.69/servers-details-resp.json
  doc/api_samples/servers/v2.69/servers-list-resp.json
  doc/api_samples/versions/v21-version-get-resp.json
  doc/api_samples/versions/versions-get-resp.json
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/servers.py
  nova/api/openstack/compute/services.py
  nova/conf/api.py
  nova/tests/functional/api_sample_tests/api_samples/os-services/v2.69/services-list-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.69/server-create-req.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.69/server-create-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.69/server-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.69/servers-details-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/servers/v2.69/servers-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_servers.py
  nova/tests/functional/api_sample_tests/test_services.py
  nova/tests/functional/test_servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Lock detach_volume
  nova/compute/manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

libvirt: Bump MIN_{LIBVIRT,QEMU}_VERSION for "Stein"
  nova/tests/unit/virt/libvirt/fakelibvirt.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

libvirt: Rewrite _create_pty_device() to be clearer
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

libvirt: Drop MIN_LIBVIRT_PARALLELS_SET_ADMIN_PASSWD
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

libvirt: Omit needless check on 'CONF.serial_console'
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Make service all-cells min version helper use scatter-gather
  nova/api/openstack/compute/servers.py
  nova/compute/api.py
  nova/objects/service.py
  nova/tests/fixtures.py
  nova/tests/unit/objects/test_service.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Make host_manager use scatter-gather and ignore down cells
  nova/scheduler/host_manager.py
  nova/tests/unit/scheduler/test_host_manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix fake DELETE in PlacementFixture
  nova/tests/functional/fixtures.py
Due: nova-tox-functional

Create specialist set_macaddr_and_vlan helper.
  nova/network/linux_utils.py
  nova/privsep/linux_net.py
  nova/tests/unit/virt/libvirt/test_vif.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Move create_tap_dev into privsep.
  nova/network/linux_utils.py
  nova/privsep/linux_net.py
  nova/tests/unit/network/test_utils.py
  nova/tests/unit/privsep/test_linux_net.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Avoid redundant initialize_connection on source post live migration
  nova/compute/manager.py
  nova/objects/migrate_data.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

API microversion 2.69: Handles Down Cells Documentation
  api-guide/source/down_cells.rst
  api-guide/source/index.rst
  api-guide/source/server_concepts.rst
  api-ref/source/os-services.inc
  api-ref/source/servers.inc
  doc/source/user/cells.rst
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/conf/api.py
  releasenotes/notes/bp-handling-down-cell-10f76145d767300c.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix typo in initial_disk_allocation_ratio release note
  releasenotes/notes/add_initial_allocation_ratio-2d2666d62426a4bf.yaml
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Replace ansible --sudo with --become in live_migration/hooks scripts
  nova/tests/live_migration/hooks/ceph.sh
  nova/tests/live_migration/hooks/nfs.sh
  nova/tests/live_migration/hooks/run_tests.sh
Due: nova-tox-functional, legacy-grenade-dsvm-neutron-multinode-live-migration
