Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/unit/.*$, ^nova/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-grenade-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^api-.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*\.py$, ^nova/tests/functional/.*$, ^nova/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-slow: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$, ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-nova-v2-api: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-src-oslo.versionedobjects: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  ironic-tempest-dsvm-bfv: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$

Deprecate the vmwareapi driver
  nova/virt/vmwareapi/driver.py
  releasenotes/notes/deprecate-vmware-ussuri-39e0215eca80ffd7.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Fix os-keypairs pagination links
  doc/api_samples/keypairs/v2.35/keypairs-list-resp.json
  doc/api_samples/keypairs/v2.35/keypairs-list-user2-resp.json
  nova/api/openstack/compute/views/keypairs.py
  nova/tests/functional/api_sample_tests/api_samples/keypairs/v2.35/keypairs-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/keypairs/v2.35/keypairs-list-user2-resp.json.tpl
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Run sdk functional tests on nova changes
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add retry_on_deadlock to migration_update DB API
  nova/db/sqlalchemy/api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

vif: Remove dead code
  nova/virt/libvirt/vif.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Cleanup test for system reader and reader_or_owner rules
  nova/tests/unit/test_policy.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove global state from the FakeDriver
  doc/api_samples/os-hypervisors/v2.53/hypervisors-list-resp.json
  nova/test.py
  nova/tests/functional/api_sample_tests/api_samples/os-hypervisors/v2.53/hypervisors-list-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_hypervisors.py
  nova/tests/functional/compute/test_live_migration.py
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/functional/regressions/test_bug_1669054.py
  nova/tests/functional/regressions/test_bug_1671648.py
  nova/tests/functional/regressions/test_bug_1702454.py
  nova/tests/functional/regressions/test_bug_1718455.py
  nova/tests/functional/regressions/test_bug_1718512.py
  nova/tests/functional/regressions/test_bug_1719730.py
  nova/tests/functional/regressions/test_bug_1735407.py
  nova/tests/functional/regressions/test_bug_1741307.py
  nova/tests/functional/regressions/test_bug_1746483.py
  nova/tests/functional/regressions/test_bug_1764556.py
  nova/tests/functional/regressions/test_bug_1764883.py
  nova/tests/functional/regressions/test_bug_1781710.py
  nova/tests/functional/regressions/test_bug_1784353.py
  nova/tests/functional/regressions/test_bug_1797580.py
  nova/tests/functional/regressions/test_bug_1815153.py
  nova/tests/functional/regressions/test_bug_1830747.py
  nova/tests/functional/regressions/test_bug_1839560.py
  nova/tests/functional/test_aggregates.py
  nova/tests/functional/test_availability_zones.py
  nova/tests/functional/test_server_group.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/virt/test_virt_drivers.py
  nova/virt/fake.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Handle flavor disk mismatches when resizing
  nova/api/openstack/compute/servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Enhance service restart in functional env
  nova/test.py
  nova/tests/functional/regressions/test_bug_1794996.py
  nova/tests/functional/test_servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Avoid circular reference during serialization
  nova/conductor/tasks/migrate.py
  nova/tests/unit/conductor/tasks/test_migrate.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Non-Admin user can filter their instances by more filters
  api-guide/source/server_concepts.rst
  api-ref/source/parameters.yaml
  api-ref/source/servers.inc
  doc/api_samples/versions/v21-version-get-resp.json
  doc/api_samples/versions/versions-get-resp.json
  doc/source/contributor/microversions.rst
  nova/api/openstack/api_version_request.py
  nova/api/openstack/compute/rest_api_version_history.rst
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
  releasenotes/notes/allow-non-admin-filter-instance-more-filter-ea5abad7c32ff328.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

images: Move qemu-img info calls into privsep
  nova/privsep/qemu.py
  nova/tests/unit/virt/libvirt/test_utils.py
  nova/virt/images.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

images: Allow the output format of qemu-img info to be controlled
  nova/privsep/qemu.py
  nova/tests/unit/virt/libvirt/test_utils.py
  nova/virt/images.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

virt: Pass request context to extend_volume
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/powervm/test_driver.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/libvirt/driver.py
  nova/virt/powervm/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

libvirt: Correctly resize encrypted LUKSv1 volumes
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

libvirt: Use oslo.utils >= 4.1.0 to fetch format-specific image data
  lower-constraints.txt
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/images.py
  nova/virt/libvirt/driver.py
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Reproduce bug 1862633
  nova/tests/functional/regressions/test_bug_1862633.py
Due: nova-tox-functional, nova-tox-functional-py35

nova-live-migration: Wait for n-cpu services to come up after configuring Ceph
  gate/live_migration/hooks/ceph.sh
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Fix intermittently failing regression case
  nova/tests/functional/regressions/test_bug_1862633.py
Due: nova-tox-functional, nova-tox-functional-py35

Follow-ups for host_status:unknown-only policy rule
  nova/api/openstack/compute/views/servers.py
  nova/policies/servers.py
  nova/tests/functional/test_policy.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Ensures that COMPUTE_RESOURCE_SEMAPHORE usage is fair
  nova/test.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Refine and introduce correct parameters for test_get_guest_config_numa_host_instance_topo_cpu_pinning
  nova/tests/unit/virt/libvirt/test_driver.py
Due: nova-tox-functional, nova-tox-functional-py35

bug-fix: Reject live migration with vpmem
  nova/conductor/tasks/live_migrate.py
  nova/tests/unit/conductor/tasks/test_live_migrate.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Switching new default roles in os-volumes-attachments policies
  nova/policies/volumes_attachments.py
  nova/tests/unit/policies/test_volumes.py
  nova/tests/unit/test_policy.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add test coverage of existing flavor_access policies
  nova/tests/unit/api/openstack/compute/test_flavor_access.py
  nova/tests/unit/policies/test_flavor_access.py
Due: nova-tox-functional, nova-tox-functional-py35

Introduce scope_types in os-flavor-access
  nova/policies/flavor_access.py
  nova/tests/unit/policies/test_flavor_access.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Bump python-subunit minimum to 1.4.0
  lower-constraints.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Support unshelve with qos ports
  nova/compute/manager.py
  nova/conductor/manager.py
  nova/network/neutron.py
  nova/objects/service.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_utils.py
  nova/tests/unit/compute/test_shelve.py
  nova/tests/unit/conductor/test_conductor.py
  nova/tests/unit/network/test_neutron.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Enable unshelve with qos ports
  api-guide/source/port_with_resource_request.rst
  nova/api/openstack/common.py
  nova/api/openstack/compute/shelve.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/api/openstack/compute/test_migrate_server.py
  nova/tests/unit/api/openstack/compute/test_server_actions.py
  releasenotes/notes/support-unshelving-servers-with-neutron-ports-with-resource-request-d91a282fe56c7489.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add service version check for live migrate with qos
  nova/api/openstack/compute/migrate_server.py
  nova/tests/functional/test_servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add service version check for evacuate with qos
  nova/api/openstack/compute/evacuate.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/policies/test_evacuate.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Merge qos related renos for Ussuri
  releasenotes/notes/support-evacuting-servers-with-neutron-ports-with-resource-request-04cf8c721cbc376f.yaml
  releasenotes/notes/support-live-migrating-servers-with-neutron-ports-with-resource-request-cf9a21dacb9c5ece.yaml
  releasenotes/notes/support-server-move-operations-with-neutron-ports-with-resource-request-c41598d0e4aef37b.yaml
  releasenotes/notes/support-unshelving-servers-with-neutron-ports-with-resource-request-d91a282fe56c7489.yaml
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv

Add new default roles in os-flavor-access policies
  nova/policies/flavor_access.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/policies/test_flavor_access.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Lowercase ironic driver hash ring and ignore case in cache
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add new default roles in os-instance-actions policies
  nova/api/openstack/compute/instance_actions.py
  nova/policies/instance_actions.py
  nova/tests/functional/api_sample_tests/test_instance_actions.py
  nova/tests/unit/api/openstack/compute/test_instance_actions.py
  nova/tests/unit/cmd/test_policy.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/policies/test_instance_actions.py
  nova/tests/unit/test_policy.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-tox-functional-py35, nova-live-migration, nova-grenade-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow, neutron-grenade-multinode, devstack-plugin-ceph-tempest, tempest-multinode-full, tempest-full, neutron-grenade, tempest-nova-v2-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, legacy-tempest-dsvm-full-devstack-plugin-nfs, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full
