Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

.zuul.yaml:

# See https://docs.openstack.org/infra/manual/drivers.html#naming-with-zuul-v3
# for job naming conventions.
- job:
    name: nova-dsvm-base
    parent: legacy-dsvm-base
    description: |
      The base job definition for nova devstack/tempest jobs.
      Contains common configuration.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-lvm
    parent: nova-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml

- job:
    name: nova-multiattach
    parent: nova-dsvm-base
    description: |
      Run tempest integration tests with volume multiattach support enabled.
      This job will only work starting with Queens.
      It uses the default Cinder volume type in devstack (lvm) and the
      default compute driver in devstack (libvirt). It also disables the
      Pike Ubuntu Cloud Archive because volume multiattach support with
      the libvirt driver only works with qemu<2.10 or libvirt>=3.10 which
      won't work with the Pike UCA.
    branches: ^(?!stable/(newton|ocata|pike)).*$
    run: playbooks/legacy/nova-multiattach/run.yaml
    post-run: playbooks/legacy/nova-multiattach/post.yaml

- project:
    # Please try to keep the list of job names sorted alphabetically.
    check:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    experimental:
      jobs:
        - nova-lvm

Updated from global requirements
  test-requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Unmap compute nodes when deleting host mappings in delete cell operation
  nova/cmd/manage.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Update the nova-manage db archive_deleted_rows description
  doc/source/cli/nova-manage.rst
Due: none

Make archive_deleted_rows handle a missing CONF.api_database.connection
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

docs: Disable smartquotes
  doc/source/conf.py
Due: none

Follow the new PTI for document build
  doc/requirements.txt
  setup.cfg
  test-requirements.txt
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Add 'member_of' param to GET /allocation_candidates
  nova/api/openstack/placement/handlers/allocation_candidate.py
  nova/api/openstack/placement/lib.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/api/openstack/placement/schemas/allocation_candidate.py
  nova/api/openstack/placement/util.py
  nova/tests/functional/api/openstack/placement/fixtures.py
  nova/tests/functional/api/openstack/placement/gabbits/allocation-candidates-member-of.yaml
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  placement-api-ref/source/allocation_candidates.inc
  releasenotes/notes/allocation_candidates_support_member_of-92f7e1440ed63fe7.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

conf: Remove 'db_driver' config opt
  nova/conf/database.py
  nova/db/base.py
  nova/manager.py
  releasenotes/notes/remove-db_driver-config-opt-50110843b3221fc4.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

api-ref: add a note in DELETE /os-services about deleting computes
  api-ref/source/os-services.inc
Due: none

Add --by-service to discover_hosts
  doc/source/cli/nova-manage.rst
  nova/cmd/manage.py
  nova/objects/host_mapping.py
  nova/tests/unit/objects/test_host_mapping.py
  nova/tests/unit/test_nova_manage.py
  releasenotes/notes/discover-hosts-by-service-06ee20365b895127.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Updated from global requirements
  doc/requirements.txt
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Add placeholder migrations for Queens backports
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/053_placeholder.py
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/054_placeholder.py
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/055_placeholder.py
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/056_placeholder.py
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/057_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/379_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/380_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/381_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/382_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/383_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/384_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/385_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/386_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/387_placeholder.py
  nova/db/sqlalchemy/migrate_repo/versions/388_placeholder.py
  nova/tests/functional/db/api/test_migrations.py
  nova/tests/unit/db/test_migrations.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add disabled column to cell_mappings table.
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/058_cell_mapping_add_disabled.py
  nova/db/sqlalchemy/api_models.py
  nova/tests/functional/db/api/test_migrations.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[libvirt] Add _get_numa_memnode()
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[libvirt] Add _get_XXXpin_cpuset()
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

remove _cleanup_running_deleted_instances repeat detach volume
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

trivial: omit condition evaluations
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

add check before adding cpus to cpuset_reserved
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Report client: Remove version discovery comment
  nova/scheduler/client/report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move placement exceptions into the placement package
  nova/api/openstack/placement/exception.py
  nova/api/openstack/placement/handler.py
  nova/api/openstack/placement/handlers/allocation.py
  nova/api/openstack/placement/handlers/allocation_candidate.py
  nova/api/openstack/placement/handlers/inventory.py
  nova/api/openstack/placement/handlers/resource_class.py
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/api/openstack/placement/handlers/trait.py
  nova/api/openstack/placement/handlers/usage.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/db/sqlalchemy/resource_class_cache.py
  nova/exception.py
  nova/tests/functional/api/openstack/placement/test_report_client.py
  nova/tests/functional/db/test_allocation_candidates.py
  nova/tests/functional/db/test_resource_class_cache.py
  nova/tests/functional/db/test_resource_provider.py
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove version/date from CLI documentation
  doc/source/cli/nova-api-metadata.rst
  doc/source/cli/nova-api-os-compute.rst
  doc/source/cli/nova-api.rst
  doc/source/cli/nova-cells.rst
  doc/source/cli/nova-compute.rst
  doc/source/cli/nova-conductor.rst
  doc/source/cli/nova-console.rst
  doc/source/cli/nova-consoleauth.rst
  doc/source/cli/nova-dhcpbridge.rst
  doc/source/cli/nova-manage.rst
  doc/source/cli/nova-network.rst
  doc/source/cli/nova-novncproxy.rst
  doc/source/cli/nova-rootwrap.rst
  doc/source/cli/nova-scheduler.rst
  doc/source/cli/nova-serialproxy.rst
  doc/source/cli/nova-spicehtml5proxy.rst
  doc/source/cli/nova-status.rst
  doc/source/cli/nova-xvpvncproxy.rst
Due: none

libvirt: slow live-migration to ensure network is ready
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_virt_drivers.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix typos in release notes
  releasenotes/notes/bug-1695861-ebc8a0aa7a87f7e0.yaml
  releasenotes/notes/deprecate-nova-manage-network-commands-212726e67bffdfc4.yaml
  releasenotes/notes/hyperv-uefi-secure-boot-a2a617ac2c313afd.yaml
  releasenotes/notes/instance-path-2efca507456d8a70.yaml
  releasenotes/notes/removing-pci-parent_addr-migration-f7dfa2b441cf30e8.yaml
  releasenotes/notes/server_migrations-30519b35d3ea6763.yaml
  releasenotes/notes/validate-expired-user-tokens-57a265cb4ee4ba6f.yaml
Due: none

Revert "Refine waiting for vif plug events during _hard_reboot"
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix message for unexpected external event
  nova/compute/manager.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

only increment disk address unit for scsi devices
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: handle DiskNotFound during update_available_resource
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/test_images.py
  nova/virt/images.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add disabled field to CellMapping object
  nova/objects/cell_mapping.py
  nova/tests/fixtures.py
  nova/tests/unit/objects/test_cell_mapping.py
  nova/tests/unit/objects/test_objects.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Clarify log in RT._update_usage_from_migration
  nova/compute/resource_tracker.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

ironic: stop lying to the RT when ironic is down
  nova/compute/manager.py
  nova/exception.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/ironic/test_driver.py
  nova/virt/ironic/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Preserve multiattach flag when refreshing connection_info
  nova/tests/unit/virt/test_block_device.py
  nova/virt/block_device.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Don't log a warning for InstanceNotFound with deleted VIFs
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Handle EndpointNotFound when building image_ref_url in notifications
  nova/notifications/base.py
  nova/tests/unit/notifications/test_base.py
  releasenotes/notes/bug-1753550-image-ref-url-notifications-42df5911a46b7de7.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove useless run_periodic_tasks call in ClientRouter
  nova/rpc.py
  nova/tests/functional/regressions/test_bug_1627838.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

deprecate fping_path config option
  nova/conf/api.py
  releasenotes/notes/deprecate_fping_path-87d192cf0e6a5930.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add more functional test for placement.usage
  nova/tests/functional/api/openstack/placement/gabbits/usage.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Remove translate and a TODO
  nova/api/openstack/placement/exception.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach
