Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-live-migration: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^api-.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*\.py$, ^nova/tests/functional/.*$, ^nova/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-ceph: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$, ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-v20-api: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-src-oslo.versionedobjects: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(placement-)?api-.*$, ^.git.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^tests-py3.txt$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$

Convert vrouter legacy plugging to os-vif
  nova/network/os_vif_util.py
  nova/privsep/libvirt.py
  nova/tests/unit/network/test_os_vif_util.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
  releasenotes/notes/move-vrouter-plug-unplug-to-separate-os-vif-plugin-5557c9cd6f926fd8.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add a warning for max_concurrent_live_migrations
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Reject networks with QoS policy
  nova/api/openstack/compute/attach_interfaces.py
  nova/compute/manager.py
  nova/exception.py
  nova/network/neutronv2/api.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/network/test_neutronv2.py
  nova/virt/fake.py
  releasenotes/notes/reject-networks-with-qos-policy-2746c74fd1f3ff26.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Create RequestGroup from neutron port
  nova/objects/request_spec.py
  nova/tests/unit/objects/test_request_spec.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Include requested_resources to allocation candidate query
  nova/scheduler/utils.py
  nova/tests/unit/scheduler/test_utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Reject unshelve with port having resource request
  nova/api/openstack/compute/shelve.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/api/openstack/compute/test_shelve.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Reject migrate with port having resource request
  nova/api/openstack/compute/migrate_server.py
  nova/tests/functional/api_sample_tests/test_migrate_server.py
  nova/tests/functional/api_sample_tests/test_server_migrations.py
  nova/tests/functional/compute/test_live_migration.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/api/openstack/compute/test_migrate_server.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Reject server create with port having resource request
  nova/api/openstack/common.py
  nova/api/openstack/compute/servers.py
  nova/compute/api.py
  nova/exception.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Read port resource request from Neutron
  nova/compute/api.py
  nova/network/api.py
  nova/network/base_api.py
  nova/network/neutronv2/api.py
  nova/tests/unit/api/openstack/fakes.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Reject evacuate with port having resource request
  nova/api/openstack/compute/evacuate.py
  nova/tests/functional/api_sample_tests/test_evacuate.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/api/openstack/compute/test_evacuate.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Reject resize with port having resource request
  nova/api/openstack/common.py
  nova/api/openstack/compute/servers.py
  nova/tests/functional/api_sample_tests/test_servers.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/api/openstack/compute/test_server_actions.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix port dns_name reset
  nova/network/neutronv2/api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

FUPs: ReportClient traffic series
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix string interpolations in logging calls
  nova/policy.py
  nova/tests/unit/api/openstack/compute/test_flavor_manage.py
  nova/tests/unit/test_policy.py
  nova/virt/libvirt/storage/rbd_utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Skip checking of target_dev for vhostuser
  nova/tests/unit/virt/libvirt/test_guest.py
  nova/virt/libvirt/guest.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add fill_virtual_interface_list online_data_migration script
  nova/cmd/manage.py
  nova/objects/virtual_interface.py
  nova/tests/functional/db/test_virtual_interface.py
  releasenotes/notes/fill_virtual_interface_list-1ec5bcccde2ebd22.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Force refresh instance info_cache during heal
  nova/compute/manager.py
  nova/network/neutronv2/api.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Don't call begin_detaching when detaching volume from shelved vm
  nova/compute/api.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add configuration of maximum disk devices to attach
  doc/source/user/block-device-mapping.rst
  doc/source/user/launch-instance-from-volume.rst
  nova/compute/manager.py
  nova/compute/utils.py
  nova/conf/compute.py
  nova/tests/functional/test_conf_max_attach_disk_devices.py
  nova/virt/libvirt/blockinfo.py
  releasenotes/notes/conf-max-attach-disk-devices-82dc1e0825e00b35.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix config docs for handle_virt_lifecycle_events
  nova/conf/compute.py
  nova/conf/workarounds.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Move setting mac addresses for network devices to privsep.
  nova/network/linux_net.py
  nova/network/linux_utils.py
  nova/privsep/linux_net.py
  nova/tests/functional/api_sample_tests/api_sample_base.py
  nova/tests/unit/network/test_linux_net.py
  nova/tests/unit/network/test_manager.py
  nova/tests/unit/network/test_utils.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/tests/unit/virt/xenapi/test_xenapi.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Move interface disabling to privsep.
  nova/network/linux_net.py
  nova/privsep/linux_net.py
  nova/tests/unit/network/test_linux_net.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Switch tempest-slow to be run on python 3
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Add support for vrouter HW datapath offloads
  lower-constraints.txt
  nova/network/os_vif_util.py
  nova/tests/unit/network/test_os_vif_util.py
  nova/tests/unit/virt/libvirt/test_vif.py
  releasenotes/notes/vrouter-hw-offloads-38257f49ac1d3a60.yaml
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Duplicate os-vif datapath offload metadata
  nova/network/os_vif_util.py
  nova/tests/unit/network/test_os_vif_util.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Collect duplicate codepaths in os_vif_util
  nova/network/os_vif_util.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Move retry from _update to _update_to_placement
  nova/compute/resource_tracker.py
  nova/tests/unit/compute/test_resource_tracker.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix incompatible version handling in BuildRequest
  nova/objects/build_request.py
  nova/tests/unit/objects/test_build_request.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Ignore SAWarnings for "Evaluating non-mapped column expression"
  nova/tests/fixtures.py
Due: nova-tox-functional

PCI: do not force remove allocated devices
  nova/pci/manager.py
  nova/tests/unit/pci/test_manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fix port dns_name reset
  nova/network/neutronv2/api.py
  nova/tests/fixtures.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Per-instance serial number
  nova/conf/libvirt.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/per-instance-serial-f2e597cb05d1b09e.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

Fup for the bandwidth resource provider series
  nova/api/openstack/compute/servers.py
  nova/compute/api.py
  nova/exception.py
  nova/network/neutronv2/api.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/network/test_neutronv2.py
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, neutron-tempest-linuxbridge, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full

doc: link admin/configuration from admin home page
  doc/source/admin/index.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

doc: link Kashyap's cpu model talk to the libvirt driver config docs
  doc/source/admin/configuration/hypervisor-kvm.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

doc: update the security groups admin doc
  doc/source/admin/security-groups.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Change nova-next job to run with python3
  .zuul.yaml
  playbooks/legacy/nova-next/run.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional, nova-live-migration, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, neutron-grenade-multinode, legacy-grenade-dsvm-neutron-multinode-live-migration, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-multinode-full, tempest-full, neutron-grenade, legacy-tempest-dsvm-nova-v20-api, legacy-tempest-dsvm-multinode-full, legacy-tempest-dsvm-neutron-dvr-multinode-full, neutron-tempest-dvr-ha-multinode-full, legacy-tempest-dsvm-neutron-src-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-grenade-dsvm-neutron-multinode-zero-downtime, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-neutron-pg-full
