Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, neutron-tempest-linuxbridge, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Path conditions:
  nova-dsvm-multinode-base: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tox-functional-py36: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py37: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: unless all of: ^(?!.zuul.yaml)(?!nova/virt/libvirt/)(?!nova/privsep/).*$, ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-simple-crypto-devstack-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-multinode-zero-downtime: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Prevent starting services with older than N-1 computes
  doc/source/contributor/ptl-guide.rst
  nova/api/openstack/wsgi_app.py
  nova/exception.py
  nova/objects/service.py
  nova/service.py
  nova/tests/functional/test_service.py
  nova/tests/unit/api/openstack/test_requestlog.py
  nova/tests/unit/test_fixtures.py
  nova/tests/unit/test_service.py
  nova/tests/unit/test_utils.py
  nova/utils.py
  releasenotes/notes/prevent-starting-services-with-old-compute-fc80b4ff58a2aaea.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Use _evacuate_server helper in func test
  nova/tests/functional/integrated_helpers.py
  nova/tests/functional/libvirt/test_evacuate.py
  nova/tests/functional/notification_sample_tests/test_compute_task.py
  nova/tests/functional/regressions/test_bug_1669054.py
  nova/tests/functional/regressions/test_bug_1713783.py
  nova/tests/functional/regressions/test_bug_1764883.py
  nova/tests/functional/regressions/test_bug_1794996.py
  nova/tests/functional/regressions/test_bug_1815153.py
  nova/tests/functional/regressions/test_bug_1823370.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/functional/test_server_group.py
  nova/tests/functional/test_servers.py
  nova/tests/functional/wsgi/test_services.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Reproduce bug 1896463 in func env
  nova/tests/functional/regressions/test_bug_1896463.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Set instance host and drop migration under lock
  nova/compute/manager.py
  nova/compute/resource_tracker.py
  nova/tests/functional/regressions/test_bug_1896463.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Add upgrade check about old computes
  doc/source/cli/nova-status.rst
  doc/source/install/verify.rst
  nova/cmd/status.py
  nova/tests/unit/cmd/test_status.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

[doc]: Fix glance image_metadata link
  doc/source/admin/configuration/hypervisor-xen-libvirt.rst
  doc/source/admin/cpu-topologies.rst
  doc/source/admin/huge-pages.rst
Due: none

Use cell targeted context to query BDMs for metadata
  nova/api/metadata/base.py
  nova/tests/unit/test_metadata.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Set migrate_data.vifs only when using multiple port bindings
  nova/compute/manager.py
  nova/tests/functional/regressions/test_bug_1888395.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/virt/libvirt/fakelibvirt.py
  nova/tests/unit/virt/test_virt_drivers.py
  releasenotes/notes/restore-rocky-portbinding-semantics-48e9b1fa969cc5e9.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Add a regression test for 5.12 compute API issue
  nova/tests/functional/regressions/test_bug_1902925.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Bump the lowest eventlet version to 0.26.1
  lower-constraints.txt
  releasenotes/notes/dnspython-2.0.0-not-supported-by-eventlet-b8adf73ed9e14817.yaml
  requirements.txt
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Fix the compute RPC 5.12 issue
  nova/compute/manager.py
  nova/tests/functional/regressions/test_bug_1902925.py
  releasenotes/notes/bug_1902925-351f563340a1e9a5.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Update pci stat pools based on PCI device changes
  nova/pci/manager.py
  nova/pci/stats.py
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/unit/pci/test_stats.py
  nova/tests/unit/virt/libvirt/fakelibvirt.py
  releasenotes/notes/bug-1892361-pci-deivce-type-update-c407a66fd37f6405.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

zuul: Merge nova-evacuate into nova-multinode-live-migration
  .zuul.yaml
  playbooks/nova-live-migration/post-run.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

zuul: Replace nova-live-migration with zuulv3 jobs
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Modify glance's copy_image permission for nova-ceph-multistore
  playbooks/ceph/glance-copy-policy.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Remove six.iteritems/itervalues/iterkeys
  nova/api/openstack/compute/hosts.py
  nova/cmd/manage.py
  nova/compute/provider_tree.py
  nova/scheduler/host_manager.py
  nova/test.py
  nova/tests/unit/api/openstack/compute/test_extended_ips.py
  nova/tests/unit/api/openstack/compute/test_extended_ips_mac.py
  nova/tests/unit/api/openstack/compute/test_instance_actions.py
  nova/tests/unit/api/openstack/test_wsgi.py
  nova/tests/unit/db/test_db_api.py
  nova/tests/unit/objects/test_objects.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Remove six.byte2int/int2byte
  nova/api/validation/parameter_types.py
  nova/cmd/common.py
  nova/compute/api.py
  nova/compute/manager.py
  nova/console/securityproxy/rfb.py
  nova/tests/functional/api_sample_tests/test_servers.py
  nova/tests/unit/test_api_validation.py
  nova/tests/unit/test_utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

zuul: Reintroduce nova-dsvm-multinode-base
  .zuul.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

rbd: Only log import failures when the RbdDriver is used
  nova/storage/rbd_utils.py
  nova/tests/unit/image/test_glance.py
  nova/tests/unit/virt/libvirt/test_driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Remove compute service level check for qos ops
  nova/api/openstack/common.py
  nova/api/openstack/compute/evacuate.py
  nova/api/openstack/compute/migrate_server.py
  nova/api/openstack/compute/servers.py
  nova/api/openstack/compute/shelve.py
  nova/compute/rpcapi.py
  nova/conductor/tasks/migrate.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/api/openstack/compute/test_migrate_server.py
  nova/tests/unit/api/openstack/compute/test_server_actions.py
  nova/tests/unit/api/openstack/compute/test_shelve.py
  nova/tests/unit/api/openstack/test_common.py
  nova/tests/unit/conductor/tasks/test_migrate.py
  nova/tests/unit/policies/test_evacuate.py
  nova/tests/unit/policies/test_migrate_server.py
  nova/tests/unit/policies/test_servers.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

functional: Add live migration tests for PCI, SR-IOV servers
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/unit/virt/libvirt/fakelibvirt.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

functional: Expand SR-IOV live migration tests with NUMA
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Add os-volume_attachments reference docs
  doc/source/reference/attach-volume.rst
  doc/source/reference/attach_volume.diag
  doc/source/reference/index.rst
Due: none

Fix unplugging VIF when migrate/resize VM
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/unplug-vifs-in-resize_instance-fcd98ea44e4b8725.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Improve error handling during service level check
  nova/tests/unit/test_utils.py
  nova/utils.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Remove [database]connection defaulting
  nova/conf/database.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Update contributor guide for Wallaby
  doc/source/contributor/how-to-get-involved.rst
  doc/source/contributor/process.rst
Due: none

Add functional-py39 testing
  .zuul.yaml
  tox.ini
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Handle disabled CPU features to fix live migration failures
  nova/tests/unit/virt/libvirt/test_config.py
  nova/virt/libvirt/config.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

functional: Wait for revert resize to complete
  nova/tests/functional/test_cross_cell_migrate.py
Due: nova-tox-functional-py36, nova-tox-functional-py37

Change default num_retries for glance to 3
  nova/conf/glance.py
  nova/tests/unit/virt/xenapi/image/test_glance.py
  nova/tests/unit/virt/xenapi/test_vm_utils.py
  releasenotes/notes/increase_glance_num_retries-ddfcd7053631882b.yaml
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

[docs] Fix a placement client's command
  doc/source/admin/configuration/schedulers.rst
Due: none

Restore retrying the RPC connection to conductor
  nova/service.py
  nova/tests/unit/test_service.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

doc: Update the PTL guide
  doc/source/contributor/ptl-guide.rst
Due: none

[Trivial]Add missing white space in the log message
  nova/virt/libvirt/driver.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-lvm, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview

Ignore PCI devices with 32bit domain
  doc/source/admin/networking.rst
  doc/source/admin/pci-passthrough.rst
  nova/conf/pci.py
  nova/pci/manager.py
  nova/tests/unit/pci/test_manager.py
Due: nova-dsvm-multinode-base, nova-tox-functional-py36, nova-tox-functional-py37, nova-live-migration, nova-next, nova-grenade-multinode, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, devstack-plugin-ceph-tempest-py3, tempest-integrated-compute, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, barbican-simple-crypto-devstack-tempest, legacy-grenade-dsvm-neutron-multinode-zero-downtime, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, nova-tempest-v2-api, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview
