Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, neutron-linuxbridge-tempest, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

nova-tox-functional-centos8-py36:
  parent: openstack-tox-functional-py36
  nodeset: devstack-single-node-centos-8-stream
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.6 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py36`` environment.
  
  
  ...

nova-tox-functional-py38:
  parent: openstack-tox-functional-py38
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.8 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py38`` environment.
  
  
  ...

nova-tox-functional-py39:
  parent: openstack-tox-functional-py39
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.9 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py39`` environment.
  
  
  ...

nova-live-migration:
  parent: tempest-multinode-full-py3
  description: 'Run tempest live migration tests against local qcow2 ephemeral storage
  
    and shared LVM/iSCSI cinder volumes.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: (^tempest\.api\.compute\.admin\.(test_live_migration|test_migration))
  ...

nova-live-migration-ceph:
  parent: devstack-plugin-ceph-multinode-tempest-py3
  description: 'Run tempest live migration tests against ceph ephemeral storage and
  
    cinder volumes.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: (^tempest\.api\.compute\.admin\.(test_live_migration|test_migration))
    devstack_local_conf:
  ...

nova-lvm:
  parent: devstack-tempest
  description: 'Run tempest compute API tests using LVM image backend. This only runs
  
    against nova/virt/libvirt/* changes.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: ^tempest\.api\.compute
    tempest_exclude_regex: .*\[.*\bslow\b.*\]
    devstack_local_conf:
  ...

nova-next:
  parent: tempest-multinode-full-py3
  description: 'This job was added in Newton when placement and cellsv2
  
    were optional. Placement and cellsv2 are required starting in Ocata. In
  
    Pike, the service user token functionality was added. This job is also
  
  ...

nova-multi-cell:
  parent: tempest-multinode-full-py3
  description: 'Multi-node python3 job which runs with two nodes and two non-cell0
  
    cells. The compute on the controller runs in cell1 and the compute
  
    on the subnode runs in cell2.
  
    '
  vars:
    tox_envlist: all
  ...

nova-osprofiler-redis:
  parent: tempest-smoke-py3-osprofiler-redis
  description: 'Runs osprofiler with the Redis collector on a subset of compute-specific
  
    tempest-full-py3 smoke tests.
  
    '
  required-projects:
  - openstack/nova
  vars:
    tox_envlist: all
  ...

ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  voting: false

cyborg-tempest:
  voting: false

barbican-tempest-plugin-simple-crypto:
  voting: false

Add debug logging when Instance raises OrphanedObjectError
  nova/objects/instance.py
  nova/tests/unit/objects/test_instance.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

enable validations in nova-lvm
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Refactor CinderFixture
  nova/tests/fixtures/cinder.py
  nova/tests/functional/notification_sample_tests/test_instance.py
  nova/tests/functional/regressions/test_bug_1899835.py
  nova/tests/functional/regressions/test_bug_1937084.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/functional/test_servers.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Remove deleted projects from flavor access list
  nova/api/openstack/compute/flavor_access.py
  nova/api/openstack/identity.py
  nova/tests/unit/api/openstack/compute/test_flavor_access.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add config option to configure TB cache size
  .zuul.yaml
  nova/conf/libvirt.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/libvirt-tb-cache-size-c0d0d672c0950393.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix up inconsistent max_count argument in o-d-ms
  nova/db/main/api.py
  nova/objects/block_device.py
  nova/objects/instance.py
  nova/objects/pci_device.py
  nova/objects/quotas.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Decorate only Flavor.get_* methods that execute queries
  nova/objects/flavor.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Remove deprecated AZ filter.
  doc/source/admin/availability-zones.rst
  doc/source/admin/scheduling.rst
  doc/source/contributor/testing/libvirt-numa.rst
  nova/conf/scheduler.py
  nova/objects/selection.py
  nova/scheduler/filters/availability_zone_filter.py
  nova/scheduler/request_filter.py
  nova/tests/functional/api_sample_tests/api_sample_base.py
  nova/tests/functional/test_aggregates.py
  nova/tests/functional/test_cross_az_attach.py
  nova/tests/unit/scheduler/filters/test_availability_zone_filters.py
  nova/tests/unit/scheduler/test_request_filter.py
  releasenotes/notes/az-filter-removal-587f7337040b6216.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

[stable-only] Cap virtualenv/setuptools
  tox.ini
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Add a new NumInstancesWeigher
  doc/source/admin/scheduling.rst
  nova/conf/scheduler.py
  nova/scheduler/weights/num_instances.py
  nova/tests/unit/scheduler/weights/test_weights_num_instances.py
  releasenotes/notes/bp-num_instances_weigher-bba342c82aac5509.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

libvirt: Add 'COMPUTE_ADDRESS_SPACE_*' traits support
  nova/tests/functional/test_servers_provider_tree.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/driver.py
  nova/virt/fake.py
  nova/virt/hyperv/driver.py
  nova/virt/ironic/driver.py
  nova/virt/libvirt/driver.py
  nova/virt/vmwareapi/driver.py
  nova/virt/zvm/driver.py
  requirements.txt
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Bump MIN_{LIBVIRT,QEMU} for "Bobcat"
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/functional/libvirt/test_vpmem.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
  releasenotes/notes/bobcat-libvirt-QEMU-version-bump-720b2528d521dfb1.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmwareapi: Limit reported free space by capacity
  nova/virt/vmwareapi/host.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Remove unused mocks
  nova/tests/unit/virt/ironic/test_driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Add upgrade check for compute-object-ids linkage
  nova/cmd/status.py
  nova/db/main/api.py
  nova/tests/unit/cmd/test_status.py
  releasenotes/notes/compute-object-ids-e6dee31eb7f1ce34.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Enforce correct choice for [DEFAULT] enabled_ssl_apis
  nova/conf/service.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Drop unused mitmproxy
  custom-requirements.txt
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Prevent resize of BIOS VM to > 128 vCPUs
  nova/tests/unit/virt/vmwareapi/test_vmops.py
  nova/virt/vmwareapi/vmops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Remove n-v ceph live migration job from gate
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Delete duplicate DRS rules
  nova/virt/vmwareapi/vmops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

allow power-on to fail on finish_resize
  nova/tests/unit/virt/vmwareapi/test_vmops.py
  nova/virt/vmwareapi/vmops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix tox docs target
  tox.ini
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Update contributor guide for 2023.2 Bobcat
  doc/source/contributor/how-to-get-involved.rst
  doc/source/contributor/process.rst
Due: none

Use OSC in run-evacuate-hook instead of novaclient
  roles/run-evacuate-hook/files/setup_evacuate_resources.sh
  roles/run-evacuate-hook/files/test_evacuate.sh
  roles/run-evacuate-hook/files/test_negative_evacuate.sh
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix bindep for Debian bookworm
  bindep.txt
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Reproduce bug #2025480 in a functional test
  nova/tests/functional/regressions/test_bug_2025480.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

vmware: Move get_object_property() to vim_util
  nova/tests/unit/virt/vmwareapi/test_vmops.py
  nova/virt/vmwareapi/vim_util.py
  nova/virt/vmwareapi/vm_util.py
  nova/virt/vmwareapi/vmops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Add sync of traits to cluster custom attributes
  nova/conf/vmware.py
  nova/virt/vmwareapi/constants.py
  nova/virt/vmwareapi/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

scheduler: Add method for retrieving all traits
  nova/scheduler/client/report.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Add CustomField helper class in vim_util
  nova/virt/vmwareapi/vim_util.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Do not untrack resources of a server being unshelved
  nova/compute/manager.py
  nova/compute/resource_tracker.py
  nova/compute/stats.py
  nova/compute/vm_states.py
  nova/tests/functional/regressions/test_bug_2025480.py
  nova/tests/unit/compute/test_stats.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

[functional] Don't leak running live migration
  nova/tests/functional/test_servers.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Log excessive lazy-loading behavior
  nova/objects/base.py
  nova/objects/block_device.py
  nova/objects/flavor.py
  nova/objects/host_mapping.py
  nova/objects/instance.py
  nova/objects/instance_group.py
  nova/objects/instance_mapping.py
  nova/objects/migration.py
  nova/objects/pci_device.py
  nova/objects/request_spec.py
  nova/objects/service.py
  nova/tests/unit/objects/test_objects.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Avoid lazy-loads on server create
  nova/objects/instance.py
  nova/tests/unit/objects/test_instance.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Avoid lazy-loading in resize and rebuild/evacuate
  nova/api/openstack/compute/evacuate.py
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_server_actions.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Avoid lazy-loads in resize
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_server_actions.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Remove a lazy load on every server show
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_servers.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Path conditions:
  nova-tox-functional-centos8-py36: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py38: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py39: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-live-migration-ceph: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: unless all of: ^(?!.zuul.yaml)(?!nova/virt/libvirt/)(?!nova/privsep/).*$, ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-ceph-multistore: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-linuxbridge-tempest: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-tempest-plugin-simple-crypto: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovs-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovs-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-compute-local-ephemeral: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
