Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

nova-dsvm-base:
  parent: legacy-dsvm-base
  description: 'The base job definition for nova devstack/tempest jobs.
  
    Contains common configuration.
  
    '
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/nova
  - openstack/tempest

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

nova-lvm:
  parent: nova-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml

nova-multiattach:
  parent: nova-dsvm-base
  description: 'Run tempest integration tests with volume multiattach support enabled.
  
    This job will only work starting with Queens.
  
    It uses the default Cinder volume type in devstack (lvm) and the
  
    default compute driver in devstack (libvirt). It also disables the
  
  ...

Expose driver_block_device fields consistently
  nova/tests/unit/virt/test_block_device.py
  nova/virt/block_device.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Unmap compute nodes when deleting host mappings in delete cell operation
  nova/cmd/manage.py
  nova/tests/functional/test_nova_manage.py
  nova/tests/unit/test_nova_manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[doc] Add soft_deleted flag
  api-ref/source/parameters.yaml
  api-ref/source/servers.inc
  nova/api/openstack/compute/schemas/servers.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Skip ServerActionsTestJSON.test_rebuild_server for cells v1 job
  devstack/tempest-dsvm-cells-rc
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Skip placement on rebuild in same host
  nova/scheduler/manager.py
  nova/tests/fixtures.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/scheduler/test_scheduler.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

log stale allocations as WARNING instead of DEBUG
  nova/compute/resource_tracker.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add CellMapping.get_by_project_id() query method
  nova/objects/cell_mapping.py
  nova/tests/functional/db/test_cell_mapping.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Make get_instance_objects_sorted() be smart about cells
  nova/compute/instance_list.py
  nova/compute/multi_cell_list.py
  nova/conf/api.py
  nova/tests/fixtures.py
  nova/tests/functional/compute/test_instance_list.py
  nova/tests/unit/api/openstack/fakes.py
  nova/tests/unit/compute/test_instance_list.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove mox in test_xenapi.py (2)
  nova/tests/unit/virt/xenapi/test_xenapi.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove remaning log translation in scheduler
  nova/scheduler/filters/aggregate_image_properties_isolation.py
  nova/scheduler/filters/aggregate_instance_extra_specs.py
  nova/scheduler/filters/compute_filter.py
  nova/scheduler/filters/core_filter.py
  nova/scheduler/filters/disk_filter.py
  nova/scheduler/filters/image_props_filter.py
  nova/scheduler/filters/io_ops_filter.py
  nova/scheduler/filters/metrics_filter.py
  nova/scheduler/filters/num_instances_filter.py
  nova/scheduler/filters/ram_filter.py
  nova/scheduler/filters/retry_filter.py
  nova/scheduler/filters/utils.py
  nova/scheduler/host_manager.py
  nova/scheduler/manager.py
  nova/scheduler/utils.py
  nova/scheduler/weights/affinity.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add random sleep between retry calls to placement
  nova/scheduler/client/report.py
  nova/tests/unit/scheduler/client/test_report.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

trivial: Explain how the marker works for instance-cell mapping
  nova/cmd/manage.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Migrate tempest-dsvm-multinode-live-migration job in-tree
  .zuul.yaml
  playbooks/legacy/nova-live-migration/post.yaml
  playbooks/legacy/nova-live-migration/run.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Stringify instance UUID
  nova/virt/powervm/vm.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: check image type before removing snapshots in _cleanup_resize
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Address feedback from instance_list smart-cell behavior
  nova/compute/instance_list.py
  nova/compute/multi_cell_list.py
  nova/conf/api.py
  nova/tests/functional/db/test_cell_mapping.py
  nova/tests/unit/compute/test_instance_list.py
  releasenotes/notes/instance-list-limit-to-cells-config-f72701ac68444e95.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move create_tap_dev to the new utility module.
  nova/network/linux_net.py
  nova/network/linux_utils.py
  nova/tests/unit/network/test_linux_net.py
  nova/tests/unit/network/test_utils.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move set_vf_interface_vlan to the new utility module.
  nova/network/linux_net.py
  nova/network/linux_utils.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add test_set_device_mtu_default back in
  nova/tests/unit/network/test_utils.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove support for /os-fping REST API
  api-ref/source/index.rst
  api-ref/source/os-fping.inc
  nova/api/openstack/compute/fping.py
  nova/api/openstack/compute/schemas/fping.py
  nova/conf/api.py
  nova/policies/__init__.py
  nova/policies/fping.py
  nova/tests/functional/api_sample_tests/api_samples/os-fping/fping-get-details-resp.json.tpl
  nova/tests/functional/api_sample_tests/api_samples/os-fping/fping-get-resp.json.tpl
  nova/tests/functional/api_sample_tests/test_fping.py
  nova/tests/unit/api/openstack/compute/test_fping.py
  nova/tests/unit/fake_policy.py
  nova/tests/unit/test_policy.py
  releasenotes/notes/bp-remove-nova-network-api-removals-931ad60364f6f2a8.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

update scheduler to use image-traits
  nova/scheduler/utils.py
  nova/tests/fixtures.py
  nova/tests/functional/test_servers.py
  nova/tests/unit/scheduler/test_utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Avoid warning log when image not exist
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

api-ref: Fix parameters for os-volume-attachments.inc
  api-ref/source/os-volume-attachments.inc
  api-ref/source/parameters.yaml
Due: none

Remove mox in test_compute_api.py (2)
  nova/tests/unit/compute/test_compute_api.py
Due: nova-tox-functional, nova-tox-functional-py35

XenAPI: deprecate the config for image handler class path
  nova/conf/xenserver.py
  nova/exception.py
  nova/tests/unit/virt/xenapi/stubs.py
  nova/tests/unit/virt/xenapi/test_vm_utils.py
  nova/tests/unit/virt/xenapi/test_vmops.py
  nova/virt/xenapi/image/utils.py
  nova/virt/xenapi/vm_utils.py
  nova/virt/xenapi/vmops.py
  releasenotes/notes/xenapi-image-handler-7628a7221b7323e2.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add connection_parameters to list of items copied from database
  nova/conf/database.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Remove '_apply_instance_name_template'
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix irrelevant-files in nova-dsvm-multinode-base
  .zuul.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

libvirt: Report the virtual size of RAW disks
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix HTTP500 error of changes-since on v2.0 API
  nova/api/openstack/compute/servers.py
  nova/tests/unit/api/openstack/compute/test_serversV21.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Flexibly test keystonmiddleware in placement stack
  nova/tests/unit/api/openstack/placement/test_deploy.py
Due: nova-tox-functional, nova-tox-functional-py35

Don't reschedule on RequestedVRamTooHigh errors
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Suppress UUID warning in map_instance unit tests
  nova/tests/unit/test_nova_manage.py
Due: nova-tox-functional, nova-tox-functional-py35

Add contributor docs on deprecating and removing compute REST APIs
  doc/source/contributor/api.rst
  nova/api/openstack/compute/rest_api_version_history.rst
Due: none

Path conditions:
  nova-dsvm-base: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-multiattach: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
