Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

.zuul.yaml:

# See https://docs.openstack.org/infra/manual/drivers.html#naming-with-zuul-v3
# for job naming conventions.
- job:
    name: nova-dsvm-base
    parent: legacy-dsvm-base
    description: |
      The base job definition for nova devstack/tempest jobs.
      Contains common configuration.
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- job:
    name: nova-lvm
    parent: nova-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml

- job:
    name: nova-multiattach
    parent: nova-dsvm-base
    description: |
      Run tempest integration tests with volume multiattach support enabled.
      This job will only work starting with Queens.
      It uses the default Cinder volume type in devstack (lvm) and the
      default compute driver in devstack (libvirt). It also disables the
      Pike Ubuntu Cloud Archive because volume multiattach support with
      the libvirt driver only works with qemu<2.10 or libvirt>=3.10 which
      won't work with the Pike UCA.
    branches: ^(?!stable/(newton|ocata|pike)).*$
    run: playbooks/legacy/nova-multiattach/run.yaml
    post-run: playbooks/legacy/nova-multiattach/post.yaml

- project:
    # Please try to keep the list of job names sorted alphabetically.
    check:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-multiattach
        - nova-tox-functional
        - nova-tox-functional-py35
    experimental:
      jobs:
        - nova-lvm

Fix allocation_candidates not to ignore shared RPs
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

doc: Upgrade placement first
  doc/source/user/upgrade.rst
Due: none

Migrate tempest-dsvm-cells job to an in-tree job definition
  .zuul.yaml
  playbooks/legacy/nova-cells-v1/post.yaml
  playbooks/legacy/nova-cells-v1/run.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

add check before adding cpus to cpuset_reserved
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add host to API and Conductor
  nova/compute/api.py
  nova/conductor/manager.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/conductor/test_conductor.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

api-ref: Parameter verification for servers.inc (1/3)
  api-ref/source/parameters.yaml
  api-ref/source/servers.inc
Due: none

Scheduling Optimization: Remove cell0 from the list of candidates
  nova/scheduler/host_manager.py
  nova/tests/unit/scheduler/test_host_manager.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

api-ref: add a note about volume-backed rescue not being supported
  api-ref/source/servers-actions.inc
Due: none

Remove duplicative implementation of temporary directories.
  nova/tests/unit/virt/libvirt/volume/test_remotefs.py
  nova/virt/libvirt/volume/remotefs.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use a pythonic delete.
  nova/virt/libvirt/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

tests: fixes mock autospec usage
  nova/test.py
  nova/tests/functional/compute/test_resource_tracker.py
  nova/tests/unit/cmd/test_status.py
  nova/tests/unit/compute/test_compute.py
  nova/tests/unit/compute/test_resource_tracker.py
  nova/tests/unit/virt/libvirt/test_designer.py
  nova/tests/unit/virt/powervm/disk/test_ssp.py
  nova/tests/unit/volume/test_cinder.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix spelling mistake of HTTPNotFound exception
  nova/api/openstack/placement/handlers/allocation.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

VMware: add log message for VIF info details
  nova/virt/vmwareapi/vmops.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

tox: Make everything work with Python 3
  doc/source/conf.py
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Add request filter functionality to scheduler
  nova/exception.py
  nova/scheduler/manager.py
  nova/scheduler/request_filter.py
  nova/tests/unit/scheduler/test_request_filter.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add aggregates list to Destination object
  nova/objects/request_spec.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/objects/test_request_spec.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Start untangling network utilities.
  nova/network/linux_net.py
  nova/network/utils.py
  nova/tests/unit/network/test_linux_net.py
  nova/tests/unit/network/test_manager.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Move two more generic network utilities to a move obvious place.
  nova/network/linux_net.py
  nova/network/utils.py
  nova/tests/unit/network/test_linux_net.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/vif.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Make get_allocation_candidates() honor aggregate restrictions
  doc/source/cli/nova-status.rst
  nova/cmd/status.py
  nova/scheduler/client/report.py
  nova/scheduler/utils.py
  nova/tests/unit/cmd/test_status.py
  nova/tests/unit/scheduler/client/test_report.py
  nova/tests/unit/scheduler/test_utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add require_tenant_aggregate request filter
  nova/conf/scheduler.py
  nova/scheduler/request_filter.py
  nova/tests/functional/test_aggregates.py
  nova/tests/unit/scheduler/test_request_filter.py
  releasenotes/notes/tenant_aggregate_placement_filter-c2fed8889f43b6e3.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add AggregateList.get_by_metadata() query method
  nova/objects/aggregate.py
  nova/tests/functional/db/test_aggregate.py
  nova/tests/unit/objects/test_aggregate.py
  nova/tests/unit/objects/test_objects.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add an index on aggregate_metadata.value
  nova/db/sqlalchemy/migrate_repo/versions/389_add_aggregate_metadata_index.py
  nova/db/sqlalchemy/models.py
  nova/tests/unit/db/test_migrations.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Allow force-delete even if task_state is not None
  nova/compute/api.py
  nova/tests/unit/compute/test_compute_api.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix issue for pep8 on py3
  nova/tests/unit/virt/libvirt/volume/test_quobyte.py
  nova/virt/libvirt/guest.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

PowerVM Driver: Network interface attach/detach
  doc/source/user/support-matrix.ini
  nova/tests/unit/virt/powervm/tasks/test_vm.py
  nova/tests/unit/virt/powervm/test_driver.py
  nova/virt/powervm/driver.py
  nova/virt/powervm/tasks/vm.py
  releasenotes/notes/powervm-hotplug-interface-e54c84ebc039b18c.yaml
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

vmware: Fixes _detach_instance_volumes method
  nova/tests/unit/virt/vmwareapi/test_driver_api.py
  nova/virt/vmwareapi/driver.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Use ksa session for cinder microversion check
  nova/tests/unit/volume/test_cinder.py
  nova/volume/cinder.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Fix N332 api_version decorator hacking check
  nova/hacking/checks.py
  nova/tests/unit/test_hacking.py
Due: nova-tox-functional, nova-tox-functional-py35

[placement] Fix bad management of _TRAITS_SYNCED flag
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Documentation for tenant isolation with placement
  doc/source/admin/configuration/schedulers.rst
  releasenotes/notes/tenant_aggregate_placement_filter-c2fed8889f43b6e3.yaml
Due: none

Move get_stashed_volume_connector to compute.utils
  nova/compute/api.py
  nova/compute/utils.py
  nova/tests/unit/compute/test_compute_api.py
  nova/tests/unit/compute/test_compute_utils.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Only attempt a rebuild claim for an evacuation to a new host
  nova/compute/manager.py
  nova/tests/functional/test_servers.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Only attempt a rebuild claim for an evacuation to a new host
  nova/compute/manager.py
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add trusted_certs to instance_extra
  nova/db/sqlalchemy/api.py
  nova/db/sqlalchemy/migrate_repo/versions/390_add_trusted_certs.py
  nova/db/sqlalchemy/models.py
  nova/tests/unit/db/test_db_api.py
  nova/tests/unit/db/test_migrations.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

Add trusted_certs object
  nova/objects/__init__.py
  nova/objects/instance.py
  nova/objects/trusted_certs.py
  nova/tests/unit/fake_instance.py
  nova/tests/unit/objects/test_instance.py
  nova/tests/unit/objects/test_objects.py
  nova/tests/unit/objects/test_trusted_certs.py
Due: nova-dsvm-base, nova-tox-functional, nova-tox-functional-py35, nova-lvm, nova-multiattach

[placement] Add to contributor docs about handler testing
  doc/source/contributor/placement.rst
Due: none

Remove unnecessary code encoding specification
  placement-api-ref/source/conf.py
Due: none
