Repository openstack/nova: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, neutron-linuxbridge-tempest, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

nova-tox-functional-centos8-py36:
  parent: openstack-tox-functional-py36
  nodeset: devstack-single-node-centos-8-stream
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.6 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py36`` environment.
  
  
  ...

nova-tox-functional-py38:
  parent: openstack-tox-functional-py38
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.8 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py38`` environment.
  
  
  ...

nova-tox-functional-py39:
  parent: openstack-tox-functional-py39
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.9 with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py39`` environment.
  
  
  ...

nova-live-migration:
  parent: tempest-multinode-full-py3
  description: 'Run tempest live migration tests against local qcow2 ephemeral storage
  
    and shared LVM/iSCSI cinder volumes.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: (^tempest\.api\.compute\.admin\.(test_live_migration|test_migration))
  ...

nova-live-migration-ceph:
  parent: devstack-plugin-ceph-multinode-tempest-py3
  description: 'Run tempest live migration tests against ceph ephemeral storage and
  
    cinder volumes.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: (^tempest\.api\.compute\.admin\.(test_live_migration|test_migration))
    devstack_local_conf:
  ...

nova-lvm:
  parent: devstack-tempest
  description: 'Run tempest compute API tests using LVM image backend. This only runs
  
    against nova/virt/libvirt/* changes.
  
    '
  vars:
    tox_envlist: all
    tempest_test_regex: ^tempest\.api\.compute
    tempest_exclude_regex: .*\[.*\bslow\b.*\]
    devstack_local_conf:
  ...

nova-next:
  parent: tempest-multinode-full-py3
  description: 'This job was added in Newton when placement and cellsv2
  
    were optional. Placement and cellsv2 are required starting in Ocata. In
  
    Pike, the service user token functionality was added. This job is also
  
  ...

nova-multi-cell:
  parent: tempest-multinode-full-py3
  description: 'Multi-node python3 job which runs with two nodes and two non-cell0
  
    cells. The compute on the controller runs in cell1 and the compute
  
    on the subnode runs in cell2.
  
    '
  vars:
    tox_envlist: all
  ...

nova-osprofiler-redis:
  parent: tempest-smoke-py3-osprofiler-redis
  description: 'Runs osprofiler with the Redis collector on a subset of compute-specific
  
    tempest-full-py3 smoke tests.
  
    '
  required-projects:
  - openstack/nova
  vars:
    tox_envlist: all
  ...

ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  voting: false

cyborg-tempest:
  voting: false

barbican-tempest-plugin-simple-crypto:
  voting: false

vmware: Set preferHT on all CUSTOM_NUMASIZE flavors
  nova/scheduler/filters/bigvm_filter.py
  nova/tests/unit/virt/vmwareapi/test_vmops.py
  nova/utils.py
  nova/virt/vmwareapi/vmops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Restart BigVMs with "high" priority
  nova/tests/unit/virt/vmwareapi/test_vmops.py
  nova/virt/vmwareapi/cluster_util.py
  nova/virt/vmwareapi/constants.py
  nova/virt/vmwareapi/driver.py
  nova/virt/vmwareapi/vmops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

add repoducer test for bug 1890244
  nova/tests/unit/compute/test_compute_mgr.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

ignore deleted server groups in validation
  nova/compute/manager.py
  nova/objects/request_spec.py
  nova/tests/functional/regressions/test_bug_1890244.py
  nova/tests/unit/compute/test_compute_mgr.py
  nova/tests/unit/objects/test_request_spec.py
  releasenotes/notes/fix-group-policy-validation-with-deleted-groups-4f685fd1d6b84192.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Revert "Add logging to find test cases leaking libvirt threads"
  nova/tests/fixtures/nova.py
  nova/virt/libvirt/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix wrong description about minimum values
  nova/conf/libvirt.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

db: Resolve additional SAWarning warnings
  nova/db/main/api.py
  nova/objects/cell_mapping.py
  nova/tests/fixtures/nova.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

db: Resolve additional SAWarning warnings
  nova/db/sqlalchemy/api.py
  nova/objects/cell_mapping.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Fix update_cluster_das_vm_override
  nova/virt/vmwareapi/cluster_util.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Add resource overcommit ratio support
  nova/tests/unit/virt/vmwareapi/test_driver_api.py
  nova/virt/vmwareapi/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

doc: mark the max microversion for 2023.1 Antelope
  nova/api/openstack/compute/rest_api_version_history.rst
Due: none

Reproducer for bug 1951656
  nova/tests/functional/regressions/test_bug_1951656.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Handle mdev devices in libvirt 7.7+
  nova/tests/functional/regressions/test_bug_1951656.py
  nova/tests/unit/virt/libvirt/test_config.py
  nova/virt/libvirt/config.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/host.py
  nova/virt/libvirt/utils.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Fix missing image_cache conf group usage
  nova/virt/vmwareapi/vmops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

reenable greendns in nova.
  nova/monkey_patch.py
  nova/tests/functional/test_monkey_patch.py
  releasenotes/notes/greendns-34df7f9fba952bcd.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

vmware: Remove get_vif_info() is_neutron param usage
  nova/virt/vmwareapi/vmops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

[stable-only] Add binary test dependency "python3-devel" for py3 based RPM distros.
  bindep.txt
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Use mysql memory reduction flags for ceph job
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Bump jsonschema minimum to 4.0.0
  nova/tests/unit/compute/test_provider_config.py
  requirements.txt
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Add docs for cpu management
  doc/source/admin/cpu-topologies.rst
Due: none

fup for power management series
  nova/tests/functional/libvirt/test_power_manage.py
  nova/virt/libvirt/cpu/__init__.py
  nova/virt/libvirt/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Doc: update live-migration cmd
  doc/source/admin/live-migration-usage.rst
Due: none

Fix rescue volume-based instance
  nova/compute/api.py
  nova/tests/functional/test_server_rescue.py
  nova/tests/unit/compute/test_api.py
  releasenotes/notes/rescue-volume-based-instance-c6e3fba236d90be7.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

libvirt: Delegate OVS plug to os-vif
  nova/compute/manager.py
  nova/network/model.py
  nova/network/neutron.py
  nova/network/os_vif_util.py
  nova/objects/migrate_data.py
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
  nova/tests/unit/fake_network.py
  nova/tests/unit/network/test_neutron.py
  nova/tests/unit/network/test_os_vif_util.py
  nova/tests/unit/objects/test_migrate_data.py
  nova/tests/unit/virt/libvirt/fakelibvirt.py
  nova/tests/unit/virt/libvirt/test_driver.py
  nova/tests/unit/virt/libvirt/test_vif.py
  nova/virt/libvirt/driver.py
  nova/virt/libvirt/vif.py
  releasenotes/notes/libvirt-delegate-ovs-plugging-to-os-vif-6adc0398a0e0df58.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, neutron-linuxbridge-tempest, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Add the 2023.1 Antelope prelude section
  releasenotes/notes/antelope-prelude-4a99907b00e739f8.yaml
Due: none

Add service version for Antelope
  doc/source/admin/upgrades.rst
  nova/objects/service.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

limits: Fix per-flavor limit API value type
  nova/api/openstack/compute/views/limits.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

testing: Reset affinity support global variables
  nova/scheduler/utils.py
  nova/test.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

[vmwareapi] Look up vmdk volume by uuid directly first
  nova/tests/unit/virt/vmwareapi/test_volumeops.py
  nova/virt/vmwareapi/volumeops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Make nova-next reduce mysql memory
  .zuul.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-lvm, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

[stable-only] Update .gitreview for stable/2023.1
  .gitreview
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

[stable-only] Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39

Update min support for Bobcat
  nova/objects/service.py
  nova/tests/functional/libvirt/test_pci_sriov_servers.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Cherry-Pick: VMware: Support volumes backed by VStorageObject
  nova/tests/unit/virt/vmwareapi/test_vm_util.py
  nova/tests/unit/virt/vmwareapi/test_volumeops.py
  nova/virt/vmwareapi/constants.py
  nova/virt/vmwareapi/vm_util.py
  nova/virt/vmwareapi/volumeops.py
  releasenotes/notes/add-vmware-fcd-support-822edccb0e38bc37.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

[ironic] IPA imports VMDKs via qemu-img just fine
  nova/virt/ironic/driver.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix linting with tox4
  .pre-commit-config.yaml
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Fix SUDS logging and use get_hardware_devices call
  nova/virt/vmwareapi/vm_util.py
  nova/virt/vmwareapi/volumeops.py
Due: nova-tox-functional-centos8-py36, nova-tox-functional-py38, nova-tox-functional-py39, nova-live-migration, nova-live-migration-ceph, nova-next, nova-multi-cell, nova-osprofiler-redis, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, nova-ceph-multistore, tempest-integrated-compute, nova-grenade-multinode, tempest-ipv6-only, openstacksdk-functional-devstack, cyborg-tempest, barbican-tempest-plugin-simple-crypto, ironic-tempest-bfv, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, devstack-plugin-nfs-tempest-full, tempest-full-py3-opensuse15, tempest-pg-full, nova-tempest-full-oslo.versionedobjects, nova-tempest-v2-api, neutron-ovs-tempest-dvr-ha-multinode-full, neutron-ovs-tempest-iptables_hybrid, os-vif-ovs, devstack-platform-fedora-latest, devstack-platform-fedora-latest-virt-preview, devstack-plugin-ceph-compute-local-ephemeral

Path conditions:
  nova-tox-functional-centos8-py36: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py38: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-tox-functional-py39: unless all of: ^.*\.rst$, ^api-.*$, ^doc/(source|test)/.*$, ^nova/locale/.*$, ^releasenotes/.*$
  nova-live-migration: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-live-migration-ceph: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-lvm: unless all of: ^(?!.zuul.yaml)(?!nova/virt/libvirt/)(?!nova/privsep/).*$, ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-next: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-multi-cell: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-osprofiler-redis: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-ceph-multistore: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-linuxbridge-tempest: unless all of: ^(?!nova/network/.*)(?!nova/virt/libvirt/vif.py).*$
  tempest-integrated-compute: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-grenade-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cyborg-tempest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  barbican-tempest-plugin-simple-crypto: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-full-oslo.versionedobjects: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  nova-tempest-v2-api: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovs-tempest-dvr-ha-multinode-full: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovs-tempest-iptables_hybrid: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  os-vif-ovs: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-platform-fedora-latest-virt-preview: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-compute-local-ephemeral: unless all of: ^api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/policies/.*$, ^nova/tests/.*$, ^nova/test.py$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
